<div style="width:600px; margin:100px;auto;">
  <ul class="main-container">
    <li>
      <h4>Button Primary</h4>
      <lib-button [color]="'primary'">Primary</lib-button>
    </li>
    <li></li>
    <li>
      <h4>Button Success</h4>
      <lib-button [color]="'success'">Success</lib-button>
    </li>
    <li></li>
    <li>
      <h4>Button Warning</h4>
      <lib-button [color]="'warning'">Warning</lib-button>
    </li>
    <li>
      <h4>Button Danger</h4>
      <lib-button [color]="'danger'">Danger</lib-button>
    </li>
    <li>
      <h4>Button Text</h4>
      <lib-button [color]="'text'">Text</lib-button>
    </li>
    <li>
      <h4>Button Accent</h4>
      <lib-button [color]="'accent'">Accent</lib-button>
    </li>
    <li>
      <h4>Input</h4>
      <lib-input [type]="'text'" [placeholder]="'your name'"></lib-input>
    </li>
  </ul>
</div>
<router-outlet />
