<div class="main-container">
  <div>
    <header>Standart Button</header>
    <ul class="main-ul">
      <li>
        <h4>Button Primary Color, size: xxl</h4>
        <fui-button> default</fui-button>
      </li>
      <li></li>
      <li>
        <h4>Button Success Color, Size: xl</h4>
        <fui-button [color]="'success'" [size]="'sizexl'">Success</fui-button>
      </li>
      <li></li>
      <li>
        <h4>Button Warning Color, Size: large</h4>
        <fui-button [color]="'warning'" [size]="'sizel'">Warning</fui-button>
      </li>
      <li>
        <h4>Button Danger Color, Size: Medium (default)</h4>
        <fui-button [color]="'danger'">Danger</fui-button>
      </li>
      <li>
        <h4>Button Text Color, Size: small</h4>
        <fui-button [color]="'text'" [size]="'sizes'">Text</fui-button>
      </li>
      <li>
        <h4>Button Accent Color, Size: extra small</h4>
        <fui-button [color]="'accent'" [size]="'sizexs'">Accent</fui-button>
      </li>
      <!-- <li>
        <h4>Input</h4>
        <lib-input [type]="'text'" [placeholder]="'your name'"></lib-input>
      </li> -->
    </ul>
  </div>
  <div class="fullWidth">
    <header>Full Button</header>
    <ul class="main-ul">
      <li>
        <h4>Button Primary Color, size: xxl</h4>
        <fui-button [color]="'primary'" [size]="'sizexxl'" [width]="'full'">
          Primary</fui-button
        >
      </li>
      <li></li>
      <li>
        <h4>Button Success Color, Size: xl</h4>
        <fui-button [color]="'success'" [size]="'sizexl'" [width]="'full'"
          >Success</fui-button
        >
      </li>
      <li></li>
      <li>
        <h4>Button Warning Color, Size: large</h4>
        <fui-button [color]="'warning'" [size]="'sizel'" [width]="'full'"
          >Warning</fui-button
        >
      </li>
      <li>
        <h4>Button Danger Color, Size: Medium (default)</h4>
        <fui-button [color]="'danger'" [size]="'sizem'" [width]="'full'"
          >Danger</fui-button
        >
      </li>
      <li>
        <h4>Button Text Color, Size: small</h4>
        <fui-button [color]="'text'" [size]="'sizes'" [width]="'full'"
          >Text</fui-button
        >
      </li>
      <li>
        <h4>Button Accent Color, Size: extra small</h4>
        <fui-button [color]="'accent'" [size]="'sizexs'" [width]="'full'"
          >Accent</fui-button
        >
      </li>
    </ul>
  </div>
</div>
<div class="main-container">
  <div [class]="'fullWidth'">
    <header>Button Empty</header>
    <ul class="main-ul">
      <li>
        <h4>Button Empty Color, size: xxl</h4>
        <fui-button-empty [width]="'full'" [size]="'sizexxl'">
          default</fui-button-empty
        >
      </li>
      <li></li>
      <li>
        <h4>Button Empty Success Color, Size: xl</h4>
        <fui-button-empty [width]="'full'" [color]="'success'" [size]="'sizexl'"
          >Success</fui-button-empty
        >
      </li>
      <li></li>
      <li>
        <h4>Button Empty Warning Color, Size: large</h4>
        <fui-button-empty [width]="'full'" [color]="'warning'" [size]="'sizel'"
          >Warning</fui-button-empty
        >
      </li>
      <li>
        <h4>Button Empty Danger Color, Size: Medium (default)</h4>
        <fui-button-empty [width]="'full'" [color]="'danger'"
          >Danger</fui-button-empty
        >
      </li>
      <li>
        <h4>Button Empty Text Color, Size: small</h4>
        <fui-button-empty [width]="'full'" [color]="'text'" [size]="'sizes'"
          >Text</fui-button-empty
        >
      </li>
      <li>
        <h4>Button Empty Accent Color, Size: extra small</h4>
        <fui-button-empty [width]="'full'" [color]="'accent'" [size]="'sizexs'"
          >Accent</fui-button-empty
        >
      </li>
      <!-- <li>
        <h4>Input</h4>
        <lib-input [type]="'text'" [placeholder]="'your name'"></lib-input>
      </li> -->
    </ul>
  </div>
</div>

<div class="main-container">
  <ul class="main-ul" style="width: 500px">
    <li>
      <header>Standart Input</header>
      <fui-input-base></fui-input-base>
    </li>
  </ul>
  <ul class="main-ul" style="width: 500px">
    <li>
      <header>Input base with placeholder</header>
      <fui-input-base [placeholder]="'masukkin nama lu'"></fui-input-base>
    </li>
  </ul>
</div>

<div class="main-container">
  <ul class="main-ul">
    <li>
      <fui-text [size]="'sizeXL'" [type]="'title'">Default Text</fui-text>
      <fui-text
        >Lorem ipsum dolor sit amet consectetur adipisicing elit.</fui-text
      >
    </li>
  </ul>
  <ul class="main-ul">
    <li>
      <header>Text With Color & Size</header>
      <fui-text [color]="'primary'" [size]="'sizexl'"
        >Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      </fui-text>
    </li>
  </ul>
</div>

<div class="main-container">
  <div>
    <header>Badge</header>
    <ul class="main-ul">
      <h4>Badge Rounded</h4>
      <li class="flex">
        <fui-badge [rounded]="true" [color]="'primary'" [size]="'sizedefault'"
          >Primary</fui-badge
        >
        <fui-badge
          [rounded]="true"
          [color]="'success'"
          [size]="'sizedefault'"
          [isBadgeIcon]="true"
          [icon]="'cross'"
          >Success</fui-badge
        >
        <fui-badge
          [rounded]="true"
          [color]="'warning'"
          [size]="'sizedefault'"
          [isBadgeIcon]="true"
          [icon]="'cross'"
          [iconPosition]="'end'"
          >Warning</fui-badge
        >
        <fui-badge
          [rounded]="true"
          [color]="'danger'"
          [size]="'sizedefault'"
          [underline]="true"
          >Danger</fui-badge
        >
        <fui-badge
          [rounded]="true"
          [color]="'text'"
          [size]="'sizedefault'"
          [isBadgeIcon]="true"
          [icon]="'cross'"
          [iconPosition]="'start'"
          [underline]="true"
          >Text</fui-badge
        >
        <fui-badge
          [rounded]="true"
          [color]="'accent'"
          [size]="'sizedefault'"
          [isBadgeIcon]="true"
          [icon]="'cross'"
          [iconPosition]="'end'"
          [underline]="true"
          >Accent</fui-badge
        >
      </li>
      <h4>Badge Default</h4>
      <li class="flex">
        <fui-badge [color]="'primary'" [size]="'sizedefault'"
          >Primary</fui-badge
        >
        <fui-badge
          [color]="'success'"
          [size]="'sizedefault'"
          [isBadgeIcon]="true"
          [icon]="'cross'"
          >Success</fui-badge
        >
        <fui-badge
          [color]="'warning'"
          [size]="'sizedefault'"
          [isBadgeIcon]="true"
          [icon]="'cross'"
          [iconPosition]="'end'"
          >Warning</fui-badge
        >
        <fui-badge [color]="'danger'" [size]="'sizedefault'" [underline]="true"
          >Danger</fui-badge
        >
        <fui-badge
          [color]="'text'"
          [size]="'sizedefault'"
          [isBadgeIcon]="true"
          [icon]="'cross'"
          [iconPosition]="'start'"
          [underline]="true"
          >Text</fui-badge
        >
        <fui-badge
          [color]="'accent'"
          [size]="'sizedefault'"
          [isBadgeIcon]="true"
          [icon]="'cross'"
          [iconPosition]="'end'"
          [underline]="true"
          >Accent</fui-badge
        >
      </li>

      <h4>Badge Extra Small (XS)</h4>
      <li class="flex">
        <fui-badge [color]="'primary'" [size]="'sizexs'">Primary</fui-badge>
        <fui-badge
          [color]="'success'"
          [size]="'sizexs'"
          [isBadgeIcon]="true"
          [icon]="'cross'"
          >Success</fui-badge
        >
        <fui-badge
          [color]="'warning'"
          [size]="'sizexs'"
          [isBadgeIcon]="true"
          [icon]="'cross'"
          [iconPosition]="'end'"
          >Warning</fui-badge
        >
        <fui-badge [color]="'danger'" [size]="'sizexs'" [underline]="true"
          >Danger</fui-badge
        >
        <fui-badge
          [color]="'text'"
          [size]="'sizexs'"
          [isBadgeIcon]="true"
          [icon]="'cross'"
          [iconPosition]="'start'"
          [underline]="true"
          >Text</fui-badge
        >
        <fui-badge
          [color]="'accent'"
          [size]="'sizexs'"
          [isBadgeIcon]="true"
          [icon]="'cross'"
          [iconPosition]="'end'"
          [underline]="true"
          >Accent</fui-badge
        >
      </li>

      <h4>Badge Small (S)</h4>
      <li class="flex">
        <fui-badge [color]="'primary'" [size]="'sizes'">Primary</fui-badge>
        <fui-badge
          [color]="'success'"
          [size]="'sizes'"
          [isBadgeIcon]="true"
          [icon]="'cross'"
          >Success</fui-badge
        >
        <fui-badge
          [color]="'warning'"
          [size]="'sizes'"
          [isBadgeIcon]="true"
          [icon]="'cross'"
          [iconPosition]="'end'"
          >Warning</fui-badge
        >
        <fui-badge [color]="'danger'" [size]="'sizes'" [underline]="true"
          >Danger</fui-badge
        >
        <fui-badge
          [color]="'text'"
          [size]="'sizes'"
          [isBadgeIcon]="true"
          [icon]="'cross'"
          [iconPosition]="'start'"
          [underline]="true"
          >Text</fui-badge
        >
        <fui-badge
          [color]="'accent'"
          [size]="'sizes'"
          [isBadgeIcon]="true"
          [icon]="'cross'"
          [iconPosition]="'end'"
          [underline]="true"
          >Accent</fui-badge
        >
      </li>

      <h4>Badge Medium (M)</h4>
      <li class="flex">
        <fui-badge [color]="'primary'" [size]="'sizem'">Primary</fui-badge>
        <fui-badge
          [color]="'success'"
          [size]="'sizem'"
          [isBadgeIcon]="true"
          [icon]="'cross'"
          >Success</fui-badge
        >
        <fui-badge
          [color]="'warning'"
          [size]="'sizem'"
          [isBadgeIcon]="true"
          [icon]="'cross'"
          [iconPosition]="'end'"
          >Warning</fui-badge
        >
        <fui-badge [color]="'danger'" [size]="'sizem'" [underline]="true"
          >Danger</fui-badge
        >
        <fui-badge
          [color]="'text'"
          [size]="'sizem'"
          [isBadgeIcon]="true"
          [icon]="'cross'"
          [iconPosition]="'start'"
          [underline]="true"
          >Text</fui-badge
        >
        <fui-badge
          [color]="'accent'"
          [size]="'sizem'"
          [isBadgeIcon]="true"
          [icon]="'cross'"
          [iconPosition]="'end'"
          [underline]="true"
          >Accent</fui-badge
        >
      </li>

      <h4>Badge Large (L)</h4>
      <li class="flex">
        <fui-badge [color]="'primary'" [size]="'sizel'">Primary</fui-badge>
        <fui-badge
          [color]="'success'"
          [size]="'sizel'"
          [isBadgeIcon]="true"
          [icon]="'cross'"
          >Success</fui-badge
        >
        <fui-badge
          [color]="'warning'"
          [size]="'sizel'"
          [isBadgeIcon]="true"
          [icon]="'cross'"
          [iconPosition]="'end'"
          >Warning</fui-badge
        >
        <fui-badge [color]="'danger'" [size]="'sizel'" [underline]="true"
          >Danger</fui-badge
        >
        <fui-badge
          [color]="'text'"
          [size]="'sizel'"
          [isBadgeIcon]="true"
          [icon]="'cross'"
          [iconPosition]="'start'"
          [underline]="true"
          >Text</fui-badge
        >
        <fui-badge
          [color]="'accent'"
          [size]="'sizel'"
          [isBadgeIcon]="true"
          [icon]="'cross'"
          [iconPosition]="'end'"
          [underline]="true"
          >Accent</fui-badge
        >
      </li>

      <h4>Badge Extra Large (XL)</h4>
      <li class="flex">
        <fui-badge [color]="'primary'" [size]="'sizexl'">Primary</fui-badge>
        <fui-badge
          [color]="'success'"
          [size]="'sizexl'"
          [isBadgeIcon]="true"
          [icon]="'cross'"
          >Success</fui-badge
        >
        <fui-badge
          [color]="'warning'"
          [size]="'sizexl'"
          [isBadgeIcon]="true"
          [icon]="'cross'"
          [iconPosition]="'end'"
          >Warning</fui-badge
        >
        <fui-badge [color]="'danger'" [size]="'sizexl'" [underline]="true"
          >Danger</fui-badge
        >
        <fui-badge
          [color]="'text'"
          [size]="'sizexl'"
          [isBadgeIcon]="true"
          [icon]="'cross'"
          [iconPosition]="'start'"
          [underline]="true"
          >Text</fui-badge
        >
        <fui-badge
          [color]="'accent'"
          [size]="'sizexl'"
          [isBadgeIcon]="true"
          [icon]="'cross'"
          [iconPosition]="'end'"
          [underline]="true"
          >Accent</fui-badge
        >
      </li>

      <h4>Badge Extra Extra Large (XXL)</h4>
      <li class="flex">
        <fui-badge [color]="'primary'" [size]="'sizexxl'">Primary</fui-badge>
        <fui-badge
          [color]="'success'"
          [size]="'sizexxl'"
          [isBadgeIcon]="true"
          [icon]="'cross'"
          >Success</fui-badge
        >
        <fui-badge
          [color]="'warning'"
          [size]="'sizexxl'"
          [isBadgeIcon]="true"
          [icon]="'cross'"
          [iconPosition]="'end'"
          >Warning</fui-badge
        >
        <fui-badge [color]="'danger'" [size]="'sizexxl'" [underline]="true"
          >Danger</fui-badge
        >
        <fui-badge
          [color]="'text'"
          [size]="'sizexxl'"
          [isBadgeIcon]="true"
          [icon]="'cross'"
          [iconPosition]="'start'"
          [underline]="true"
          >Text</fui-badge
        >
        <fui-badge
          [color]="'accent'"
          [size]="'sizexxl'"
          [isBadgeIcon]="true"
          [icon]="'cross'"
          [iconPosition]="'end'"
          [underline]="true"
          >Accent</fui-badge
        >
      </li>

      <h4>Badge Disabled</h4>
      <li class="flex">
        <fui-badge [color]="'disabled'" [size]="'sizedefault'"
          >Size Default</fui-badge
        >
        <fui-badge
          [color]="'disabled'"
          [size]="'sizexs'"
          [isBadgeIcon]="true"
          [icon]="'cross'"
          >Size XS</fui-badge
        >
        <fui-badge
          [color]="'disabled'"
          [size]="'sizes'"
          [isBadgeIcon]="true"
          [icon]="'cross'"
          [iconPosition]="'end'"
          >Size S</fui-badge
        >
        <fui-badge [color]="'disabled'" [size]="'sizem'" [underline]="true"
          >Size M</fui-badge
        >
        <fui-badge
          [color]="'disabled'"
          [size]="'sizel'"
          [isBadgeIcon]="true"
          [icon]="'cross'"
          [iconPosition]="'start'"
          [underline]="true"
          >Size L</fui-badge
        >
        <fui-badge
          [color]="'disabled'"
          [size]="'sizexl'"
          [isBadgeIcon]="true"
          [icon]="'cross'"
          [iconPosition]="'end'"
          [underline]="true"
          >Size XL</fui-badge
        >
        <fui-badge
          [color]="'disabled'"
          [size]="'sizexxl'"
          [isBadgeIcon]="true"
          [icon]="'cross'"
          [iconPosition]="'end'"
          [underline]="true"
          >Size XXL</fui-badge
        >
      </li>
    </ul>
  </div>
</div>

<div class="main-container">
  <div>
    <header>Empty Prompt</header>
    <ul class="main-ul">
      <li class="flex">
        <fui-empty-prompt
          [title]="'Empty Prompt Title'"
          [buttonText]="'Button'"
          [secondaryButtonText]="'Secondary action'"
          [shadow]="true"
          [secondaryButtonColor]="'primary'"
        >
          You can remove parts of the prompt to simplify it. You can also
          override the title and button size. The component should have a
          max-width of 456px.
        </fui-empty-prompt>
        <fui-empty-prompt
          [title]="'Empty Prompt Title'"
          [buttonText]="'Button'"
          [secondaryButtonText]="'Secondary action'"
          [shadow]="true"
          [secondaryButtonColor]="'primary'"
          [image]="
            'https://preyash2047.github.io/assets/img/no-preview-available.png?h=824917b166935ea4772542bec6e8f636'
          "
          [direction]="'horizontal'"
        >
          You can remove parts of the prompt to simplify it. You can also
          override the title and button size. The component should have a
          max-width of 805px.
        </fui-empty-prompt>
      </li>
    </ul>
    <ul class="main-ul">
      <li class="flex">
        <fui-empty-prompt
          [title]="'Empty Prompt Title'"
          [buttonText]="'Button'"
          [secondaryButtonText]="'Secondary action'"
          [shadow]="false"
          [secondaryButtonColor]="'primary'"
          [icon]="'faceHappy'"
          [iconSize]="'sizel'"
        >
          You can remove parts of the prompt to simplify it. You can also
          override the title and button size. The component should have a
          max-width of 456px.
        </fui-empty-prompt>
        <fui-empty-prompt
          [title]="'Empty Prompt Title'"
          [buttonText]="'Button'"
          [secondaryButtonText]="'Secondary action'"
          [shadow]="false"
          [secondaryButtonColor]="'primary'"
          [image]="
            'https://preyash2047.github.io/assets/img/no-preview-available.png?h=824917b166935ea4772542bec6e8f636'
          "
          [direction]="'horizontal'"
        >
          You can remove parts of the prompt to simplify it. You can also
          override the title and button size. The component should have a
          max-width of 805px.
        </fui-empty-prompt>
      </li>
    </ul>
    <ul class="main-ul">
      <li class="flex">
        <fui-empty-prompt
          [title]="'Empty Prompt Title'"
          [buttonText]="'Button'"
          [secondaryButtonText]="'Secondary action'"
          [shadow]="false"
          [color]="'primary'"
          [icon]="'faceHappy'"
          [iconSize]="'sizel'"
        >
          You can remove parts of the prompt to simplify it. You can also
          override the title and button size. The component should have a
          max-width of 456px.
        </fui-empty-prompt>
        <fui-empty-prompt
          [title]="'Empty Prompt Title'"
          [buttonText]="'Button'"
          [secondaryButtonText]="'Secondary action'"
          [shadow]="false"
          [color]="'primary'"
          [image]="
            'https://preyash2047.github.io/assets/img/no-preview-available.png?h=824917b166935ea4772542bec6e8f636'
          "
          [direction]="'horizontal'"
        >
          You can remove parts of the prompt to simplify it. You can also
          override the title and button size. The component should have a
          max-width of 805px.
        </fui-empty-prompt>
      </li>
    </ul>
    <ul class="main-ul">
      <li class="flex">
        <fui-empty-prompt
          [title]="'Empty Prompt Title'"
          [buttonText]="'Button'"
          [secondaryButtonText]="'Secondary action'"
          [shadow]="false"
          [color]="'success'"
          [secondaryButtonColor]="'primary'"
        >
          You can remove parts of the prompt to simplify it. You can also
          override the title and button size. The component should have a
          max-width of 456px.
        </fui-empty-prompt>
        <fui-empty-prompt
          [title]="'Empty Prompt Title'"
          [buttonText]="'Button'"
          [secondaryButtonText]="'Secondary action'"
          [shadow]="false"
          [color]="'success'"
          [secondaryButtonColor]="'primary'"
          [image]="
            'https://preyash2047.github.io/assets/img/no-preview-available.png?h=824917b166935ea4772542bec6e8f636'
          "
          [direction]="'horizontal'"
        >
          You can remove parts of the prompt to simplify it. You can also
          override the title and button size. The component should have a
          max-width of 805px.
        </fui-empty-prompt>
      </li>
    </ul>
    <ul class="main-ul">
      <li class="flex">
        <fui-empty-prompt
          [title]="'Empty Prompt Title'"
          [buttonText]="'Button'"
          [secondaryButtonText]="'Secondary action'"
          [shadow]="false"
          [color]="'warning'"
          [secondaryButtonColor]="'primary'"
        >
          You can remove parts of the prompt to simplify it. You can also
          override the title and button size. The component should have a
          max-width of 456px.
        </fui-empty-prompt>
        <fui-empty-prompt
          [title]="'Empty Prompt Title'"
          [buttonText]="'Button'"
          [secondaryButtonText]="'Secondary action'"
          [shadow]="false"
          [color]="'warning'"
          [secondaryButtonColor]="'primary'"
          [image]="
            'https://preyash2047.github.io/assets/img/no-preview-available.png?h=824917b166935ea4772542bec6e8f636'
          "
          [direction]="'horizontal'"
        >
          You can remove parts of the prompt to simplify it. You can also
          override the title and button size. The component should have a
          max-width of 805px.
        </fui-empty-prompt>
      </li>
    </ul>
    <ul class="main-ul">
      <li class="flex">
        <fui-empty-prompt
          [title]="'Empty Prompt Title'"
          [buttonText]="'Button'"
          [secondaryButtonText]="'Secondary action'"
          [shadow]="false"
          [color]="'danger'"
          [secondaryButtonColor]="'primary'"
        >
          You can remove parts of the prompt to simplify it. You can also
          override the title and button size. The component should have a
          max-width of 456px.
        </fui-empty-prompt>
        <fui-empty-prompt
          [title]="'Empty Prompt Title'"
          [buttonText]="'Button'"
          [secondaryButtonText]="'Secondary action'"
          [shadow]="false"
          [color]="'danger'"
          [secondaryButtonColor]="'primary'"
          [image]="
            'https://preyash2047.github.io/assets/img/no-preview-available.png?h=824917b166935ea4772542bec6e8f636'
          "
          [direction]="'horizontal'"
        >
          You can remove parts of the prompt to simplify it. You can also
          override the title and button size. The component should have a
          max-width of 805px.
        </fui-empty-prompt>
      </li>
    </ul>
    <ul class="main-ul">
      <li class="flex">
        <fui-empty-prompt
          [title]="'Empty Prompt Title'"
          [buttonText]="'Button'"
          [secondaryButtonText]="'Secondary action'"
          [shadow]="false"
          [color]="'text'"
        >
          You can remove parts of the prompt to simplify it. You can also
          override the title and button size. The component should have a
          max-width of 456px.
        </fui-empty-prompt>
        <fui-empty-prompt
          [title]="'Empty Prompt Title'"
          [buttonText]="'Button'"
          [secondaryButtonText]="'Secondary action'"
          [shadow]="false"
          [color]="'text'"
          [image]="
            'https://preyash2047.github.io/assets/img/no-preview-available.png?h=824917b166935ea4772542bec6e8f636'
          "
          [direction]="'horizontal'"
        >
          You can remove parts of the prompt to simplify it. You can also
          override the title and button size. The component should have a
          max-width of 805px.
        </fui-empty-prompt>
      </li>
    </ul>
    <ul class="main-ul">
      <li class="flex">
        <fui-empty-prompt
          [title]="'Empty Prompt Title'"
          [buttonText]="'Button'"
          [secondaryButtonText]="'Secondary action'"
          [shadow]="false"
          [color]="'accent'"
          [secondaryButtonColor]="'primary'"
        >
          You can remove parts of the prompt to simplify it. You can also
          override the title and button size. The component should have a
          max-width of 456px.
        </fui-empty-prompt>
        <fui-empty-prompt
          [title]="'Empty Prompt Title'"
          [buttonText]="'Button'"
          [secondaryButtonText]="'Secondary action'"
          [shadow]="false"
          [color]="'accent'"
          [secondaryButtonColor]="'primary'"
          [image]="
            'https://preyash2047.github.io/assets/img/no-preview-available.png?h=824917b166935ea4772542bec6e8f636'
          "
          [direction]="'horizontal'"
        >
          You can remove parts of the prompt to simplify it. You can also
          override the title and button size. The component should have a
          max-width of 805px.
        </fui-empty-prompt>
      </li>
    </ul>
    <ul class="main-ul">
      <li class="flex">
        <fui-empty-prompt
          [title]="'Empty Prompt Title'"
          [buttonText]="'Button'"
          [secondaryButtonText]="'Secondary action'"
          [shadow]="false"
          [color]="'disabled'"
          [secondaryButtonColor]="'primary'"
        >
          You can remove parts of the prompt to simplify it. You can also
          override the title and button size. The component should have a
          max-width of 456px.
        </fui-empty-prompt>
        <fui-empty-prompt
          [title]="'Empty Prompt Title'"
          [buttonText]="'Button'"
          [secondaryButtonText]="'Secondary action'"
          [shadow]="false"
          [color]="'disabled'"
          [secondaryButtonColor]="'primary'"
          [image]="
            'https://preyash2047.github.io/assets/img/no-preview-available.png?h=824917b166935ea4772542bec6e8f636'
          "
          [direction]="'horizontal'"
        >
          You can remove parts of the prompt to simplify it. You can also
          override the title and button size. The component should have a
          max-width of 805px.
        </fui-empty-prompt>
      </li>
    </ul>
  </div>
</div>

<div class="main-container">
  <div class="w-full">
    <ul class="main-ul">
      <li>
        <header>Icons</header>
        <div class="icons">
          @for (iconName of icons; track $index) {
          <div class="text-center icon">
            <fui-icons [icon]="iconName" [size]="'sizexl'"></fui-icons>
            <div>{{ iconName }}</div>
          </div>
          }
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="main-container">
  <div>
    <header>Progress Base</header>
    <ul class="main-ul">
      <li>
        <fui-progress-base
          [value]="50"
          [max]="100"
          [color]="'primary'"
          [size]="'sizedefault'"
        ></fui-progress-base>
        <fui-progress-base
          [value]="20"
          [max]="100"
          [color]="'success'"
          [size]="'sizexs'"
        ></fui-progress-base>
        <fui-progress-base
          [value]="40"
          [max]="100"
          [color]="'warning'"
          [size]="'sizes'"
        ></fui-progress-base>
        <fui-progress-base
          [value]="50"
          [max]="100"
          [color]="'danger'"
          [size]="'sizem'"
        ></fui-progress-base>
        <fui-progress-base
          [value]="60"
          [max]="100"
          [color]="'text'"
          [size]="'sizel'"
        ></fui-progress-base>
        <fui-progress-base
          [value]="80"
          [max]="100"
          [color]="'disabled'"
          [size]="'sizexl'"
        ></fui-progress-base>
        <fui-progress-base
          [value]="90"
          [max]="100"
          [color]="'primary'"
          [size]="'sizexxl'"
        ></fui-progress-base>
      </li>
    </ul>
  </div>
</div>

<div class="main-container">
  <div>
    <header>Progress</header>
    <ul class="main-ul">
      <li>
        <fui-progress
          [value]="50"
          [max]="100"
          [color]="'primary'"
          [size]="'sizedefault'"
          [label]="'Label'"
        ></fui-progress>
        <fui-progress
          [value]="20"
          [max]="100"
          [color]="'success'"
          [size]="'sizexs'"
          [label]="'Label'"
        ></fui-progress>
        <fui-progress
          [value]="40"
          [max]="100"
          [color]="'warning'"
          [size]="'sizes'"
          [label]="'Label'"
        ></fui-progress>
        <fui-progress
          [value]="50"
          [max]="100"
          [color]="'danger'"
          [size]="'sizem'"
          [label]="'Label'"
        ></fui-progress>
        <fui-progress
          [value]="60"
          [max]="100"
          [color]="'text'"
          [size]="'sizel'"
          [label]="'Label'"
        ></fui-progress>
        <fui-progress
          [value]="80"
          [max]="100"
          [color]="'disabled'"
          [size]="'sizexl'"
          [label]="'Label'"
        ></fui-progress>
        <fui-progress
          [value]="90"
          [max]="100"
          [color]="'primary'"
          [size]="'sizexxl'"
          [label]="'Label'"
        ></fui-progress>
      </li>
    </ul>
  </div>
</div>

<router-outlet />
