<div style="width:600px; margin:100px;auto;">
  <ul class="main-container">
    <li>
      <h4>Button Primary</h4>
      <lib-button [color]="'button-primary'">Primary</lib-button>
    </li>
    <li>
      <h4>Button Accent</h4>
      <lib-button [color]="'button-accent'">Accent</lib-button>
    </li>
    <li>
      <h4>Button Danger</h4>
      <lib-button [color]="'button-danger'">Danger</lib-button>
    </li>
    <li>
      <h4>Input</h4>
      <lib-input [type]="'text'" [placeholder]="'your name'"></lib-input>
    </li>
  </ul>
</div>
<router-outlet />
