<h1>Callout</h1>
<p>
  FuiCallOut contains a message directly related to content on the page. This
  includes general information, success, warning, and error messages.
</p>
<p>Keep these guidelines in mind:</p>
<ul>
  <li>Minimize the number of callouts per page.</li>
  <li>
    Stack callouts in the order in which they require users' attention: error,
    warning, info, and then success.
  </li>
  <li>
    Offer only one action per callout and ensure it's an action users can
    perform quickly.
  </li>
  <li>
    If the callout has a permanent spot in the UI, but needs to be less
    obstructive, set the size property to s (small).
  </li>
  <li>Use an iconType if it adds context.</li>
</ul>

<h3 style="margin-top: 30px">Basic Component</h3>
<div style="margin-top: 20px">
  <fui-callout
    [title]="'This is CallOut Primary'"
    [size]="'m'"
    [iconSize]="'sizes'"
    [icon]="'user'"
    [color]="'primary'"
    [message]="message"
    [visibility]="visibilityPrimary"
    (onClick)="onHandleCalloutPrimary()"
  />
</div>

<div style="margin-top: 20px">
  <fui-callout
    [title]="'This is CallOut Success'"
    [iconSize]="'sizexs'"
    [size]="'s'"
    [icon]="'checkInCircleFilled'"
    [color]="'success'"
    [message]="message"
    [visibility]="visibilitySuccess"
    (onClick)="onHandleCalloutSuccess()"
  />
</div>

<div style="margin-top: 20px">
  <fui-callout
    [title]="'This is CallOut Warning'"
    [size]="'m'"
    [icon]="'alert'"
    [color]="'warning'"
    [visibility]="visibilityWarning"
    (onClick)="onHandleCalloutWarning()"
    />
  </div>

  <div style="margin-top: 20px">
    <fui-callout
    [iconSize]="'sizexs'"
    [title]="'This is CallOut Danger'"
    [size]="'s'"
    [icon]="'crossInACircleFilled'"
    [color]="'danger'"
    [visibility]="visibilityDanger"
    (onClick)="onHandleCalloutDanger()"
  />
</div>

<h3 style="margin-top: 30px">Custom Content Component</h3>
<div style="margin-top: 20px">
  <fui-callout
    [title]="'This is CallOut Primary'"
    [size]="'m'"
    [iconSize]="'sizes'"
    [icon]="'checkInCircleFilled'"
    [color]="'primary'"
    [content]="'custom'"
    [visibility]="visibilityPrimaryCustom"
    (onClick)="onHandleCalloutPrimaryCustom()"
  >
  <h1>This is custom content</h1>
  <div style="display: flex; gap: 5px;">
    <fui-button-icon [type]="'button'" [color]="'danger'" [option]="'text'" [text]="'Cancel'" />
    <fui-button-icon [type]="'button'" [option]="'text'" [text]="'Submit'" />
  </div>
</fui-callout>
</div>
