<fui-page
  [isGrow]="isGrow"
  [isRestrictWidth]="isRestrictWidth"
  [direction]="direction"
>
  <fui-header [position]="'none'" [shadow]="true">
    <fui-header-panel
      style="width: -webkit-fill-available; justify-content: space-between"
    >
      <div style="display: flex; align-items: baseline">
        <fui-button-icon
          *ngIf="!isSidebar"
          [type]="'button'"
          [option]="'icon'"
          [style]="'secondary'"
          [color]="'primary'"
          [icon]="'menu'"
          [iconSide]="'left'"
          (onClick)="collapseBtn()"
        />
        <fui-button-icon
          *ngIf="isSidebar"
          [type]="'button'"
          [option]="'icon'"
          [style]="'secondary'"
          [color]="'primary'"
          [icon]="'cross'"
          [iconSide]="'left'"
          (onClick)="collapseBtn()"
        />
        <div style="align-items: center; display: flex; margin-left: 10px">
          <h4 class="title">
            <span class="fundamentum"> Fundamentum </span>
            <span class="u">U</span><span class="i">I</span>
          </h4>
          <span class="version">v0.0.1</span>
        </div>
      </div>
      <div style="display: flex; align-items: center">
        <fui-popover [position]="'bottom'">
          <fui-button-icon
            [type]="'button'"
            [option]="'iconText'"
            [style]="'secondary'"
            [text]="
              themeService.getTheme() === 'light'
                ? 'Light'
                : themeService.getTheme() === 'dark'
                ? 'Dark'
                : themeService.getTheme()
            "
            [color]="'primary'"
            [icon]="'arrowDown'"
            [iconSide]="'right'"
          />
          <div popover-body class="con-select-theme">
            <a class="select-theme" (click)="toggleMode('light')">Light</a>
            <a class="select-theme" (click)="toggleMode('dark')">Dark</a>
            <a class="select-theme" (click)="toggleMode('Futuristic')"
              >Futuristic</a
            >
            <a class="select-theme" (click)="toggleMode('Ocean')">Ocean</a>
          </div>
        </fui-popover>
        <fui-icons
          (click)="searchToggle()"
          class="icon-nav"
          [size]="'sizel'"
          [color]="'ink'"
          [icon]="'search'"
        ></fui-icons>
      </div>
    </fui-header-panel>

    <fui-header-panel style="width: 212px">
      <div class="nav-item">
        <fui-avatar
          [shape]="'spaces'"
          [name]="'User'"
          [type]="'image'"
          [image]="
            'https://media.licdn.com/dms/image/C4D0BAQGmcK5iCbCdCw/company-logo_200_200/0/1660032173167/assegaf_hamzah__partners_logo?e=2147483647&v=beta&t=UCq9SgVmNnTYVSuGNdmXLPLXuY6E8LxY3wvSJ5i1yN0'
          "
          [size]="'sizes'"
          [color]="'accent'"
        ></fui-avatar>
        <div class="info-head">
          <span class="dev">Developed By</span>
          <p class="corp">Assegaf Hamzah & Partners</p>
        </div>
      </div>
    </fui-header-panel>
  </fui-header>
  <fui-header
    *ngIf="searchTog"
    [shadow]="true"
    style="width: -webkit-fill-available; position: absolute"
  >
    <fui-sitewide-search
      class="nav-item"
      (onClick)="goTo($event)"
      [placeholder]="'Search Component'"
      [mode]="'dark'"
      [size]="'s'"
      [data]="filteredData"
      [searchForm]="searchForm"
    />
  </fui-header>

  <fui-page-sidebar [show]="isSidebar" (showEvent)="showEvent($event)">
    <div class="overflow">
      <div class="container">
        <div style="display: flex; align-items: baseline">
          <fui-icons
            style="margin-right: 5px"
            [icon]="'documents'"
            [size]="'sizem'"
            [color]="'ink'"
          />
          <h1 class="title-link">Guidelines</h1>
        </div>
        <fui-link
          class="nav-item"
          [typeLink]="'coloring'"
          [urlLink]="'getting-started'"
          >Getting Started</fui-link
        >
        <fui-link
          class="nav-item"
          [typeLink]="'external'"
          [urlLink]="'http://localhost:8080'"
          >Documentation</fui-link
        >
      </div>

      <div class="container">
        <div *ngFor="let link of router">
          <div *ngIf="link.path === 'atoms'">
            <div style="display: flex; align-items: baseline">
              <fui-icons
                style="margin-right: 5px"
                [icon]="'arrowRight'"
                [size]="'sizem'"
                [color]="'ink'"
              />
              <h1 class="title-link">Atoms</h1>
            </div>
            <fui-link
              class="nav-item"
              *ngFor="let navitem of link.children"
              [typeLink]="'coloring'"
              [urlLink]="'atoms/' + navitem.path"
              >{{ navitem.title }}</fui-link
            >
          </div>
        </div>
      </div>

      <div class="container">
        <div *ngFor="let link of router">
          <div *ngIf="link.path === 'molecules'">
            <div style="display: flex; align-items: baseline">
              <fui-icons
                style="margin-right: 5px"
                [icon]="'arrowRight'"
                [size]="'sizem'"
                [color]="'ink'"
              />
              <h1 class="title-link">Molecules</h1>
            </div>
            <fui-link
              class="nav-item"
              *ngFor="let navitem of link.children"
              [typeLink]="'coloring'"
              [urlLink]="'molecules/' + navitem.path"
              >{{ navitem.title }}</fui-link
            >
          </div>
        </div>
      </div>

      <div class="container">
        <div *ngFor="let link of router">
          <div *ngIf="link.path === 'organisms'">
            <div style="display: flex; align-items: baseline">
              <fui-icons
                style="margin-right: 5px"
                [icon]="'arrowRight'"
                [size]="'sizem'"
                [color]="'ink'"
              />
              <h1 class="title-link">Organisms</h1>
            </div>
            <fui-link
              class="nav-item"
              *ngFor="let navitem of link.children"
              [typeLink]="'coloring'"
              [urlLink]="'organisms/' + navitem.path"
              >{{ navitem.title }}</fui-link
            >
          </div>
        </div>
      </div>

      <div class="container">
        <div *ngFor="let link of router">
          <div *ngIf="link.path === 'templates'">
            <div style="display: flex; align-items: baseline">
              <fui-icons
                style="margin-right: 5px"
                [icon]="'arrowRight'"
                [size]="'sizem'"
                [color]="'ink'"
              />
              <h1 class="title-link">Templates</h1>
            </div>
            <fui-link
              class="nav-item"
              *ngFor="let navitem of link.children"
              [typeLink]="'coloring'"
              [urlLink]="'templates/' + navitem.path"
              >{{ navitem.title }}</fui-link
            >
          </div>
        </div>
      </div>

      <div class="container">
        <div style="display: flex; align-items: baseline">
          <fui-icons
            style="margin-right: 5px"
            [icon]="'lock'"
            [size]="'sizem'"
            [color]="'ink'"
          />
          <h1 class="title-link">Authenticator</h1>
        </div>
        <fui-link
          class="nav-item"
          [typeLink]="'coloring'"
          [urlLink]="'oidc-authenticator'"
          >OIDC Authenticator</fui-link
        >
        <fui-link
          class="nav-item"
          [typeLink]="'coloring'"
          [urlLink]="'oidc-authenticator/secure-page'"
        >
          Secure Page</fui-link
        >
      </div>
    </div>
  </fui-page-sidebar>

  <fui-page-body [padding]="'none'">
    <div class="container-body">
      <router-outlet></router-outlet>
    </div>
  </fui-page-body>
</fui-page>
