@import "../../styles.scss";
.title {
  margin: 0px 0px 0px 5px;
  font-weight: 600;
  align-items: baseline;
}
.nav-item {
  margin: 5px 10px 5px 10px;
  align-items: center;
  display: flex;
}

.mr-5 {
  margin-right: 5px;
}

p {
  margin: 0px 0px 0px 10px;
}

.flex {
  display: flex;
}

.icon-nav {
  padding: 8px;
  &:hover {
    cursor: pointer;
  }
}

.title-link {
  // color: $fuiColorPrimary;
  font-weight: bold;
  margin: 15px 0px 10px 0px;
}

.link-route {
  margin: 5px 0px 5px 0px;
}
.version {
  font-size: 11px;
  color: black;
  font-weight: bold;
  padding: 5px;
  border-radius: 3px;
  margin-left: 10px;
  background-color: $fuiColorLightestShade;
}

.info-head {
  height: 35px;
  .dev {
    margin: 0px 0px 0px 10px;
    font-size: 8px;
  }
  .corp {
    font-size: 10px;
    margin: 0px 0px 0px 10px;
  }
}

.content-router {
  flex: 1; /* Fill remaining space */
  padding: 20px; /* Optional: Add padding */
  transition: margin-left 0.3s ease; /* Add transition effect for smoother hide/show */
}

.container {
  width: -webkit-fill-available;
  margin: 20px;
  .sub-container {
  }
}
