@import "../../styles.scss";
.title {
  margin: 0px 0px 0px 5px;
  font-weight: 600;
  align-items: baseline;
  color: $fuiColorGhost;
}
.nav-item {
  margin: 5px 10px 5px 10px;
  align-items: center;
  display: flex;
}

p {
  margin: 0px 0px 0px 10px;
}

.icon-nav {
  padding: 8px;
  &:hover {
    cursor: pointer;
  }
}

.link-route {
  margin: 5px 0px 5px 0px;
}
.version {
  font-size: 11px;
  color: black;
  font-weight: bold;
  padding: 5px;
  border-radius: 3px;
  margin-left: 10px;
  background-color: $fuiColorLightShade;
}

.info-head {
  color: $fuiColorGhost;
  height: 35px;
  .dev {
    margin: 0px 0px 0px 10px;
    font-size: 8px;
  }
  .corp {
    font-size: 10px;
    margin: 0px 0px 0px 10px;
  }
}

.container {
  margin: 20px 10px 10px 10px;
  .title-link {
    font-weight: bold;
    margin: 10px 0px 10px 0px;
    font-size: 20px;
  }
}

.container-body {
  margin: 20px;
}
