@use "./size_variable";
@use "./color_variable";

// Borders

$fuiBorderWidthThin: 1px !default;
$fuiBorderWidthThick: 2px !default;

$fuiBorderColor: color_variable.$fuiColorLightShade !default;
$fuiBorderRadius:size_variable.$fuiSizeS * .75 !default;
$fuiBorderRadiusSmall: size_variable.$fuiSizeS * .5 !default;
$fuiBorderThick: $fuiBorderWidthThick solid $fuiBorderColor !default;
$fuiBorderThin: $fuiBorderWidthThin solid $fuiBorderColor !default;
$fuiBorderEditable: $fuiBorderWidthThick dotted $fuiBorderColor !default;
