@use "./sizes" as sizes;
@use "./colors" as colors;
@use "../functions/colors" as colorsFunc;

$fuiButtonHeight: sizes.$fuiSizeXXL !default;
$fuiButtonHeightSmall: sizes.$fuiSizeXL !default;
$fuiButtonHeightXSmall: sizes.$fuiSizeL !default;

$fuiButtonColorDisabled: colorsFunc.tintOrShade(colors.$fuiTextColor, 70%, 70%) !default;
// Only increase the contrast of background color to text to 2.0 for disabled
$fuiButtonColorDisabledText: colorsFunc.makeDisabledContrastColor($fuiButtonColorDisabled) !default;
$fuiButtonColorGhostDisabled: colorsFunc.lightOrDarkTheme(colors.$fuiColorDarkShade, colors.$fuiColorLightShade) !default;

// Modifier naming and colors.
$fuiButtonTypes: (
  primary: colors.$fuiColorPrimary,
  accent: colors.$fuiColorAccent,
  success: colors.$fuiColorSuccess,
  warning: colors.$fuiColorWarning,
  danger: colors.$fuiColorDanger,
  ghost: colors.$fuiColorGhost, // Ghost is special, and does not care about theming.
  text: colors.$fuiColorDarkShade, // Reserved for special use cases
) !default;

$fuiButtonDefaultTransparency: 1 !default;
