@use '../functions/colors' as colorsFunc;

// These colors stay the same no matter the theme
$fuiColorGhost: #FFF !default;
$fuiColorInk: #000 !default;

// Core
$fuiColorPrimary: #006BB4 !default;
$fuiColorAccent: #DD0A73 !default;

// Status
$fuiColorSuccess: #017D73 !default;
$fuiColorWarning: #F5A700 !default;
$fuiColorDanger: #BD271E !default;

// Grays
$fuiColorEmptyShade: #FFF !default;
$fuiColorLightestShade: #F5F7FA !default;
$fuiColorLightShade: #D3DAE6 !default;
$fuiColorMediumShade: #98A2B3 !default;
$fuiColorDarkShade: #69707D !default;
$fuiColorDarkestShade: #343741 !default;
$fuiColorFullShade: #000 !default;

// Backgrounds
$fuiPageBackgroundColor: colorsFunc.tint($fuiColorLightestShade, 50%) !default;
$fuiColorHighlight: #FFFCDD !default;

// Every color below must be based mathematically on the set above and in a particular order.
$fuiTextColor: $fuiColorDarkestShade !default;
$fuiTitleColor: colorsFunc.shade($fuiTextColor, 50%) !default;
$fuiTextSubduedColor: colorsFunc.makeHighContrastColor($fuiColorMediumShade) !default;
$fuiColorDisabled: colorsFunc.tint($fuiTextColor, 70%) !default;

// Contrasty text variants
$fuiColorPrimaryText: colorsFunc.makeHighContrastColor($fuiColorPrimary) !default;
$fuiColorSuccessText: colorsFunc.makeHighContrastColor($fuiColorSuccess) !default;
$fuiColorAccentText: colorsFunc.makeHighContrastColor($fuiColorAccent) !default;
$fuiColorWarningText: colorsFunc.makeHighContrastColor($fuiColorWarning) !default;
$fuiColorDangerText: colorsFunc.makeHighContrastColor($fuiColorDanger) !default;
$fuiColorDisabledText: colorsFunc.makeDisabledContrastColor($fuiColorDisabled) !default;
$fuiLinkColor: $fuiColorPrimaryText !default;

// Charts
$fuiColorChartLines: colorsFunc.shade($fuiColorLightestShade, 3%) !default;
$fuiColorChartBand: $fuiColorLightestShade !default;
