// Separated out to its own file for easy import into docs

// Font weights
$fuiFontWeightLight:        300 !default;
$fuiFontWeightRegular:      400 !default;
$fuiFontWeightMedium:       500 !default;
$fuiFontWeightSemiBold:     600 !default;
$fuiFontWeightBold:         700 !default;
$fuiCodeFontWeightRegular:  400 !default;
$fuiCodeFontWeightBold:     700 !default;
