@use "./sizes" as sizes;
@use "./borders" as borders;
@use "./colors" as colors;
@use "../functions/colors" as colorsFunc;

$fuiPanelPaddingModifiers: (
  'paddingSmall':  sizes.$fuiSizeS,
  'paddingMedium': sizes.$fuiSize,
  'paddingLarge':  sizes.$fuiSizeL
) !default;

$fuiPanelBorderRadiusModifiers: (
  'borderRadiusNone': 0,
  'borderRadiusMedium': borders.$fuiBorderRadius,
) !default;

$fuiPanelBackgroundColorModifiers: (
  'transparent': transparent,
  'plain': colors.$fuiColorEmptyShade,
  'subdued': colors.$fuiPageBackgroundColor,
  'accent':  colorsFunc.tintOrShade(colors.$fuiColorAccent, 90%, 70%),
  'primary': colorsFunc.tintOrShade(colors.$fuiColorPrimary, 90%, 70%),
  'success': colorsFunc.tintOrShade(colors.$fuiColorSuccess, 90%, 70%),
  'warning': colorsFunc.tintOrShade(colors.$fuiColorWarning, 90%, 70%),
  'danger':  colorsFunc.tintOrShade(colors.$fuiColorDanger, 90%, 70%),
) !default;
