// Font
$fuiFontFamily: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";

$fuiFontSize: 62.5%; // 10px

// $fuiFontSizeXS: floor($ahpFontSize * 1.2); // 12px // h6
// $fuiFontSizeS: floor($ahpFontSize * 1.4); // 14px // h5
// $fuiFontSizeM: floor($ahpFontSize * 1.6); // 16px // h4
// $fuiFontSizeL: floor($ahpFontSize * 2.2); // 22px // h3
// $fuiFontSizeXL: floor($ahpFontSize * 2.7); // 27px // h2
// $fuiFontSizeXXL: floor($ahpFontSize * 3.4); // 34px // h1

$fuiFontWeightNormal: 400;
$fuiFontWeightBold: 600;
$fuiFontWeightBolder: 700;
$fuiFontWeightBoldest: 800;
