<div style="display: flex">
  <fui-collapsible-nav
    [show]="show"
    [docked]="false"
    (onClick)="collapse()"
    [class.show]="show"
  >
    <div left-content>
      <h2>I am some nav</h2>
      <p>The docked status is being stored in localStorage.</p>
      <p>The docked status is being stored in localStorage.</p>
      <p>The docked status is being stored in localStorage.</p>
      <p>The docked status is being stored in localStorage.</p>
      <p>The docked status is being stored in localStorage.</p>
      <p>The docked status is being stored in localStorage.</p>
      <p>The docked status is being stored in localStorage.</p>
      <p>The docked status is being stored in localStorage.</p>
      <p>The docked status is being stored in localStorage.</p>
      <p>The docked status is being stored in localStorage.</p>
      <p>The docked status is being stored in localStorage.</p>
      <p>The docked status is being stored in localStorage.</p>
      <p>The docked status is being stored in localStorage.</p>
      <p>The docked status is being stored in localStorage.</p>
      <p>The docked status is being stored in localStorage.</p>
      <p>The docked status is being stored in localStorage.</p>
      <p>The docked status is being stored in localStorage.</p>
      <p>The docked status is being stored in localStorage.</p>
      <p>The docked status is being stored in localStorage.</p>
      <p>The docked status is being stored in localStorage.</p>
    </div>
  </fui-collapsible-nav>
  <div style="height: fit-content">
    <fui-button-icon
      (click)="collapse()"
      class="ml-20"
      [text]="'Collapsible Nav'"
      [size]="'s'"
      [type]="'button'"
      [icon]="'tableOfContents'"
      [option]="'iconText'"
      [color]="'primary'"
    ></fui-button-icon>
  </div>
</div>
