<fui-collapsible-nav [show]="show" (onClick)="collapse()" [class.show]="show">
  <div style="padding: 15px">
    <h2>I am some nav</h2>
    <p>The docked status is being stored in localStorage.</p>
    <p>The docked status is being stored in localStorage.</p>
    <p>The docked status is being stored in localStorage.</p>
    <p>The docked status is being stored in localStorage.</p>
    <p>The docked status is being stored in localStorage.</p>
    <p>The docked status is being stored in localStorage.</p>
    <p>The docked status is being stored in localStorage.</p>
    <p>The docked status is being stored in localStorage.</p>
    <p>The docked status is being stored in localStorage.</p>
    <p>The docked status is being stored in localStorage.</p>
    <p>The docked status is being stored in localStorage.</p>
    <p>The docked status is being stored in localStorage.</p>
    <p>The docked status is being stored in localStorage.</p>
    <p>The docked status is being stored in localStorage.</p>
    <p>The docked status is being stored in localStorage.</p>
    <p>The docked status is being stored in localStorage.</p>
    <p>The docked status is being stored in localStorage.</p>
    <p>The docked status is being stored in localStorage.</p>
    <p>The docked status is being stored in localStorage.</p>
    <p>The docked status is being stored in localStorage.</p>
  </div>
</fui-collapsible-nav>
<h1>Collapsible nav</h1>
<p>
  FuiCollapsibleNav is a custom implementation of FuiFlyout; the visibility of
  which must still be maintained by the consuming application. This affixes
  the flyout to the window and pushes the body content by adding left side
  padding.
</p>
<fui-button-icon
  (click)="collapse()"
  class="ml-20"
  [text]="'Collapsible Nav'"
  [size]="'s'"
  [type]="'button'"
  [icon]="'tableOfContents'"
  [option]="'iconText'"
  [color]="'primary'"
></fui-button-icon>
