<div class="container">
  <fui-context-menu
    [data]="dataContextMenu"
    [contextMenuConfig]="{
      popoverPadding: 's',
    }"
    (onClickItem)="onClickMenuContextItem($event)"
  >
    <fui-button context-menu-trigger>Open Context Menu</fui-button>

    <fui-context-menu-item [id]="'add-a-tooltip'">
      this is a dynamic content inside menu tooltip
    </fui-context-menu-item>

    <fui-context-menu-item [id]="'dynamic-content'">
      <fui-button>Dynamic Context</fui-button>
    </fui-context-menu-item>

    <fui-context-menu-item [id]="'use-an-app-icon'">
      <div style="padding: 0.5rem; background-color: bisque; width: 600px">
        <fui-icons
          [icon]="'faceHappy'"
          [size]="'sizem'"
          [color]="'warning'"
        ></fui-icons>
      </div>
    </fui-context-menu-item>
  </fui-context-menu>
</div>
