<div class="mt-10 mb-10">
  <button class="mb-10" type="button" (click)="watcher = true">
    Load Chart
  </button>
  <button class="mb-10" type="button" (click)="changeTheme()">
    Change Theme
  </button>
  <div class="mt-10 mb-10">
    <div class="mt-10">
      <label for="title">Title : </label>
      <input type="text" [(ngModel)]="title" />
    </div>
    <div class="mt-10">
      <label for="title">SubTitle : </label>
      <input type="text" [(ngModel)]="subTitle" />
    </div>
  </div>
  <fui-chart-pie-doughnut
    [data]="dataPie"
    [title]="title"
    [subTitle]="subTitle"
    [alignmentTitleX]="'right'"
    [alignmentTitleY]="'top'"
    [themeChart]="themeChart"
    [watcher]="watcher"
  >
  </fui-chart-pie-doughnut>
  <div class="mt-10 mb-10">
    <button class="mb-10" type="button" (click)="addData()">+ Add Data</button>
    <div *ngFor="let item of dataPie; let i = index">
      <input
        type="text"
        [(ngModel)]="item.name"
        (change)="updateData(i, $event, 'name')"
      />
      <input
        type="number"
        [(ngModel)]="item.value"
        (change)="updateData(i, $event, 'value')"
      />
      <button type="button" (click)="removeData(i)">-</button>
    </div>
  </div>
</div>
