@import "../../../styles.scss";
.title {
  margin: 0px 50px 0px 5px;
  font-weight: 600;
  color: --fuiColorFullShade;
}
.nav-item {
  margin: 0px 10px 0px 10px;
  align-items: center;
  display: flex;
}

.p-8 {
  padding: 8px;
}

.mr-5 {
  margin-right: 5px;
}

p {
  color: --fuiColorFullShade;
  margin: 0px 0px 0px 10px;
}
