<h1>Breadcrumbs</h1>
<p>
  FuiBreadcrumbs let the user track their progress within and back out of a UX
  flow and work well when used in combination with FuiPageHeader. They are meant
  to be used at lower page level flows, while FuiHeaderBreadcrumbs should be
  used for application-wide navigation.
</p>
<div class="container">
  <fui-breadcrumb
    [data]="links"
    (onChangeBreadcrumb)="changeBread($event)"
  ></fui-breadcrumb>
</div>

<h3 class="mt-30">Custom Breadcrumbs</h3>
<div class="container">
  <p class="label">Max Display "2"</p>
  <fui-breadcrumb
    [maxDisplayLink]="2"
    [data]="links"
    (onChangeBreadcrumb)="changeBread($event)"
  ></fui-breadcrumb>
</div>
<div class="container">
  <p class="label">Spearator use "|"</p>
  <fui-breadcrumb
    [maxDisplayLink]="2"
    [separator]="'|'"
    [data]="links"
    (onChangeBreadcrumb)="changeBread($event)"
  ></fui-breadcrumb>
</div>
<div class="container">
  <p class="label">Spearator use "<"</p>
  <fui-breadcrumb
    [maxDisplayLink]="2"
    [separator]="'<'"
    [data]="links"
    (onChangeBreadcrumb)="changeBread($event)"
  ></fui-breadcrumb>
</div>
<div class="container">
  <p class="label">Spearator use ">"</p>
  <fui-breadcrumb
    [maxDisplayLink]="2"
    [separator]="'>'"
    [data]="links"
    (onChangeBreadcrumb)="changeBread($event)"
  ></fui-breadcrumb>
</div>
<div class="container">
  <p class="label">Spearator use "~"</p>
  <fui-breadcrumb
    [maxDisplayLink]="2"
    [separator]="'~'"
    [data]="links"
    (onChangeBreadcrumb)="changeBread($event)"
  ></fui-breadcrumb>
</div>
