<h1>Combo Box</h1>
<p>
  Use a FuiComboBox when the input has so many options that the user needs to be
  able to search them, the user needs to be able to select multiple options,
  and/or the user should have the ability to specify a custom value in addition
  to selecting from a predetermined list. If you're unsure of which selection
  component to use, see FUI's in-depth guide to selection components(opens in a
  new tab or window) for more information.
</p>
<fui-combo-box
  [size]="'s'"
  [singleSelection]="false"
  [optionValue]="optionValue"
  [selectedValue]="selectedValue"
></fui-combo-box>
<fui-combo-box
  [size]="'s'"
  [singleSelection]="true"
  [optionValue]="optionValue"
  [selectedValue]="[]"
></fui-combo-box>

<p (click)="test()">Console</p>
