<h1>Combo Box</h1>
<p>
  Use a FuiComboBox when the input has so many options that the user needs to be
  able to search them, the user needs to be able to select multiple options,
  and/or the user should have the ability to specify a custom value in addition
  to selecting from a predetermined list. If you're unsure of which selection
  component to use, see FUI's in-depth guide to selection components(opens in a
  new tab or window) for more information.
</p>
<div class="flex">
  <div>
    <p>S</p>
    <fui-combo-box
      [leftIcon]="'search'"
      (selection)="test($event)"
      [comboxForm]="searchMatter1"
      [size]="'s'"
      [optionValue]="optionValue1"
      [selectedValue]="selectedValue1"
    />
    <p>M</p>
    <fui-combo-box
      [comboxForm]="searchMatter"
      [size]="'m'"
      [optionValue]="optionValue"
      [selectedValue]="selectedValue"
    />
    <p>L</p>
    <fui-combo-box
      [comboxForm]="searchMatter"
      [size]="'l'"
      [optionValue]="optionValue"
      [selectedValue]="selectedValue"
    />
  </div>
  <div>
    <p>S</p>
    <fui-combo-box
      [leftIcon]="'search'"
      [invalid]="
        searchMatter.invalid && (searchMatter.dirty || searchMatter.touched)
      "
      [size]="'s'"
      [comboxForm]="searchMatter"
      [singleSelection]="true"
      [optionValue]="optionValue"
      [selectedValue]="[]"
    />
    <p>M</p>
    <fui-combo-box
      [invalid]="
        searchMatter.invalid && (searchMatter.dirty || searchMatter.touched)
      "
      [size]="'m'"
      [comboxForm]="searchMatter"
      [singleSelection]="true"
      [optionValue]="optionValue"
      [selectedValue]="[]"
    />
    <p>L</p>
    <fui-combo-box
      [invalid]="
        searchMatter.invalid && (searchMatter.dirty || searchMatter.touched)
      "
      [size]="'l'"
      [comboxForm]="searchMatter"
      [singleSelection]="true"
      [optionValue]="optionValue"
      [selectedValue]="[]"
    />
  </div>
</div>
