<div class="container">
  <div class="buttons">
    <fui-button [size]="'sizes'" (click)="gap = 's'">Gap Small</fui-button>
    <fui-button [size]="'sizes'" (click)="gap = 'm'">Gap Medium</fui-button>
  </div>
</div>
<div class="container">
  <div class="buttons">
    <fui-button [size]="'sizes'" (click)="align = 'left'"
      >Align Left</fui-button
    >
    <fui-button [size]="'sizes'" (click)="align = 'center'"
      >Align Center</fui-button
    >
    <fui-button [size]="'sizes'" (click)="align = 'right'"
      >Align Right</fui-button
    >
  </div>
</div>

<div class="container">
  <h2>Description List Column</h2>
  <fui-description-list
    [data]="descriptionListData"
    [type]="'column'"
    [gap]="gap"
    [align]="align"
  ></fui-description-list>
</div>

<div class="container">
  <h2>Description List Row</h2>
  <fui-description-list
    [data]="descriptionListData"
    [type]="'row'"
    [gap]="gap"
    [align]="align"
  ></fui-description-list>
</div>

<div class="container">
  <h2>Description List Inline</h2>
  <fui-description-list
    [data]="descriptionListData"
    [type]="'inline'"
    [gap]="gap"
    [align]="align"
  ></fui-description-list>
</div>

<div class="container">
  <h2>Styling Text Weight Description</h2>
  <fui-description-list
    [data]="descriptionListData"
    [type]="'column'"
    [gap]="gap"
    [align]="align"
    [titleTextWeight]="'normal'"
    [descriptionTextWeight]="'bold'"
  ></fui-description-list>
</div>
<div class="container">
  <fui-description-list
    [data]="descriptionListData"
    [type]="'row'"
    [gap]="gap"
    [align]="align"
    [titleTextWeight]="'normal'"
    [descriptionTextWeight]="'bold'"
  ></fui-description-list>
</div>
<div class="container">
  <fui-description-list
    [data]="descriptionListData"
    [type]="'inline'"
    [gap]="gap"
    [align]="align"
    [titleTextWeight]="'normal'"
    [descriptionTextWeight]="'bold'"
  ></fui-description-list>
</div>
