<h1>File picker</h1>
<fui-text>
  FuiFilePicker is a stylized, but generic HTML {{ "<" }}input type="file" />
  tag. It supports drag and drop as well as on click style selection of files.
  The example below shows how to grab the files using the FileList API(opens in
  a new tab or window). Like other form elements, you can wrap it in a
  FuiFormRow to apply a label.</fui-text
>
<div class="mt-20">
  <h4 style="margin-top: 40px; margin-bottom: 10px;">Box Model</h4>
  <div class="box">
    <fui-field-filepicker
      [files]="myFile"
      (filesSelected)="onFilesSelected($event)"
    />
  </div>
</div>
<div class="mt-20">
  <h4 style="margin-top: 40px; margin-bottom: 10px;">Row Model</h4>
  <div class="row">
    <fui-field-filepicker
      [files]="myFile"
      [model]="'row'"
      (filesSelected)="onFilesSelected($event)"
    />
  </div>
</div>
