<h1>Horizontal</h1>
<div class="container flex">
  <fui-resizable-container [direction]="'horizontal'">
    <fui-resizable-panel [direction]="'horizontal'">
      <p horizontal>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum,
        reiciendis. Odio iusto aliquid ipsam temporibus saepe unde vero,
        reprehenderit harum eius veritatis recusandae in voluptatibus non minima
        error id numquam?
      </p>
    </fui-resizable-panel>
    <fui-resizable-panel [direction]="'horizontal'">
      <p horizontal>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum,
        reiciendis. Odio iusto aliquid ipsam temporibus saepe unde vero,
        reprehenderit harum eius veritatis recusandae in voluptatibus non minima
        error id numquam?
      </p>
    </fui-resizable-panel>
    <fui-resizable-panel [direction]="'horizontal'">
      <p horizontal>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum,
        reiciendis. Odio iusto aliquid ipsam temporibus saepe unde vero,
        reprehenderit harum eius veritatis recusandae in voluptatibus non minima
        error id numquam?
      </p>
    </fui-resizable-panel>
    <fui-resizable-panel [direction]="'horizontal'">
      <p horizontal>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum,
        reiciendis. Odio iusto aliquid ipsam temporibus saepe unde vero,
        reprehenderit harum eius veritatis recusandae in voluptatibus non minima
        error id numquam?
      </p>
    </fui-resizable-panel>
  </fui-resizable-container>
</div>

<h1>Vertical</h1>
<div class="container flex">
  <fui-resizable-container [direction]="'vertical'">
    <fui-resizable-panel [direction]="'vertical'">
      <p vertical>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum,
        reiciendis. Odio iusto aliquid ipsam temporibus saepe unde vero,
        reprehenderit harum eius veritatis recusandae in voluptatibus non minima
        error id numquam?
      </p>
    </fui-resizable-panel>
    <fui-resizable-panel [direction]="'vertical'">
      <p vertical>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum,
        reiciendis. Odio iusto aliquid ipsam temporibus saepe unde vero,
        reprehenderit harum eius veritatis recusandae in voluptatibus non minima
        error id numquam?
      </p>
    </fui-resizable-panel>
    <fui-resizable-panel [direction]="'vertical'">
      <p vertical>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum,
        reiciendis. Odio iusto aliquid ipsam temporibus saepe unde vero,
        reprehenderit harum eius veritatis recusandae in voluptatibus non minima
        error id numquam?
      </p>
    </fui-resizable-panel>
    <fui-resizable-panel [direction]="'vertical'">
      <p vertical>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum,
        reiciendis. Odio iusto aliquid ipsam temporibus saepe unde vero,
        reprehenderit harum eius veritatis recusandae in voluptatibus non minima
        error id numquam?
      </p>
    </fui-resizable-panel>
  </fui-resizable-container>
</div>
