<div class="container">
  <fui-button (click)="handleOpenFlyout()">Open Flyout</fui-button>
</div>
<fui-flyout
  [open]="isOpenFlyout"
  [flyoutSize]="flyoutSize"
  [flyoutPadding]="flyoutPaddingSize"
>
  <fui-flyout-header (onCloseFlyout)="handleCloseFlyout()">
    <fui-icons style="margin-right: 10px;" [icon]="'userAvatar'"></fui-icons>
    <fui-text [size]="'sizel'"> Title Flyout Header </fui-text>
  </fui-flyout-header>

  <fui-flyout-body>
    <h4>Padding</h4>
    <div class="padding-buttons">
      <fui-button (click)="changePaddingSize('none')">None</fui-button>
      <fui-button (click)="changePaddingSize('s')">S</fui-button>
      <fui-button (click)="changePaddingSize('m')">M</fui-button>
      <fui-button (click)="changePaddingSize('l')">L</fui-button>
    </div>

    <h4>Size</h4>
    <div class="padding-buttons">
      <fui-button (click)="changeSize('s')">S</fui-button>
      <fui-button (click)="changeSize('m')">M</fui-button>
      <fui-button (click)="changeSize('l')">L</fui-button>
    </div>

    <div style="margin-top: 1rem">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis
      inventore saepe atque a. Cum, quaerat! Ut nulla tenetur, reiciendis ullam
      vitae laudantium, deserunt, quod natus similique voluptate sequi quo
      minima. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
      exercitationem atque, obcaecati velit totam sapiente veniam provident.
      Placeat harum quis tempore est numquam ratione, magnam voluptas aspernatur
      sed delectus quod quaerat odit ut. Expedita, ratione! Earum minus
      quibusdam veritatis non, impedit itaque explicabo labore ad ullam quis
      quasi nobis ab atque porro distinctio rem praesentium illo voluptatibus
      numquam. Itaque officiis vitae suscipit iste eaque placeat eius saepe.
      Impedit molestiae repellendus sunt qui vero debitis maxime enim quos
      quaerat praesentium? Repudiandae ut, nemo officiis magnam assumenda totam
      suscipit sit dolorum. Ab voluptatibus nostrum libero accusamus eveniet
      ducimus aliquid, delectus itaque fuga voluptatem quis ea voluptates
      dolorum praesentium velit ipsum sequi, repudiandae blanditiis. Magnam
      optio eligendi nemo veniam eveniet numquam maxime quidem similique
      assumenda voluptatem earum obcaecati ad itaque, voluptatibus laudantium
      ipsam dolores debitis officiis blanditiis quas fugit incidunt quis libero?
      Numquam sint nobis incidunt odio, maiores voluptate odit sunt cumque, quos
      accusamus deleniti consectetur impedit illo voluptates sit quam reiciendis
      commodi dolores dignissimos sequi ipsa deserunt ex fuga? Molestias atque
      maiores, facilis omnis nulla neque consequatur eveniet delectus aliquam,
      reiciendis fugiat a eos autem necessitatibus illum at eligendi quis odio
      voluptates nesciunt.
    </div>
  </fui-flyout-body>

  <fui-flyout-footer [isFlyoutFooterCustom]="true">
    <fui-text>Footer Modal</fui-text>
    <fui-spacer [direction]="'horizontal'"></fui-spacer>
    <fui-button (click)="handleCancelButton()">Close Flyout</fui-button>
  </fui-flyout-footer>
</fui-flyout>
