<h1>Flyout</h1>
<p>
  The flyout component in Angular is a sliding panel that appears from the side
  of the screen. It is typically used to display additional content, settings,
  or actions without navigating away from the current view. The flyout can
  include a header, body, and footer, providing a structured space for
  information, controls, and buttons like "Save" or "Cancel."
</p>

<div class="mt-30">
  <h4>Basic Flyout</h4>
  <div class="mt-20">
    <div class="flyout">
      <fui-flyout-header (closeOut)="toggleFlyout($event)">
        <div class="flex-start">
          <fui-icons [icon]="'list'" [color]="'primary'" [size]="'sizem'" />
          <fui-text [color]="'primary'" [size]="'l'"> Basic Flyout </fui-text>
        </div>
      </fui-flyout-header>

      <fui-flyout-body>
        <div style="margin-top: 1rem">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur
          accusamus similique nobis asperiores voluptatibus! Quidem nobis
          repudiandae beatae! Amet mollitia vero numquam quas molestiae illum
          veniam ullam ratione corporis quam.
        </div>
      </fui-flyout-body>

      <fui-flyout-footer>
        <div class="flex-footer">
          <fui-button-icon
            [type]="'button'"
            [fullWidth]="'fit'"
            [color]="'text'"
            [style]="'secondary'"
            [option]="'text'"
            [text]="'Cancel'"
            (onClick)="toggleFlyout(false)"
          />
          <div class="flex-group">
            <fui-button-icon
              [type]="'button'"
              [fullWidth]="'fit'"
              [color]="'text'"
              [style]="'filled'"
              [option]="'iconText'"
              [icon]="'refresh'"
              [text]="'Reset'"
            />
            <fui-button-icon
              [type]="'button'"
              [fullWidth]="'fit'"
              [color]="'primary'"
              [style]="'filled'"
              [option]="'iconText'"
              [icon]="'save'"
              [text]="'Save'"
            />
          </div>
        </div>
      </fui-flyout-footer>
    </div>
  </div>

  <div class="mt-20">
    <fui-button-icon
      [type]="'button'"
      [fullWidth]="'fit'"
      [color]="'text'"
      [style]="'secondary'"
      [option]="'text'"
      [text]="'Open Flyout'"
      (onClick)="toggleFlyout(true)"
    />
  </div>
</div>

<!-- FLYOUT  -->
<fui-flyout [openFlyout]="isOpenFlyout" (overlayOut)="toggleFlyout($event)">
  <fui-flyout-header (closeOut)="toggleFlyout($event)">
    <div class="flex-start">
      <fui-icons [icon]="'tableOfContents'" [color]="'primary'" [size]="'sizem'" />
      <fui-text [color]="'primary'" [size]="'l'"> Basic Flyout </fui-text>
    </div>
  </fui-flyout-header>

  <fui-flyout-body>
    <div style="margin-top: 1rem">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur
      accusamus similique nobis asperiores voluptatibus! Quidem nobis
      repudiandae beatae! Amet mollitia vero numquam quas molestiae illum veniam
      ullam ratione corporis quam.
    </div>
  </fui-flyout-body>

  <fui-flyout-footer>
    <div class="flex-footer">
      <fui-button-icon
        [type]="'button'"
        [fullWidth]="'fit'"
        [color]="'text'"
        [style]="'secondary'"
        [option]="'text'"
        [text]="'Cancel'"
        (onClick)="toggleFlyout(false)"
      />
      <div class="flex-group">
        <fui-button-icon
          [type]="'button'"
          [fullWidth]="'fit'"
          [color]="'text'"
          [style]="'filled'"
          [option]="'iconText'"
          [icon]="'refresh'"
          [text]="'Reset'"
        />
        <fui-button-icon
          [type]="'button'"
          [fullWidth]="'fit'"
          [color]="'primary'"
          [style]="'filled'"
          [option]="'iconText'"
          [icon]="'save'"
          [text]="'Save'"
        />
      </div>
    </div>
  </fui-flyout-footer>
</fui-flyout>
<!-- FLYOUT  -->
