<h1>Tab</h1>
<p>
  Use tabs to organize related but unique content for a single idea or subject.
  Tabs show and hide content using in-page navigation UI. FuiTabs is a wrapping
  component that requires FuiTab components as direct children. You control the
  displayed contents and current state through props on FuiTab like isSelected
  and onClick. Use the prepend and append tab props to add content before and
  after the tab label respectively.
</p>
<fui-tabs [dataTabs]="dataTabs">
  <fui-tabs-content [id]="'Cobalt'">
    <h1 style="margin: 0px">Cobalt</h1>
  </fui-tabs-content>
  <fui-tabs-content [id]="'Dextrose'">
    <h1 style="margin: 0px">Dextrose</h1>
  </fui-tabs-content>
  <fui-tabs-content [id]="'Hydrogen'">
    <h1 style="margin: 0px">Hydrogen</h1>
  </fui-tabs-content>
  <fui-tabs-content [id]="'Monosodium Glutamate'">
    <h1 style="margin: 0px">Monosodium Glutamate</h1>
  </fui-tabs-content>
</fui-tabs>
