<h1>Tab</h1>
<p>
  Use tabs to organize related but unique content for a single idea or subject.
  Tabs show and hide content using in-page navigation UI. FuiTabs is a wrapping
  component that requires FuiTab components as direct children. You control the
  displayed contents and current state through props on FuiTab like isSelected
  and onClick. Use the prepend and append tab props to add content before and
  after the tab label respectively.
</p>
<div class="mt-20">
  <h3>Default Tab</h3>
  <fui-tabs [dataTabs]="dataTabs">
    <fui-tabs-content [id]="'Cobalt'">
      <h1>Cobalt</h1>
    </fui-tabs-content>
    <fui-tabs-content [id]="'Dextrose'">
      <h1>Dextrose</h1>
    </fui-tabs-content>
    <fui-tabs-content [id]="'Hydrogen'">
      <h1>Hydrogen</h1>
    </fui-tabs-content>
    <fui-tabs-content [id]="'Monosodium Glutamate'">
      <h1>Monosodium Glutamate</h1>
    </fui-tabs-content>
  </fui-tabs>
</div>

<div class="mt-20">
  <h3>Tab with icon</h3>
  <fui-tabs [dataTabs]="dataIconTabs">
    <fui-tabs-content [id]="'Folder One'">
      <h1>Folder One</h1>
    </fui-tabs-content>
    <fui-tabs-content [id]="'Folder Two'">
      <h1>Folder Two</h1>
    </fui-tabs-content>
    <fui-tabs-content [id]="'Folder Three'">
      <h1>Folder Three</h1>
    </fui-tabs-content>
    <fui-tabs-content [id]="'Folder Four'">
      <h1>Folder Four</h1>
    </fui-tabs-content>
  </fui-tabs>
</div>

<div class="mt-20">
  <h3>Tab with dynamic icon</h3>
  <fui-tabs [dataTabs]="dataIconTabsDynamic" [iconActive]="'folderOpen'" [iconNonActive]="'folderClosed'">
    <fui-tabs-content [id]="'Folder One'">
      <h1>Folder One</h1>
    </fui-tabs-content>
    <fui-tabs-content [id]="'Folder Two'">
      <h1>Folder Two</h1>
    </fui-tabs-content>
    <fui-tabs-content [id]="'Folder Three'">
      <h1>Folder Three</h1>
    </fui-tabs-content>
    <fui-tabs-content [id]="'Folder Four'">
      <h1>Folder Four</h1>
    </fui-tabs-content>
  </fui-tabs>
</div>
