<div>
  <fui-echarts
    [chartOption]="optionStacked"
    [themeCustom]="true"
  ></fui-echarts>
  <fui-echarts
    [chartOption]="optionAreaPieces"
    [themeCustom]="true"
  ></fui-echarts>
  <fui-echarts
    [chartOption]="optionGauge"
    [themeCustom]="true"
  ></fui-echarts>
  <fui-echarts
    [chartOption]="optionGaugeRing"
    [themeCustom]="true"
    [triggered]="triggered"
  ></fui-echarts>
  <fui-echarts
    [chartOption]="optionBar"
    [themeCustom]="true"
    [triggered]="triggered"
  ></fui-echarts>
</div>
