<h1>Text</h1>
<p>
  <b>FuiText</b> is a generic catchall wrapper that will apply our standard
  typography styling and spacing to naked HTML. Because of its forced style it
  only accepts raw XHTML.
</p>
<h3 class="mt-20">Accepted color names</h3>
<div class="flex">
  <fui-text [color]="'primary'">This is Primary</fui-text>
  <fui-text [color]="'success'">This is Succes</fui-text>
  <fui-text [color]="'accent'">This is Accent</fui-text>
  <fui-text [color]="'warning'">This is Warning</fui-text>
  <fui-text [color]="'danger'">This is Danger</fui-text>
  <fui-text [color]="'ink'">This is Ink</fui-text>
  <fui-text [color]="'text'">This is Text</fui-text>
  <fui-text [color]="'disabled'">This is Disabled</fui-text>
  <div class="bg-black">
    <fui-text [color]="'ghost'">This is Ghost</fui-text>
  </div>
</div>

<h3 class="mt-20">Accepted Sizes</h3>
<div class="flex">
  <fui-text [size]="'xs'">This is XS</fui-text>
  <fui-text [size]="'s'">This is S</fui-text>
  <fui-text [size]="'m'">This is M</fui-text>
  <fui-text [size]="'l'">This is L</fui-text>
  <fui-text [size]="'xl'">This is XL</fui-text>
</div>

<h3 class="mt-20">Weight</h3>
<div class="flex">
  <fui-text [weight]="'thin'">This is thin</fui-text>
  <fui-text [weight]="'extralight'">This is extralight</fui-text>
  <fui-text [weight]="'light'">This is light</fui-text>
  <fui-text [weight]="'normal'">This is normal</fui-text>
  <fui-text [weight]="'medium'">This is medium</fui-text>
  <fui-text [weight]="'semibold'">This is semibold</fui-text>
  <fui-text [weight]="'bold'">This is bold</fui-text>
  <fui-text [weight]="'extrabold'">This is extrabold</fui-text>
  <fui-text [weight]="'black'">This is black</fui-text>
</div>

<h3 class="mt-20">Style</h3>
<div class="flex">
  <fui-text [fwStyle]="'italic'">This is Italic</fui-text>
  <fui-text [fwStyle]="'normal'">This is Normal</fui-text>
</div>

<h3 class="mt-20">Text Decoration</h3>
<div class="flex">
  <fui-text [decoration]="'underline'">This is Underline</fui-text>
  <fui-text [decoration]="'line-through'">This is Line-Through</fui-text>
  <fui-text [decoration]="'overline'">This is Overline</fui-text>
  <fui-text [decoration]="'none'">This is None</fui-text>
</div>

