.container {
  box-sizing: border-box;
  padding: 3rem;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.tooltips {
  display: flex;
  gap: 1rem;
}