<h1>Bottom bar</h1>
<p>
  FuiBottomBar is a simple wrapper component that does nothing but affix a dark
  bar (usually filled with buttons) to the bottom of the page. Use it when you
  have really long pages or complicated, multi-page forms. In the case of forms,
  only invoke it if a form is in a savable state.
</p>

<div class="container">
  <fui-button (click)="handleDisplayBotombar()">Toggle Bottombar</fui-button>
  <fui-button (click)="handleChangePositionBotombar()"
    >Change Position Bottombar</fui-button
  >
</div>
<fui-bottombar
  [isDisplay]="displayBottomBar"
  [position]="position"
  [cancelButtonText]="'Discard'"
  (onCancelButton)="handleCancelBottomBar()"
>
  <fui-button>Help</fui-button>
</fui-bottombar>
