// Base Color
$ahpColorPrimary: #0077cc;
$ahpColorSuccess: #00bfb3;
$ahpColorAccent: #f04e98;
$ahpColorWarning: #fec514;
$ahpColorDanger: #bd271e;

// $darkShade-color: #69707d;
// $lightestShade-color: #f1f4f4;
// $lightShade-color: #d3dae6;
// $darkestShade-color: #343741;
// $emptyShade-color: #ffffff;
// $mediumShade-color: #98a2b3;
// $fullShade-color: #000000;

// Text Color
$ahpTextColor: #343741;
$ahpTextSubduedColor: #69707d;
$ahpTitleColor: #1a1c21;
$ahpColorPrimaryText: #0071c2;
$ahpColorAccentText: #c4407c;
$ahpColorSuccessText: #007e77;
$ahpColorWarningText: #8a6a0a;
$ahpColorDangerText: #bd271e;

// Button Color
