// Base Color
$fuiColorPrimary: #0077cc !default;
$fuiColorSuccess: #00bfb3 !default;
$fuiColorAccent: #f04e98 !default;
$fuiColorWarning: #fec514 !default;
$fuiColorDanger: #bd271e !default;

// $darkShade-color: #69707d;
// $lightestShade-color: #f1f4f4;
// $lightShade-color: #d3dae6;
// $darkestShade-color: #343741;
// $emptyShade-color: #ffffff;
// $mediumShade-color: #98a2b3;
// $fullShade-color: #000000;

// Text Color
$fuiTextColor: #343741 !default;
$fuiTextSubduedColor: #69707d !default;
$fuiTitleColor: #1a1c21 !default;
$fuiColorPrimaryText: #0071c2 !default;
$fuiColorAccentText: #c4407c !default;
$fuiColorSuccessText: #007e77 !default;
$fuiColorWarningText: #8a6a0a !default;
$fuiColorDangerText: #bd271e !default;

// Button Color
