// stylelint-disable color-no-hex

// This extra import allows any variables that are created via functions to work when loaded into JS
@import "../../styles/functions/index";

// These colors stay the same no matter the theme
$fuiColorGhost: #fff !default;
$fuiColorInk: #000 !default;

// Core
$fuiColorPrimary: #006bb4 !default;
$fuiColorAccent: #dd0a73 !default;

// Status
$fuiColorSuccess: #017d73 !default;
$fuiColorWarning: #f5a700 !default;
$fuiColorDanger: #bd271e !default;

// Grays
$fuiColorEmptyShade: #fff !default;
$fuiColorLightestShade: #f5f7fa !default;
$fuiColorLightShade: #d3dae6 !default;
$fuiColorMediumShade: #98a2b3 !default;
$fuiColorDarkShade: #69707d !default;
$fuiColorDarkestShade: #343741 !default;
$fuiColorFullShade: #000 !default;

// Backgrounds
$fuiPageBackgroundColor: tint($fuiColorLightestShade, 50%) !default;
$fuiColorHighlight: #fffcdd !default;

// Every color below must be based mathematically on the set above and in a particular order.
$fuiTextColor: $fuiColorDarkestShade !default;
$fuiTitleColor: shade($fuiTextColor, 50%) !default;
$fuiTextSubduedColor: makeHighContrastColor($fuiColorMediumShade) !default;
$fuiColorDisabled: tint($fuiTextColor, 70%) !default;

// Contrasty text variants
$fuiColorPrimaryText: makeHighContrastColor($fuiColorPrimary) !default;
$fuiColorSuccessText: makeHighContrastColor($fuiColorSuccess) !default;
$fuiColorAccentText: makeHighContrastColor($fuiColorAccent) !default;
$fuiColorWarningText: makeHighContrastColor($fuiColorWarning) !default;
$fuiColorDangerText: makeHighContrastColor($fuiColorDanger) !default;
$fuiColorDisabledText: makeDisabledContrastColor($fuiColorDisabled) !default;
$fuiLinkColor: $fuiColorPrimaryText !default;

// Charts
$fuiColorChartLines: shade($fuiColorLightestShade, 3%) !default;
$fuiColorChartBand: $fuiColorLightestShade !default;
