<div class="container">
  <div class="options">
    <div class="option">
      <input
        type="checkbox"
        switch
        name="isCaseSensitive"
        id="isCaseSensitive"
        [(ngModel)]="isCaseSensitive"
      />
      <label for="isCaseSensitive">Case Sensitive</label>
    </div>
    <div class="option">
      <input
        type="checkbox"
        name="isHighlightAll"
        id="isHighlightAll"
        [(ngModel)]="isHighlightAll"
        (ngModelChange)="onIsHighlightAllChange()"
      />
      <label for="isHighlightAll">Highlight All</label>
    </div>
    @if (isHighlightAll) {
    <div class="option">
      <input
        type="checkbox"
        name="searchSeparatedWord"
        id="searchSeparatedWord"
        [(ngModel)]="searchSeparatedWord"
      />
      <label for="searchSeparatedWord"
        >Search for an array of separate words</label
      >
    </div>
    }
  </div>
  <div class="input-field">
    <input type="text" [(ngModel)]="highlightText" />
  </div>
  <fui-highlight
    [text]="'The quick brown fox jumped over the lazy dog'"
    [textHighlight]="highlightText"
    [isHighlightAll]="isHighlightAll"
    [isCaseSensitive]="isCaseSensitive"
    [searchSeparatedWord]="searchSeparatedWord"
    [size]="'sizel'"
    [color]="'text'"
  ></fui-highlight>
</div>
