<h1>Table</h1>
<p style="margin-bottom: 30px">
  This example shows the most basic form of the FuiBasicTable. It is configured
  with the required items and columns properties. It shows how each column
  defines the data it needs to display per item. Some columns display the value
  as is (e.g. id, title and other fields for the user column).
</p>
<fui-table
  [limit]="limit"
  [totalItems]="totalItems"
  (onPageChanges)="onPageChanges($event)"
>
  <fui-table-head *ngFor="let header of title">
    {{ header }}
  </fui-table-head>
  <fui-table-body *ngFor="let data of dataContent">
    <fui-table-body-row>
      <fui-table-body-data>
        {{ data.id }}
      </fui-table-body-data>
      <fui-table-body-data>
        <fui-link
          [colorLink]="'primary'"
          [urlLink]="'http://localhost:4200/organisms/table'"
          [typeLink]="'external'"
        >
          {{ data.title }}
        </fui-link>
      </fui-table-body-data>
      <fui-table-body-data>
        {{ data.description }}
      </fui-table-body-data>
      <fui-table-body-data>
        {{ data.price }}
      </fui-table-body-data>
      <fui-table-body-data>
        {{ data.discountPercentage }}
      </fui-table-body-data>
      <fui-table-body-data>
        {{ data.rating }}
      </fui-table-body-data>
      <fui-table-body-data>
        {{ data.stock }}
      </fui-table-body-data>
      <fui-table-body-data>
        {{ data.brand }}
      </fui-table-body-data>
      <fui-table-body-data>
        <fui-badge
          [rounded]="true"
          [underline]="true"
          [color]="'primary'"
          [size]="'sizedefault'"
        >
          {{ data.category }}
        </fui-badge>
      </fui-table-body-data>
      <fui-table-body-data>
        {{ data.thumbnail }}
      </fui-table-body-data>
      <fui-table-body-data>
        {{ data.images }}
      </fui-table-body-data>
    </fui-table-body-row>
  </fui-table-body>
</fui-table>
