@import "../../../styles.scss";
.primary {
  color: var(--fuiColorPrimary, $fuiColorPrimary);
  .header {
    background-color: var(--fuiPrimarySecondary, $fuiPrimarySecondary);
  }
}
.success {
  color: var(--fuiColorSuccess, $fuiColorSuccess);
  .header {
    background-color: var(--fuiSuccessSecondary, $fuiSuccessSecondary);
  }
}
.warning {
  color: var(--fuiColorWarning, $fuiColorWarning);
  .header {
    background-color: var(--fuiWarningSecondary, $fuiWarningSecondary);
  }
}
.danger {
  color: var(--fuiColorDanger, $fuiColorDanger);
  .header {
    background-color: var(--fuiDangerSecondary, $fuiDangerSecondary);
  }
}
.dark {
  color: var(--fuiColorEmptyShade, $fuiColorEmptyShade);
  .header {
    background-color: var(--fuiColorFullShade, $fuiColorFullShade);
    border: none;
  }
  .body {
    color: var(--fuiColorInk, $fuiColorInk);
    border: none;
  }
}
.text {
  .header {
    background-color: var(--fuiColorLightestShade, $fuiColorLightestShade);
  }
}
.header {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  border-style: solid;
  border-width: 1px;
  border-color: var(--fuiColorLightShade, $fuiColorLightShade);
  border-bottom-width: 0px;
  .logo {
    align-items: flex-end;
    display: flex;
  }
  fui-icons {
    margin-right: 5px;
  }
  h4 {
    margin: 0;
  }
}
.header.btm {
  border-style: solid;
  border-width: 1px;
  border-color: var(--fuiColorLightShade, $fuiColorLightShade);
}
.body {
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--fuiColorLightShade, $fuiColorLightShade);
  border-top-width: 0px;
}
