.container {
  padding: 2rem;

  .options {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;

    .option {
      display: flex;
      align-items: center;
      gap: .5rem;
      
      input{
        width: 1rem;
        height: 1rem;
      }
    }
  }

  .input-field {
    margin: 1rem auto;
  }
}