.container {
  padding: 2rem;
  display: flex;
}

.user, .spaces {
  flex: 1;
}

.block {
  margin-bottom: 1rem;
}

.avatar-container {
  display: flex;
  align-items: center;
  gap: 1rem;

  margin-bottom: 1rem;
}