<h1>Combo Box</h1>
<p>
  Use a FuiComboBox when the input has so many options that the user needs to be
  able to search them, the user needs to be able to select multiple options,
  and/or the user should have the ability to specify a custom value in addition
  to selecting from a predetermined list. If you're unsure of which selection
  component to use, see FUI's in-depth guide to selection components(opens in a
  new tab or window) for more information.
</p>
<div class="flex">
  <div>
    <p>S</p>
    <fui-combo-box
      [leftIcon]="'search'"
      (selection)="selectionS($event)"
      [comboxForm]="searchMatterS"
      [size]="'s'"
      [optionValue]="optionValueS"
      [selectedValue]="selectedValueS"
      [invalid]="false"
      [disabled]="true"
    />
    <p>M</p>
    <fui-combo-box
      [comboxForm]="searchMatterM"
      [size]="'m'"
      (selection)="selectionM($event)"
      [optionValue]="optionValueM"
      [selectedValue]="selectedValueM"
      [invalid]="false"
    />
    <p>L</p>
    <fui-combo-box
      [leftIcon]="'search'"
      [comboxForm]="searchMatterL"
      [size]="'l'"
      [optionValue]="optionValueL"
      [selectedValue]="selectedValueL"
      [invalid]="false"
      [disabled]="true"
    />
  </div>

  <!-- ------------------  -->

  <div>
    <p>S</p>
    <fui-combo-box
      [leftIcon]="'search'"
      [size]="'s'"
      [comboxForm]="searchMatterSS"
      [singleSelection]="true"
      [optionValue]="optionValueSS"
      [selectedValue]="selectedValueSS"
    />
    <p>M</p>
    <fui-combo-box
      [size]="'m'"
      [comboxForm]="searchMatterMM"
      [singleSelection]="true"
      [optionValue]="optionValueMM"
      [selectedValue]="selectedValueMM"
    />
    <p>L</p>
    <fui-combo-box
      [size]="'l'"
      [comboxForm]="searchMatterLL"
      [singleSelection]="true"
      [optionValue]="optionValueLL"
      [selectedValue]="selectedValueLL"
      [disabled]="true"
    />
  </div>
</div>
