<!-- External -->
<p>Link External</p>
<fui-link
  [alias]="'Link Google'"
  [colorLink]="'primary'"
  [urlLink]="'https://www.google.com'"
  [typeLink]="'external'"
>
</fui-link>
<br />
<fui-link
  [colorLink]="'success'"
  [urlLink]="'https://www.google.com'"
  [typeLink]="'external'"
>
</fui-link>
<!-- External -->

<!-- Coloring -->
<p>Link Coloring</p>
<fui-link
  [alias]="'Link Google'"
  [colorLink]="'warning'"
  [urlLink]="'https://www.google.com'"
  [typeLink]="'coloring'"
>
</fui-link>
<br />
<fui-link
  [colorLink]="'danger'"
  [urlLink]="'https://www.google.com'"
  [typeLink]="'coloring'"
>
</fui-link>
<!-- Coloring -->

<!-- Disabled -->
<p>Link Disabled</p>
<fui-link
  [colorLink]="'danger'"
  [urlLink]="'https://www.google.com'"
  [typeLink]="'disabled'"
>
</fui-link>
<br />
<fui-link
  [alias]="'Link Google'"
  [colorLink]="'warning'"
  [urlLink]="'https://www.google.com'"
  [typeLink]="'disabled'"
>
</fui-link>
<!-- Disabled -->

<!-- Validation -->
<p>Link Validation</p>
<fui-link
  [colorLink]="'success'"
  [urlLink]="'https://www.google.com'"
  [typeLink]="'validation'"
>
</fui-link>
<br />
<fui-link
  [alias]="'Link Google'"
  [colorLink]="'success'"
  [urlLink]="'abcde.cx'"
  [typeLink]="'validation'"
>
</fui-link>
<!-- Validation -->
