<div class="section">
  <h1>Link</h1>
  <fui-link
    [colorLink]="'primary'"
    [urlLink]="'/atoms/link'"
    [typeLink]="'coloring'"
  >
    Link
  </fui-link>
  <p>
    FuiLink is any anchor or button element that is designed to display nicely
    within a block of text. It also provides more anchor-specific styling onto
    links and makes sure they are accessible.
  </p>
</div>

<div class="section">
  <h1>External links</h1>
  <fui-link
    [colorLink]="'primary'"
    [urlLink]="'https://www.google.com'"
    [typeLink]="'external'"
  >
    Link
  </fui-link>
  <p>
    This adds an icon indicator instructing users that a new window will open.
    You can also manually apply this icon in case you handle the target behavior
    by other means.
  </p>
</div>

<div class="section">
  <h1>Coloring links</h1>
  <fui-link
    [colorLink]="'primary'"
    [urlLink]="'../link'"
    [typeLink]="'coloring'"
  >
    Link Primary
  </fui-link>
  <fui-link
    [colorLink]="'success'"
    [urlLink]="'../link'"
    [typeLink]="'coloring'"
  >
    Link Success
  </fui-link>
  <fui-link
    [colorLink]="'danger'"
    [urlLink]="'../link'"
    [typeLink]="'coloring'"
  >
    Link Danger
  </fui-link>
  <fui-link
    [colorLink]="'warning'"
    [urlLink]="'../link'"
    [typeLink]="'coloring'"
  >
    Link Warning
  </fui-link>
  <fui-link
    [colorLink]="'accent'"
    [urlLink]="'../link'"
    [typeLink]="'coloring'"
  >
    Link Accent
  </fui-link>
  <fui-link [colorLink]="'text'" [urlLink]="'../link'" [typeLink]="'coloring'">
    Link Text
  </fui-link>
  <fui-link
    style="background-color: black"
    [colorLink]="'ghost'"
    [urlLink]="'../link'"
    [typeLink]="'coloring'"
  >
    Link Ghost
  </fui-link>
  <p>
    Like any other button component, links can be passed a color. Note that the
    ghost type should only be used on dark backgrounds (regardless of theming)
    as it will always create a white link.
  </p>
</div>

<div class="section">
  <h1>Disabled links</h1>
  <div class="flex">
    <fui-link
      style="margin-right: 20px"
      [colorLink]="'primary'"
      [urlLink]="'/getting-started'"
      [typeLink]="disabled ? 'disabled' : 'coloring'"
    >
      Link
    </fui-link>
    <fui-button-icon
      (onClick)="toggleLink()"
      [color]="'primary'"
      [style]="'secondary'"
      [type]="'button'"
      [option]="'text'"
      [size]="'s'"
      [text]="disabled ? 'Disable' : 'Enable'"
    />
  </div>
  <p>
    When an Link is passed an onClick method, and is not passed an href, it can
    optionally be set todisabled which disables the click behavior, and removes
    the link styling.
  </p>
</div>
