<h1>Progress</h1>
<p>
  The FuiProgress component by default will display in an indeterminate loading
  state (rendered as a single div) until you define a max and value prop. The
  size prop refers to its vertical height. It will always stretch 100% to its
  container.
</p>

<div class="mt-30">
  <header>Progress Base</header>
  <p>Progress base only displays the progress bar without the label.</p>
  <br />

  <h3>Size XS</h3>
  <fui-progress-base
    [value]="20"
    [max]="100"
    [color]="'success'"
    [size]="'sizexs'"
  ></fui-progress-base>
  <br />

  <h3>Size S</h3>
  <fui-progress-base
    [value]="40"
    [max]="100"
    [color]="'warning'"
    [size]="'sizes'"
  ></fui-progress-base>
  <br />

  <h3>Size M</h3>
  <fui-progress-base
    [value]="50"
    [max]="100"
    [color]="'danger'"
    [size]="'sizem'"
  ></fui-progress-base>
  <br />

  <h3>Size L</h3>
  <fui-progress-base
    [value]="60"
    [max]="100"
    [color]="'text'"
    [size]="'sizel'"
  ></fui-progress-base>
  <br />

  <h3>Size XL</h3>
  <fui-progress-base
    [value]="80"
    [max]="100"
    [color]="'disabled'"
    [size]="'sizexl'"
  ></fui-progress-base>
  <br />

  <h3>Size XXL</h3>
  <fui-progress-base
    [value]="90"
    [max]="100"
    [color]="'primary'"
    [size]="'sizexxl'"
  ></fui-progress-base>
</div>

<div class="mt-30">
  <header>Progress</header>
  <p>Progress displays the progress bar along with its detailed label.</p>
  <br />

  <fui-progress
    [value]="20"
    [max]="100"
    [color]="'success'"
    [size]="'sizexs'"
    [label]="'Size XS'"
  ></fui-progress>

  <fui-progress
    [value]="40"
    [max]="100"
    [color]="'warning'"
    [size]="'sizes'"
    [label]="'Size S'"
  ></fui-progress>
  <br />

  <fui-progress
    [value]="50"
    [max]="100"
    [color]="'danger'"
    [size]="'sizem'"
    [label]="'Size M'"
  ></fui-progress>
  <br />

  <fui-progress
    [value]="60"
    [max]="100"
    [color]="'text'"
    [size]="'sizel'"
    [label]="'Size L'"
  ></fui-progress>
  <br />

  <fui-progress
    [value]="80"
    [max]="100"
    [color]="'disabled'"
    [size]="'sizexl'"
    [label]="'Size XL'"
  ></fui-progress>
  <br />

  <fui-progress
    [value]="90"
    [max]="100"
    [color]="'primary'"
    [size]="'sizexxl'"
    [label]="'Size XXL'"
  ></fui-progress>
  <br />
</div>
