<div class="container">
  <fui-page
    [isGrow]="isGrow"
    [isRestrictWidth]="isRestrictWidth"
    [direction]="direction"
  >
    @if (isSidebar) {
    <fui-page-sidebar [show]="true">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod ex ad
      doloremque! Nihil vel debitis vitae architecto pariatur esse, rem
      accusamus dolore beatae? Consequatur, qui. Aspernatur voluptatum minus
      doloremque facilis, fugit, tempora sit dolores commodi earum similique
      dolore, excepturi officiis.</fui-page-sidebar
    >
    }
    <fui-page-body [padding]="'none'">
      <fui-page-header [extendedBorder]="extendedBorder" [padding]="'m'">
        <div>
          <fui-text [size]="'sizel'" [weight]="'bold'">Page Title</fui-text>
        </div>
        <div>
          <fui-text [size]="'sizem'" [weight]="'normal'"
            >Page Description</fui-text
          >
        </div>
      </fui-page-header>
      <fui-page-section [padding]="'m'" [extendedBorder]="extendedBorder">
        <div class="container-button">
          <fui-button-icon
            [type]="'button'"
            [size]="'s'"
            [option]="'text'"
            (onClick)="isSidebar = !isSidebar"
            [color]="isSidebar ? 'primary' : 'text'"
            [text]="'Sidebar'"
          ></fui-button-icon>
          <fui-button-icon
            [type]="'button'"
            [size]="'s'"
            [option]="'text'"
            (onClick)="isGrow = !isGrow"
            [color]="isGrow ? 'primary' : 'text'"
            [text]="'Grow'"
          ></fui-button-icon>
          <fui-button-icon
            [type]="'button'"
            [size]="'s'"
            [option]="'text'"
            (onClick)="
              direction = direction === 'horizontal' ? 'vertical' : 'horizontal'
            "
            [text]="direction === 'horizontal' ? 'Row' : 'Column'"
          ></fui-button-icon>
          <fui-button-icon
            [type]="'button'"
            [size]="'s'"
            [option]="'text'"
            (onClick)="isRestrictWidth = !isRestrictWidth"
            [color]="isRestrictWidth ? 'primary' : 'text'"
            [text]="'Restrict width'"
          ></fui-button-icon>
          <fui-button-icon
            [type]="'button'"
            [size]="'s'"
            [option]="'text'"
            (onClick)="extendedBorder = !extendedBorder"
            [color]="extendedBorder ? 'primary' : 'text'"
            [text]="'Extended Border'"
          ></fui-button-icon>
        </div>
      </fui-page-section>

      <fui-page-section
        [padding]="'m'"
        [isBorder]="false"
        [extendedBorder]="extendedBorder"
      >
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non corporis
        necessitatibus porro tempora cupiditate temporibus. Voluptas, unde
        consectetur? Illo id sint dolor temporibus minima laudantium. Esse eius
        ex molestias alias neque voluptates velit dicta doloremque deserunt
        incidunt reprehenderit iusto consequatur, perferendis cupiditate saepe,
        adipisci dolor minus aliquam animialia.
      </fui-page-section>
    </fui-page-body>
  </fui-page>
</div>
