<div class="container">
  <ul class="main-ul">
    <h4>Badge Rounded</h4>
    <li class="flex">
      <fui-badge [rounded]="true" [color]="'primary'" [size]="'sizedefault'"
        >Primary</fui-badge
      >
      <fui-badge
        [rounded]="true"
        [color]="'success'"
        [size]="'sizedefault'"
        [isBadgeIcon]="true"
        [icon]="'cross'"
        >Success</fui-badge
      >
      <fui-badge
        [rounded]="true"
        [color]="'warning'"
        [size]="'sizedefault'"
        [isBadgeIcon]="true"
        [icon]="'cross'"
        [iconPosition]="'end'"
        >Warning</fui-badge
      >
      <fui-badge
        [rounded]="true"
        [color]="'danger'"
        [size]="'sizedefault'"
        [underline]="true"
        >Danger</fui-badge
      >
      <fui-badge
        [rounded]="true"
        [color]="'text'"
        [size]="'sizedefault'"
        [isBadgeIcon]="true"
        [icon]="'cross'"
        [iconPosition]="'start'"
        [underline]="true"
        >Text</fui-badge
      >
      <fui-badge
        [rounded]="true"
        [color]="'accent'"
        [size]="'sizedefault'"
        [isBadgeIcon]="true"
        [icon]="'cross'"
        [iconPosition]="'end'"
        [underline]="true"
        >Accent</fui-badge
      >
    </li>
    <h4>Badge Default</h4>
    <li class="flex">
      <fui-badge [color]="'primary'" [size]="'sizedefault'">Primary</fui-badge>
      <fui-badge
        [color]="'success'"
        [size]="'sizedefault'"
        [isBadgeIcon]="true"
        [icon]="'cross'"
        >Success</fui-badge
      >
      <fui-badge
        [color]="'warning'"
        [size]="'sizedefault'"
        [isBadgeIcon]="true"
        [icon]="'cross'"
        [iconPosition]="'end'"
        >Warning</fui-badge
      >
      <fui-badge [color]="'danger'" [size]="'sizedefault'" [underline]="true"
        >Danger</fui-badge
      >
      <fui-badge
        [color]="'text'"
        [size]="'sizedefault'"
        [isBadgeIcon]="true"
        [icon]="'cross'"
        [iconPosition]="'start'"
        [underline]="true"
        >Text</fui-badge
      >
      <fui-badge
        [color]="'accent'"
        [size]="'sizedefault'"
        [isBadgeIcon]="true"
        [icon]="'cross'"
        [iconPosition]="'end'"
        [underline]="true"
        >Accent</fui-badge
      >
    </li>

    <h4>Badge Extra Small (XS)</h4>
    <li class="flex">
      <fui-badge [color]="'primary'" [size]="'sizexs'">Primary</fui-badge>
      <fui-badge
        [color]="'success'"
        [size]="'sizexs'"
        [isBadgeIcon]="true"
        [icon]="'cross'"
        >Success</fui-badge
      >
      <fui-badge
        [color]="'warning'"
        [size]="'sizexs'"
        [isBadgeIcon]="true"
        [icon]="'cross'"
        [iconPosition]="'end'"
        >Warning</fui-badge
      >
      <fui-badge [color]="'danger'" [size]="'sizexs'" [underline]="true"
        >Danger</fui-badge
      >
      <fui-badge
        [color]="'text'"
        [size]="'sizexs'"
        [isBadgeIcon]="true"
        [icon]="'cross'"
        [iconPosition]="'start'"
        [underline]="true"
        >Text</fui-badge
      >
      <fui-badge
        [color]="'accent'"
        [size]="'sizexs'"
        [isBadgeIcon]="true"
        [icon]="'cross'"
        [iconPosition]="'end'"
        [underline]="true"
        >Accent</fui-badge
      >
    </li>

    <h4>Badge Small (S)</h4>
    <li class="flex">
      <fui-badge [color]="'primary'" [size]="'sizes'">Primary</fui-badge>
      <fui-badge
        [color]="'success'"
        [size]="'sizes'"
        [isBadgeIcon]="true"
        [icon]="'cross'"
        >Success</fui-badge
      >
      <fui-badge
        [color]="'warning'"
        [size]="'sizes'"
        [isBadgeIcon]="true"
        [icon]="'cross'"
        [iconPosition]="'end'"
        >Warning</fui-badge
      >
      <fui-badge [color]="'danger'" [size]="'sizes'" [underline]="true"
        >Danger</fui-badge
      >
      <fui-badge
        [color]="'text'"
        [size]="'sizes'"
        [isBadgeIcon]="true"
        [icon]="'cross'"
        [iconPosition]="'start'"
        [underline]="true"
        >Text</fui-badge
      >
      <fui-badge
        [color]="'accent'"
        [size]="'sizes'"
        [isBadgeIcon]="true"
        [icon]="'cross'"
        [iconPosition]="'end'"
        [underline]="true"
        >Accent</fui-badge
      >
    </li>

    <h4>Badge Medium (M)</h4>
    <li class="flex">
      <fui-badge [color]="'primary'" [size]="'sizem'">Primary</fui-badge>
      <fui-badge
        [color]="'success'"
        [size]="'sizem'"
        [isBadgeIcon]="true"
        [icon]="'cross'"
        >Success</fui-badge
      >
      <fui-badge
        [color]="'warning'"
        [size]="'sizem'"
        [isBadgeIcon]="true"
        [icon]="'cross'"
        [iconPosition]="'end'"
        >Warning</fui-badge
      >
      <fui-badge [color]="'danger'" [size]="'sizem'" [underline]="true"
        >Danger</fui-badge
      >
      <fui-badge
        [color]="'text'"
        [size]="'sizem'"
        [isBadgeIcon]="true"
        [icon]="'cross'"
        [iconPosition]="'start'"
        [underline]="true"
        >Text</fui-badge
      >
      <fui-badge
        [color]="'accent'"
        [size]="'sizem'"
        [isBadgeIcon]="true"
        [icon]="'cross'"
        [iconPosition]="'end'"
        [underline]="true"
        >Accent</fui-badge
      >
    </li>

    <h4>Badge Large (L)</h4>
    <li class="flex">
      <fui-badge [color]="'primary'" [size]="'sizel'">Primary</fui-badge>
      <fui-badge
        [color]="'success'"
        [size]="'sizel'"
        [isBadgeIcon]="true"
        [icon]="'cross'"
        >Success</fui-badge
      >
      <fui-badge
        [color]="'warning'"
        [size]="'sizel'"
        [isBadgeIcon]="true"
        [icon]="'cross'"
        [iconPosition]="'end'"
        >Warning</fui-badge
      >
      <fui-badge [color]="'danger'" [size]="'sizel'" [underline]="true"
        >Danger</fui-badge
      >
      <fui-badge
        [color]="'text'"
        [size]="'sizel'"
        [isBadgeIcon]="true"
        [icon]="'cross'"
        [iconPosition]="'start'"
        [underline]="true"
        >Text</fui-badge
      >
      <fui-badge
        [color]="'accent'"
        [size]="'sizel'"
        [isBadgeIcon]="true"
        [icon]="'cross'"
        [iconPosition]="'end'"
        [underline]="true"
        >Accent</fui-badge
      >
    </li>

    <h4>Badge Extra Large (XL)</h4>
    <li class="flex">
      <fui-badge [color]="'primary'" [size]="'sizexl'">Primary</fui-badge>
      <fui-badge
        [color]="'success'"
        [size]="'sizexl'"
        [isBadgeIcon]="true"
        [icon]="'cross'"
        >Success</fui-badge
      >
      <fui-badge
        [color]="'warning'"
        [size]="'sizexl'"
        [isBadgeIcon]="true"
        [icon]="'cross'"
        [iconPosition]="'end'"
        >Warning</fui-badge
      >
      <fui-badge [color]="'danger'" [size]="'sizexl'" [underline]="true"
        >Danger</fui-badge
      >
      <fui-badge
        [color]="'text'"
        [size]="'sizexl'"
        [isBadgeIcon]="true"
        [icon]="'cross'"
        [iconPosition]="'start'"
        [underline]="true"
        >Text</fui-badge
      >
      <fui-badge
        [color]="'accent'"
        [size]="'sizexl'"
        [isBadgeIcon]="true"
        [icon]="'cross'"
        [iconPosition]="'end'"
        [underline]="true"
        >Accent</fui-badge
      >
    </li>

    <h4>Badge Extra Extra Large (XXL)</h4>
    <li class="flex">
      <fui-badge [color]="'primary'" [size]="'sizexxl'">Primary</fui-badge>
      <fui-badge
        [color]="'success'"
        [size]="'sizexxl'"
        [isBadgeIcon]="true"
        [icon]="'cross'"
        >Success</fui-badge
      >
      <fui-badge
        [color]="'warning'"
        [size]="'sizexxl'"
        [isBadgeIcon]="true"
        [icon]="'cross'"
        [iconPosition]="'end'"
        >Warning</fui-badge
      >
      <fui-badge [color]="'danger'" [size]="'sizexxl'" [underline]="true"
        >Danger</fui-badge
      >
      <fui-badge
        [color]="'text'"
        [size]="'sizexxl'"
        [isBadgeIcon]="true"
        [icon]="'cross'"
        [iconPosition]="'start'"
        [underline]="true"
        >Text</fui-badge
      >
      <fui-badge
        [color]="'accent'"
        [size]="'sizexxl'"
        [isBadgeIcon]="true"
        [icon]="'cross'"
        [iconPosition]="'end'"
        [underline]="true"
        >Accent</fui-badge
      >
    </li>

    <h4>Badge Disabled</h4>
    <li class="flex">
      <fui-badge [color]="'disabled'" [size]="'sizedefault'"
        >Size Default</fui-badge
      >
      <fui-badge
        [color]="'disabled'"
        [size]="'sizexs'"
        [isBadgeIcon]="true"
        [icon]="'cross'"
        >Size XS</fui-badge
      >
      <fui-badge
        [color]="'disabled'"
        [size]="'sizes'"
        [isBadgeIcon]="true"
        [icon]="'cross'"
        [iconPosition]="'end'"
        >Size S</fui-badge
      >
      <fui-badge [color]="'disabled'" [size]="'sizem'" [underline]="true"
        >Size M</fui-badge
      >
      <fui-badge
        [color]="'disabled'"
        [size]="'sizel'"
        [isBadgeIcon]="true"
        [icon]="'cross'"
        [iconPosition]="'start'"
        [underline]="true"
        >Size L</fui-badge
      >
      <fui-badge
        [color]="'disabled'"
        [size]="'sizexl'"
        [isBadgeIcon]="true"
        [icon]="'cross'"
        [iconPosition]="'end'"
        [underline]="true"
        >Size XL</fui-badge
      >
      <fui-badge
        [color]="'disabled'"
        [size]="'sizexxl'"
        [isBadgeIcon]="true"
        [icon]="'cross'"
        [iconPosition]="'end'"
        [underline]="true"
        >Size XXL</fui-badge
      >
    </li>
  </ul>
</div>
