<div style="margin: 1rem auto; width: 30%">
  <form [formGroup]="employee">
    <fui-field-text
      [label]="'name'"
      [control]="employee.controls.name"
    ></fui-field-text>
    <fui-field-text
      [label]="'job'"
      [control]="employee.controls.job"
    ></fui-field-text>
    <fui-button type="submit">Testing</fui-button>
  </form>

  <div>
    <fui-input-field-number
      [valueInput]="myValue"
      [showSeparator]="true"
      (valueChanges)="onValueChanges($event)"
    ></fui-input-field-number>
  </div>
</div>
