<form [formGroup]="employee" (ngSubmit)="onSubmit()">
  <div formArrayName="employeeData" class="form-grouping">
    @for(item of employeeData ; track i ;let i = $index){
    <div [formGroupName]="i" class="container-demo__form">
      <fui-field-text
        [label]="'name'"
        [control]="item.get('name')"
      ></fui-field-text>
      <fui-spacer [size]="'sizel'" [direction]="'vertical'"></fui-spacer>
      <fui-field-text
        [label]="'job'"
        [control]="item.get('job')"
      ></fui-field-text>
      <fui-spacer [size]="'sizel'" [direction]="'vertical'"></fui-spacer>
      <fui-input-search-field
        [control]="item.get('kota')"
        (valueChanges)="onValueChangesSearch($event)"
        [label]="'Kota'"
        [placeholder]="'Search Kota'"
      ></fui-input-search-field>
      <fui-spacer [size]="'sizel'" [direction]="'vertical'"></fui-spacer>
      <fui-textarea
        [rows]="3"
        [placeholder]="'gak di isi juga ga apa-apa'"
        [control]="item.get('others')"
        [label]="'Others'"
      ></fui-textarea>
      <fui-spacer [size]="'sizel'" [direction]="'vertical'"></fui-spacer>
      <fui-input-field-password
        [control]="item.get('password')"
        (valueChanges)="onValueChangesPassword($event)"
        [label]="'Password'"
      ></fui-input-field-password>
      <fui-spacer [size]="'sizel'" [direction]="'vertical'"></fui-spacer>
      <fui-input-field-number
        [valueInput]="inputValueNumber"
        [controlNumber]="item.get('number')"
        [label]="'Number'"
        [name]="'price'"
        [min]="0"
        (valueChanges)="onValueChangesNumber($event)"
      ></fui-input-field-number>
      <fui-spacer [size]="'sizexs'" [direction]="'vertical'"></fui-spacer>
      <fui-input-field-number
        [valueInput]="inputValuePrice"
        [showSeparator]="true"
        [control]="item.get('price')"
        [label]="'Price'"
        [name]="'price'"
        (valueChanges)="onValueChangesPrice($event)"
      ></fui-input-field-number>
    </div>
    <fui-spacer [size]="'sizexxl'"></fui-spacer>
    }
  </div>
  <div class="form-group__button">
    <fui-button (click)="addAlamat()" [size]="'sizes'" [color]="'text'">
      <!-- <fui-icons [icon]="'plus'"></fui-icons> -->
      {{ employeeData.length < 1 ? "Form" : "Add Form" }}
    </fui-button>
    @if(employeeData.length > 0){
    <fui-button (click)="removeAlamat()" [size]="'sizes'" [color]="'danger'">
      <span>Remove Form</span>
    </fui-button>

    <fui-button-empty [size]="'sizes'" [type]="'reset'">Reset</fui-button-empty>
    <fui-button [size]="'sizes'" [type]="'submit'">Submit</fui-button>
    }
  </div>
</form>

<fui-spacer [size]="'sizexxl'"></fui-spacer>
<fui-title [size]="'sizel'" [position]="'center'">Image</fui-title>
<div class="container-demo__image">
  <fui-image
    [src]="
      'https://images.unsplash.com/photo-1504754524776-8f4f37790ca0?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjR8fGZvb2R8ZW58MHx8MHx8fDA%3D'
    "
    [alt]="'url salah'"
    [size]="'sizexxl'"
    [labelText]="'Size XXL'"
  ></fui-image>
</div>
<fui-spacer [size]="'sizexxl'" [direction]="'vertical'"></fui-spacer>
<div class="container-demo__image">
  <fui-image
    [src]="
      'https://images.unsplash.com/photo-1504674900247-0877df9cc836?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Zm9vZHxlbnwwfHwwfHx8MA%3D%3D'
    "
    [alt]="'url salah'"
    [size]="'sizexl'"
    [labelText]="'Size XL'"
  ></fui-image>
</div>
<fui-spacer [size]="'sizexl'" [direction]="'vertical'"></fui-spacer>
<div class="container-demo__image">
  <fui-image
    [src]="
      'https://images.unsplash.com/photo-1504674900247-0877df9cc836?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Zm9vZHxlbnwwfHwwfHx8MA%3D%3D'
    "
    [alt]="'url salah'"
    [size]="'sizel'"
    [labelText]="'Size L'"
  ></fui-image>
</div>
<fui-spacer [size]="'sizel'" [direction]="'vertical'"></fui-spacer>
<div class="container-demo__image">
  <fui-image
    [src]="
      'https://images.unsplash.com/photo-1504674900247-0877df9cc836?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Zm9vZHxlbnwwfHwwfHx8MA%3D%3D'
    "
    [alt]="'url salah'"
    [size]="'sizem'"
    [labelText]="'Default'"
  ></fui-image>
</div>
<fui-spacer [size]="'sizem'" [direction]="'vertical'"></fui-spacer>
<div class="container-demo__image">
  <fui-image
    [src]="
      'https://images.unsplash.com/photo-1504674900247-0877df9cc836?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Zm9vZHxlbnwwfHwwfHx8MA%3D%3D'
    "
    [alt]="'url salah'"
    [size]="'sizes'"
    [labelText]="'Size S'"
  ></fui-image>
</div>
<fui-spacer [size]="'sizes'" [direction]="'vertical'"></fui-spacer>
<div class="container-demo__image">
  <fui-image
    [src]="
      'https://images.unsplash.com/photo-1504674900247-0877df9cc836?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Zm9vZHxlbnwwfHwwfHx8MA%3D%3D'
    "
    [alt]="'url salah'"
    [size]="'sizexs'"
    [labelText]="'Size XS'"
  ></fui-image>
</div>

<fui-spacer [size]="'sizexxl'" [direction]="'vertical'"></fui-spacer>

<fui-title [position]="'center'">Primary Button</fui-title>
<div class="container-demo__button">
  <fui-button [size]="'sizexs'" [type]="'button'">Xtra Small</fui-button>
  <fui-spacer [size]="'sizexs'" [direction]="'horizontal'"></fui-spacer>
  <fui-button [size]="'sizes'" [type]="'button'">Small</fui-button>
  <fui-spacer [size]="'sizes'" [direction]="'horizontal'"></fui-spacer>
  <fui-button [size]="'sizedefault'" [type]="'button'">Default</fui-button>
  <fui-spacer [size]="'sizem'" [direction]="'horizontal'"></fui-spacer>
  <fui-button [size]="'sizel'" [type]="'button'">Large</fui-button>
  <fui-spacer [size]="'sizel'" [direction]="'horizontal'"></fui-spacer>
  <fui-button [size]="'sizexl'" [type]="'button'">Extra Large</fui-button>
  <fui-spacer [size]="'sizexl'" [direction]="'horizontal'"></fui-spacer>
  <fui-button [size]="'sizexxl'" [type]="'button'"
    >Extra Extra Large</fui-button
  >
  <fui-spacer [size]="'sizexxl'" [direction]="'horizontal'"></fui-spacer>
</div>
<fui-spacer [size]="'sizexxl'" [direction]="'vertical'"></fui-spacer>

<fui-title [position]="'center'" [color]="'success'">Success Button</fui-title>
<div class="container-demo__button">
  <fui-button [color]="'success'" [size]="'sizexs'">Xtra Small</fui-button>
  <fui-spacer [size]="'sizexs'" [direction]="'horizontal'"></fui-spacer>
  <fui-button [color]="'success'" [size]="'sizes'">Small</fui-button>
  <fui-spacer [size]="'sizes'" [direction]="'horizontal'"></fui-spacer>
  <fui-button [color]="'success'" [size]="'sizedefault'">Default</fui-button>
  <fui-spacer [size]="'sizem'" [direction]="'horizontal'"></fui-spacer>
  <fui-button [color]="'success'" [size]="'sizel'">Large</fui-button>
  <fui-spacer [size]="'sizel'" [direction]="'horizontal'"></fui-spacer>
  <fui-button [color]="'success'" [size]="'sizexl'">Extra Large</fui-button>
  <fui-spacer [size]="'sizexl'" [direction]="'horizontal'"></fui-spacer>
  <fui-button [color]="'success'" [size]="'sizexxl'"
    >Extra Extra Large</fui-button
  >
  <fui-spacer [size]="'sizexxl'" [direction]="'horizontal'"></fui-spacer>
</div>

<fui-spacer [size]="'sizexxl'" [direction]="'vertical'"></fui-spacer>

<fui-title [position]="'center'" [color]="'warning'">Warning Button</fui-title>

<div class="container-demo__button">
  <fui-button [color]="'warning'" [size]="'sizexs'">Xtra Small</fui-button>
  <fui-spacer [size]="'sizexs'" [direction]="'horizontal'"></fui-spacer>
  <fui-button [color]="'warning'" [size]="'sizes'">Small</fui-button>
  <fui-spacer [size]="'sizes'" [direction]="'horizontal'"></fui-spacer>
  <fui-button [color]="'warning'" [size]="'sizedefault'">Default</fui-button>
  <fui-spacer [size]="'sizem'" [direction]="'horizontal'"></fui-spacer>
  <fui-button [color]="'warning'" [size]="'sizel'">Large</fui-button>
  <fui-spacer [size]="'sizel'" [direction]="'horizontal'"></fui-spacer>
  <fui-button [color]="'warning'" [size]="'sizexl'">Extra Large</fui-button>
  <fui-spacer [size]="'sizexl'" [direction]="'horizontal'"></fui-spacer>
  <fui-button [color]="'warning'" [size]="'sizexxl'"
    >Extra Extra Large</fui-button
  >
</div>

<fui-spacer [size]="'sizexxl'" [direction]="'vertical'"></fui-spacer>

<fui-title [position]="'center'" [color]="'danger'">Danger Button</fui-title>

<div class="container-demo__button">
  <fui-button [color]="'danger'" [size]="'sizexs'">Xtra Small</fui-button>
  <fui-spacer [size]="'sizexs'" [direction]="'horizontal'"></fui-spacer>
  <fui-button [color]="'danger'" [size]="'sizes'">Small</fui-button>
  <fui-spacer [size]="'sizes'" [direction]="'horizontal'"></fui-spacer>
  <fui-button [color]="'danger'" [size]="'sizedefault'">Default</fui-button>
  <fui-spacer [size]="'sizem'" [direction]="'horizontal'"></fui-spacer>
  <fui-button [color]="'danger'" [size]="'sizel'">Large</fui-button>
  <fui-spacer [size]="'sizel'" [direction]="'horizontal'"></fui-spacer>
  <fui-button [color]="'danger'" [size]="'sizexl'">Extra Large</fui-button>
  <fui-spacer [size]="'sizexl'" [direction]="'horizontal'"></fui-spacer>
  <fui-button [color]="'danger'" [size]="'sizexxl'"
    >Extra Extra Large</fui-button
  >
  <fui-spacer [size]="'sizexxl'" [direction]="'horizontal'"></fui-spacer>
</div>

<fui-spacer [size]="'sizexxl'" [direction]="'vertical'"></fui-spacer>

<fui-title [position]="'center'" [color]="'text'">Text Button</fui-title>
<div class="container-demo__button">
  <fui-button [color]="'text'" [size]="'sizexs'">Xtra Small</fui-button>
  <fui-spacer [size]="'sizexs'" [direction]="'horizontal'"></fui-spacer>
  <fui-button [color]="'text'" [size]="'sizes'">Small</fui-button>
  <fui-spacer [size]="'sizes'" [direction]="'horizontal'"></fui-spacer>
  <fui-button [color]="'text'" [size]="'sizedefault'">Default</fui-button>
  <fui-spacer [size]="'sizem'" [direction]="'horizontal'"></fui-spacer>
  <fui-button [color]="'text'" [size]="'sizel'">Large</fui-button>
  <fui-spacer [size]="'sizel'" [direction]="'horizontal'"></fui-spacer>
  <fui-button [color]="'text'" [size]="'sizexl'">Extra Large</fui-button>
  <fui-spacer [size]="'sizexl'" [direction]="'horizontal'"></fui-spacer>
  <fui-button [color]="'text'" [size]="'sizexxl'">Extra Extra Large</fui-button>
  <fui-spacer [size]="'sizexxl'" [direction]="'horizontal'"></fui-spacer>
</div>

<fui-spacer [size]="'sizexxl'" [direction]="'vertical'"></fui-spacer>

<fui-title [position]="'center'" [color]="'accent'">Accent Button</fui-title>
<div class="container-demo__button">
  <fui-button [color]="'accent'" [size]="'sizexs'">Xtra Small</fui-button>
  <fui-spacer [size]="'sizexs'" [direction]="'horizontal'"></fui-spacer>
  <fui-button [color]="'accent'" [size]="'sizes'">Small</fui-button>
  <fui-spacer [size]="'sizes'" [direction]="'horizontal'"></fui-spacer>
  <fui-button [color]="'accent'" [size]="'sizedefault'">Default</fui-button>
  <fui-spacer [size]="'sizem'" [direction]="'horizontal'"></fui-spacer>
  <fui-button [color]="'accent'" [size]="'sizel'">Large</fui-button>
  <fui-spacer [size]="'sizel'" [direction]="'horizontal'"></fui-spacer>
  <fui-button [color]="'accent'" [size]="'sizexl'">Extra Large</fui-button>
  <fui-spacer [size]="'sizexl'" [direction]="'horizontal'"></fui-spacer>
  <fui-button [color]="'accent'" [size]="'sizexxl'"
    >Extra Extra Large</fui-button
  >
</div>

<fui-spacer [size]="'sizexxl'"></fui-spacer>
<fui-title [size]="'sizel'" [position]="'center'">Title</fui-title>
<div class="container-demo__button flex space-between">
  <div>
    <fui-title [size]="'sizel'">Large Title</fui-title>

    <fui-title [size]="'sizem'">Medium Title</fui-title>

    <fui-title [size]="'sizes'">Small Title</fui-title>

    <fui-title [size]="'sizexs'">X-Small Title</fui-title>

    <fui-title [size]="'sizexxs'">XX-Small Title</fui-title>

    <fui-title [size]="'sizexxxs'">XXX-Small Title</fui-title>
  </div>
  <div>
    <fui-title [color]="'success'" [size]="'sizel'">Large Title</fui-title>

    <fui-title [color]="'success'" [size]="'sizem'">Medium Title</fui-title>

    <fui-title [color]="'success'" [size]="'sizes'">Small Title</fui-title>

    <fui-title [color]="'success'" [size]="'sizexs'">X-Small Title</fui-title>

    <fui-title [color]="'success'" [size]="'sizexxs'">XX-Small Title</fui-title>

    <fui-title [color]="'success'" [size]="'sizexxxs'"
      >XXX-Small Title</fui-title
    >
  </div>
  <div>
    <fui-title [color]="'warning'" [size]="'sizel'">Large Title</fui-title>

    <fui-title [color]="'warning'" [size]="'sizem'">Medium Title</fui-title>

    <fui-title [color]="'warning'" [size]="'sizes'">Small Title</fui-title>

    <fui-title [color]="'warning'" [size]="'sizexs'">X-Small Title</fui-title>

    <fui-title [color]="'warning'" [size]="'sizexxs'">XX-Small Title</fui-title>

    <fui-title [color]="'warning'" [size]="'sizexxxs'"
      >XXX-Small Title</fui-title
    >
  </div>
  <div>
    <fui-title [color]="'danger'" [size]="'sizel'">Large Title</fui-title>

    <fui-title [color]="'danger'" [size]="'sizem'">Medium Title</fui-title>

    <fui-title [color]="'danger'" [size]="'sizes'">Small Title</fui-title>

    <fui-title [color]="'danger'" [size]="'sizexs'">X-Small Title</fui-title>

    <fui-title [color]="'danger'" [size]="'sizexxs'">XX-Small Title</fui-title>

    <fui-title [color]="'danger'" [size]="'sizexxxs'"
      >XXX-Small Title</fui-title
    >
  </div>
  <div>
    <fui-title [color]="'text'" [size]="'sizel'">Large Title</fui-title>

    <fui-title [color]="'text'" [size]="'sizem'">Medium Title</fui-title>

    <fui-title [color]="'text'" [size]="'sizes'">Small Title</fui-title>

    <fui-title [color]="'text'" [size]="'sizexs'">X-Small Title</fui-title>

    <fui-title [color]="'text'" [size]="'sizexxs'">XX-Small Title</fui-title>

    <fui-title [color]="'text'" [size]="'sizexxxs'">XXX-Small Title</fui-title>
  </div>
  <div>
    <fui-title [color]="'accent'" [size]="'sizel'">Large Title</fui-title>

    <fui-title [color]="'accent'" [size]="'sizem'">Medium Title</fui-title>

    <fui-title [color]="'accent'" [size]="'sizes'">Small Title</fui-title>

    <fui-title [color]="'accent'" [size]="'sizexs'">X-Small Title</fui-title>

    <fui-title [color]="'accent'" [size]="'sizexxs'">XX-Small Title</fui-title>

    <fui-title [color]="'accent'" [size]="'sizexxxs'"
      >XXX-Small Title</fui-title
    >
  </div>
</div>

<fui-title [size]="'sizel'" [position]="'center'"
  >Spacer Vertical and Text</fui-title
>
<div class="container">
  <div>
    <fui-text [color]="'primary'">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil, doloribus
      laudantium soluta ab nam laboriosam, iste ex nisi, quas deserunt autem.
      Voluptatibus temporibus ipsam numquam eius libero dolores exercitationem
      quis!</fui-text
    >
  </div>
  <fui-spacer [size]="'sizexxl'"></fui-spacer>
  <div>
    <fui-text [color]="'primary'">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil, doloribus
      laudantium soluta ab nam laboriosam, iste ex nisi, quas deserunt autem.
      Voluptatibus temporibus ipsam numquam eius libero dolores exercitationem
      quis!
    </fui-text>
  </div>
  <fui-spacer [size]="'sizexl'"></fui-spacer>
  <div>
    <fui-text [color]="'success'">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil, doloribus
      laudantium soluta ab nam laboriosam, iste ex nisi, quas deserunt autem.
      Voluptatibus temporibus ipsam numquam eius libero dolores exercitationem
      quis!
    </fui-text>
  </div>
  <fui-spacer [size]="'sizel'"></fui-spacer>
  <div>
    <fui-text [color]="'warning'">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil, doloribus
      laudantium soluta ab nam laboriosam, iste ex nisi, quas deserunt autem.
      Voluptatibus temporibus ipsam numquam eius libero dolores exercitationem
      quis!
    </fui-text>
  </div>
  <fui-spacer [size]="'sizem'"></fui-spacer>
  <div>
    <fui-text [color]="'danger'">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil, doloribus
      laudantium soluta ab nam laboriosam, iste ex nisi, quas deserunt autem.
      Voluptatibus temporibus ipsam numquam eius libero dolores exercitationem
      quis!
    </fui-text>
  </div>
  <fui-spacer [size]="'sizes'"></fui-spacer>
  <div>
    <fui-text [color]="'success'">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil, doloribus
      laudantium soluta ab nam laboriosam, iste ex nisi, quas deserunt autem.
      Voluptatibus temporibus ipsam numquam eius libero dolores exercitationem
      quis!
    </fui-text>
  </div>
  <fui-spacer [size]="'sizexs'"></fui-spacer>
  <div>
    <fui-text [color]="'accent'">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil, doloribus
      laudantium soluta ab nam laboriosam, iste ex nisi, quas deserunt autem.
      Voluptatibus temporibus ipsam numquam eius libero dolores exercitationem
      quis!
    </fui-text>
  </div>
</div>

<fui-title [size]="'sizel'" [position]="'center'"
  >Spacer Horizontal and Text</fui-title
>
<div class="container flex">
  <div class="inline-block">
    <fui-text [color]="'primary'">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil, doloribus
      laudantium soluta ab nam laboriosam, iste ex nisi, quas deserunt autem.
      Voluptatibus temporibus ipsam numquam eius libero dolores exercitationem
      quis!</fui-text
    >
  </div>
  <fui-spacer [size]="'sizexxl'" [direction]="'horizontal'"></fui-spacer>
  <div class="inline-block">
    <fui-text [color]="'success'" [color]="'success'">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil, doloribus
      laudantium soluta ab nam laboriosam, iste ex nisi, quas deserunt autem.
      Voluptatibus temporibus ipsam numquam eius libero dolores exercitationem
      quis!
    </fui-text>
  </div>
  <fui-spacer [size]="'sizexl'" [direction]="'horizontal'"></fui-spacer>
  <div class="inline-block">
    <fui-text [color]="'warning'">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil, doloribus
      laudantium soluta ab nam laboriosam, iste ex nisi, quas deserunt autem.
      Voluptatibus temporibus ipsam numquam eius libero dolores exercitationem
      quis!
    </fui-text>
  </div>
  <fui-spacer [size]="'sizel'" [direction]="'horizontal'"></fui-spacer>
  <div class="inline-block">
    <fui-text [color]="'danger'">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil, doloribus
      laudantium soluta ab nam laboriosam, iste ex nisi, quas deserunt autem.
      Voluptatibus temporibus ipsam numquam eius libero dolores exercitationem
      quis!
    </fui-text>
  </div>
  <fui-spacer [size]="'sizem'" [direction]="'horizontal'"></fui-spacer>
  <div class="inline-block">
    <fui-text>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil, doloribus
      laudantium soluta ab nam laboriosam, iste ex nisi, quas deserunt autem.
      Voluptatibus temporibus ipsam numquam eius libero dolores exercitationem
      quis!
    </fui-text>
  </div>
  <fui-spacer [size]="'sizes'" [direction]="'horizontal'"></fui-spacer>
  <div class="inline-block">
    <fui-text [color]="'accent'">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil, doloribus
      laudantium soluta ab nam laboriosam, iste ex nisi, quas deserunt autem.
      Voluptatibus temporibus ipsam numquam eius libero dolores exercitationem
      quis!
    </fui-text>
  </div>
  <fui-spacer [size]="'sizexs'" [direction]="'horizontal'"></fui-spacer>
  <div class="inline-block">
    <fui-text>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil, doloribus
      laudantium soluta ab nam laboriosam, iste ex nisi, quas deserunt autem.
      Voluptatibus temporibus ipsam numquam eius libero dolores exercitationem
      quis!
    </fui-text>
  </div>
</div>
