<div class="container">
  <div>
    <header>Progress Base</header>
    <ul class="main-ul">
      <li>
        <fui-progress-base
          [value]="50"
          [max]="100"
          [color]="'primary'"
          [size]="'sizedefault'"
        ></fui-progress-base>
        <fui-progress-base
          [value]="20"
          [max]="100"
          [color]="'success'"
          [size]="'sizexs'"
        ></fui-progress-base>
        <fui-progress-base
          [value]="40"
          [max]="100"
          [color]="'warning'"
          [size]="'sizes'"
        ></fui-progress-base>
        <fui-progress-base
          [value]="50"
          [max]="100"
          [color]="'danger'"
          [size]="'sizem'"
        ></fui-progress-base>
        <fui-progress-base
          [value]="60"
          [max]="100"
          [color]="'text'"
          [size]="'sizel'"
        ></fui-progress-base>
        <fui-progress-base
          [value]="80"
          [max]="100"
          [color]="'disabled'"
          [size]="'sizexl'"
        ></fui-progress-base>
        <fui-progress-base
          [value]="90"
          [max]="100"
          [color]="'primary'"
          [size]="'sizexxl'"
        ></fui-progress-base>
      </li>
    </ul>
  </div>
</div>

<div class="container">
  <div>
    <header>Progress</header>
    <ul class="main-ul">
      <li>
        <fui-progress
          [value]="50"
          [max]="100"
          [color]="'primary'"
          [size]="'sizedefault'"
          [label]="'Label'"
        ></fui-progress>
        <fui-progress
          [value]="20"
          [max]="100"
          [color]="'success'"
          [size]="'sizexs'"
          [label]="'Label'"
        ></fui-progress>
        <fui-progress
          [value]="40"
          [max]="100"
          [color]="'warning'"
          [size]="'sizes'"
          [label]="'Label'"
        ></fui-progress>
        <fui-progress
          [value]="50"
          [max]="100"
          [color]="'danger'"
          [size]="'sizem'"
          [label]="'Label'"
        ></fui-progress>
        <fui-progress
          [value]="60"
          [max]="100"
          [color]="'text'"
          [size]="'sizel'"
          [label]="'Label'"
        ></fui-progress>
        <fui-progress
          [value]="80"
          [max]="100"
          [color]="'disabled'"
          [size]="'sizexl'"
          [label]="'Label'"
        ></fui-progress>
        <fui-progress
          [value]="90"
          [max]="100"
          [color]="'primary'"
          [size]="'sizexxl'"
          [label]="'Label'"
        ></fui-progress>
      </li>
    </ul>
  </div>
</div>
