<h1>Text</h1>
<p>
  <b>FuiText</b> is a generic catchall wrapper that will apply our standard
  typography styling and spacing to naked HTML. Because of its forced style it
  only accepts raw XHTML.
</p>
<h3>Accepted color names</h3>
<div class="flex">
  <fui-text [color]="'primary'">This is Primary</fui-text>
  <fui-text [color]="'success'">This is Succes</fui-text>
  <fui-text [color]="'accent'">This is Accent</fui-text>
  <fui-text [color]="'warning'">This is Warning</fui-text>
  <fui-text [color]="'danger'">This is Danger</fui-text>
  <fui-text [color]="'ink'">This is Ink</fui-text>
  <fui-text [color]="'text'">This is Text</fui-text>
  <fui-text [color]="'disabled'">This is Disabled</fui-text>
  <div class="bg-black">
    <fui-text [color]="'ghost'">This is Ghost</fui-text>
  </div>
</div>

<h3>Weight</h3>
<div class="flex">
  <fui-text [fwWeight]="'thin'">This is thin</fui-text>
  <fui-text [fwWeight]="'extralight'">This is extralight</fui-text>
  <fui-text [fwWeight]="'light'">This is light</fui-text>
  <fui-text [fwWeight]="'normal'">This is normal</fui-text>
  <fui-text [fwWeight]="'medium'">This is medium</fui-text>
  <fui-text [fwWeight]="'semibold'">This is semibold</fui-text>
  <fui-text [fwWeight]="'bold'">This is bold</fui-text>
  <fui-text [fwWeight]="'extrabold'">This is extrabold</fui-text>
  <fui-text [fwWeight]="'black'">This is black</fui-text>
</div>

<h3>Style</h3>
<div class="flex">
  <fui-text [fwStyle]="'italic'">This is Italic</fui-text>
</div>

<h3>Decoration</h3>
<div class="flex">
  <fui-text [fwDecoration]="'underline'">This is underline</fui-text>
</div>
