<div class="panels">
  <header>Panel</header>
  <div class="list">
    <fui-panel [hasShadow]="true"> Lorem ipsum </fui-panel>
    <fui-panel [color]="'primary'" [hasBorder]="true"> Lorem ipsum </fui-panel>
    <fui-panel [color]="'success'" [hasBorder]="false" [hasShadow]="true">
      Lorem ipsum
    </fui-panel>
    <fui-panel [color]="'warning'" [hasBorder]="false" [borderRadius]="true">
      Lorem ipsum
    </fui-panel>
    <fui-panel [color]="'danger'" [hasBorder]="true" [hasShadow]="true">
      Lorem ipsum
    </fui-panel>
    <fui-panel [color]="'text'" [hasBorder]="true" [borderRadius]="true">
      Lorem ipsum
    </fui-panel>
    <fui-panel
      [color]="'accent'"
      [hasBorder]="false"
      [hasShadow]="true"
      [borderRadius]="true"
    >
      Lorem ipsum
    </fui-panel>
    <fui-panel [color]="'disabled'"> Lorem ipsum </fui-panel>
  </div>

  <header>Panel Split Column</header>
  <div class="list">
    <fui-panel [panelSplit]="true" [hasShadow]="true">
      <div panel-start>Panel</div>
      <div panel-end>Lorem, ipsum dolor.</div>
    </fui-panel>
    <fui-panel [panelSplit]="true" [hasShadow]="true" [color]="'primary'">
      <div panel-start>Panel</div>
      <div panel-end>Lorem, ipsum dolor.</div>
    </fui-panel>
    <fui-panel
      [panelSplit]="true"
      [hasShadow]="true"
      [color]="'primary'"
      [colorSubdued]="'start'"
    >
      <div panel-start>Panel</div>
      <div panel-end>Lorem, ipsum dolor.</div>
    </fui-panel>
  </div>

  <header>Panel Split Row</header>
  <div class="list">
    <fui-panel
      [panelSplit]="true"
      [directionSubdued]="'row'"
      [hasShadow]="true"
    >
      <div panel-start>Panel</div>
      <div panel-end>Lorem, ipsum dolor.</div>
    </fui-panel>
    <fui-panel
      [panelSplit]="true"
      [directionSubdued]="'row'"
      [hasShadow]="true"
      [color]="'primary'"
    >
      <div panel-start>Panel</div>
      <div panel-end>Lorem, ipsum dolor.</div>
    </fui-panel>
    <fui-panel
      [panelSplit]="true"
      [directionSubdued]="'row'"
      [hasShadow]="true"
      [color]="'primary'"
      [colorSubdued]="'start'"
    >
      <div panel-start>Panel</div>
      <div panel-end>Lorem, ipsum dolor.</div>
    </fui-panel>
  </div>
</div>
