.fit {
  margin: 50px;
}

.flex {
  display: flex;
}

.max-width {
  margin: 10px;
  width: -webkit-fill-available;
}
.mx-5 {
  margin: 0px 5px 0px 5px;
}

p {
  margin: 0px;
}

.mb-5 {
  margin-bottom: 30px;
}
