<div *ngIf="params === 'text'">
  <div class="fit">
    <fui-text-field-complex
      [size]="size"
      [textFieldControl]="textFieldx"
      [fullWidth]="true"
      [validator]="false"
      [message]="'This is required !'"
    ></fui-text-field-complex>
  </div>
  <div class="fit">
    <fui-text-field-complex
      [size]="size"
      [textFieldControl]="textFieldx"
      [fullWidth]="false"
      [validator]="false"
      [message]="'This is required !'"
    ></fui-text-field-complex>
  </div>

  <form [formGroup]="myForm!" class="fit">
    <div class="max-width">
      <fui-text-field-complex
        [size]="size"
        formControlName="email"
        [loading]="true"
        [fullWidth]="true"
        [validator]="true"
        [message]="'This is required!'"
      >
      </fui-text-field-complex>
    </div>
    <div class="max-width">
      <fui-text-field-complex
        [size]="size"
        formControlName="email"
        [loading]="true"
        [fullWidth]="false"
        [validator]="true"
        [message]="'This is required!'"
      >
      </fui-text-field-complex>
    </div>

    <div class="flex">
      <div class="max-width">
        <fui-text-field-complex
          [size]="size"
          formControlName="firstName"
          [fullWidth]="true"
          [validator]="true"
          [message]="'This is required!'"
        >
        </fui-text-field-complex>
      </div>
      <div class="max-width">
        <fui-text-field-complex
          [size]="size"
          formControlName="lastName"
          [fullWidth]="true"
          [message]="'This is required!'"
        >
        </fui-text-field-complex>
      </div>
    </div>
  </form>

  <h1>Append & Prepend</h1>
  <div class="fit">
    <fui-text-field-complex
      [size]="size"
      [textFieldControl]="textFieldx"
      [fullWidth]="true"
      [inputGroup]="'prepend-append'"
      [textAppend]="'Append'"
      [textPrepend]="'Prepend'"
      [validator]="false"
      [message]="'This is required !'"
    ></fui-text-field-complex>
  </div>

  <form [formGroup]="myForm!" class="fit">
    <div class="max-width">
      <fui-text-field-complex
        [size]="size"
        [inputGroup]="'prepend-append'"
        [textAppend]="'Append'"
        [textPrepend]="'Prepend'"
        formControlName="email"
        [loading]="true"
        [fullWidth]="true"
        [validator]="true"
        [message]="'This is required!'"
      >
      </fui-text-field-complex>
    </div>

    <div class="flex">
      <div class="max-width">
        <fui-text-field-complex
          [size]="size"
          formControlName="firstName"
          [inputGroup]="'append'"
          [textAppend]="'Append'"
          [fullWidth]="true"
          [loading]="true"
          [validator]="true"
          [message]="'This is required!'"
        >
        </fui-text-field-complex>
      </div>
      <div class="max-width">
        <fui-text-field-complex
          [size]="size"
          [validator]="true"
          [loading]="true"
          formControlName="lastName"
          [fullWidth]="true"
          [inputGroup]="'prepend'"
          [textPrepend]="'Prepend'"
          [message]="'This is required!'"
        >
        </fui-text-field-complex>
      </div>
    </div>
    <div class="flex">
      <div class="max-width">
        <fui-text-field-complex
          [size]="size"
          formControlName="firstName"
          [inputGroup]="'append'"
          [textAppend]="'Append'"
          [fullWidth]="true"
          [loading]="true"
          [message]="'This is required!'"
        >
        </fui-text-field-complex>
      </div>
      <div class="max-width">
        <fui-text-field-complex
          [size]="size"
          [loading]="true"
          formControlName="lastName"
          [fullWidth]="true"
          [inputGroup]="'prepend'"
          [textPrepend]="'Prepend'"
          [message]="'This is required!'"
        >
        </fui-text-field-complex>
      </div>
    </div>
    <div class="flex">
      <div class="max-width">
        <fui-text-field-complex
          [size]="size"
          formControlName="firstName"
          [inputGroup]="'append'"
          [textAppend]="'Append'"
          [fullWidth]="true"
          [validator]="true"
          [message]="'This is required!'"
        >
        </fui-text-field-complex>
      </div>
      <div class="max-width">
        <fui-text-field-complex
          [size]="size"
          formControlName="lastName"
          [fullWidth]="true"
          [inputGroup]="'prepend'"
          [textPrepend]="'Prepend'"
          [validator]="true"
          [message]="'This is required!'"
        >
        </fui-text-field-complex>
      </div>
    </div>
  </form>
</div>
<div *ngIf="params === 'select'">
  <div class="fit">
    <fui-text-field-complex
      [size]="size"
      [typeField]="'select'"
      [selectOptions]="selectOptions"
      [textFieldControl]="textFieldSelect"
      [fullWidth]="true"
      [validator]="false"
      [message]="'This is required !'"
    ></fui-text-field-complex>
  </div>
  <div class="fit">
    <fui-text-field-complex
      [size]="size"
      [typeField]="'select'"
      [selectOptions]="selectOptions"
      [textFieldControl]="textFieldSelect"
      [fullWidth]="false"
      [validator]="false"
      [message]="'This is required !'"
    ></fui-text-field-complex>
  </div>

  <form [formGroup]="myFormSelect!" class="fit">
    <div class="max-width">
      <fui-text-field-complex
        [size]="size"
        [typeField]="'select'"
        [selectOptions]="selectOptions"
        formControlName="email"
        [loading]="true"
        [fullWidth]="true"
        [validator]="true"
        [message]="'This is required!'"
      >
      </fui-text-field-complex>
    </div>
    <div class="max-width">
      <fui-text-field-complex
        [size]="size"
        [typeField]="'select'"
        [selectOptions]="selectOptions"
        formControlName="email"
        [loading]="true"
        [fullWidth]="false"
        [validator]="true"
        [message]="'This is required!'"
      >
      </fui-text-field-complex>
    </div>

    <div class="flex">
      <div class="max-width">
        <fui-text-field-complex
          [size]="size"
          [typeField]="'select'"
          [selectOptions]="selectOptions"
          formControlName="firstName"
          [fullWidth]="true"
          [validator]="true"
          [message]="'This is required!'"
        >
        </fui-text-field-complex>
      </div>
      <div class="max-width">
        <fui-text-field-complex
          [size]="size"
          [typeField]="'select'"
          [selectOptions]="selectOptions"
          formControlName="lastName"
          [fullWidth]="true"
          [message]="'This is required!'"
        >
        </fui-text-field-complex>
      </div>
    </div>
  </form>

  <h1>Append & Prepend</h1>
  <div class="fit">
    <fui-text-field-complex
      [size]="size"
      [typeField]="'select'"
      [selectOptions]="selectOptions"
      [textFieldControl]="textFieldSelect"
      [fullWidth]="true"
      [inputGroup]="'prepend-append'"
      [textAppend]="'Append'"
      [textPrepend]="'Prepend'"
      [validator]="false"
      [message]="'This is required !'"
    ></fui-text-field-complex>
  </div>

  <form [formGroup]="myFormSelect!" class="fit">
    <div class="max-width">
      <fui-text-field-complex
        [size]="size"
        [typeField]="'select'"
        [selectOptions]="selectOptions"
        [inputGroup]="'prepend-append'"
        [textAppend]="'Append'"
        [textPrepend]="'Prepend'"
        formControlName="email"
        [loading]="true"
        [fullWidth]="true"
        [validator]="true"
        [message]="'This is required!'"
      >
      </fui-text-field-complex>
    </div>

    <div class="flex">
      <div class="max-width">
        <fui-text-field-complex
          [size]="size"
          [typeField]="'select'"
          [selectOptions]="selectOptions"
          formControlName="firstName"
          [inputGroup]="'append'"
          [textAppend]="'Append'"
          [fullWidth]="true"
          [loading]="true"
          [validator]="true"
          [message]="'This is required!'"
        >
        </fui-text-field-complex>
      </div>
      <div class="max-width">
        <fui-text-field-complex
          [size]="size"
          [typeField]="'select'"
          [selectOptions]="selectOptions"
          [validator]="true"
          [loading]="true"
          formControlName="lastName"
          [fullWidth]="true"
          [inputGroup]="'prepend'"
          [textPrepend]="'Prepend'"
          [message]="'This is required!'"
        >
        </fui-text-field-complex>
      </div>
    </div>
    <div class="flex">
      <div class="max-width">
        <fui-text-field-complex
          [size]="size"
          [typeField]="'select'"
          [selectOptions]="selectOptions"
          formControlName="firstName"
          [inputGroup]="'append'"
          [textAppend]="'Append'"
          [fullWidth]="true"
          [loading]="true"
          [message]="'This is required!'"
        >
        </fui-text-field-complex>
      </div>
      <div class="max-width">
        <fui-text-field-complex
          [size]="size"
          [typeField]="'select'"
          [selectOptions]="selectOptions"
          [loading]="true"
          formControlName="lastName"
          [fullWidth]="true"
          [inputGroup]="'prepend'"
          [textPrepend]="'Prepend'"
          [message]="'This is required!'"
        >
        </fui-text-field-complex>
      </div>
    </div>
    <div class="flex">
      <div class="max-width">
        <fui-text-field-complex
          [size]="size"
          [typeField]="'select'"
          [selectOptions]="selectOptions"
          formControlName="firstName"
          [inputGroup]="'append'"
          [textAppend]="'Append'"
          [fullWidth]="true"
          [validator]="true"
          [message]="'This is required!'"
        >
        </fui-text-field-complex>
      </div>
      <div class="max-width">
        <fui-text-field-complex
          [size]="size"
          [typeField]="'select'"
          [selectOptions]="selectOptions"
          formControlName="lastName"
          [fullWidth]="true"
          [inputGroup]="'prepend'"
          [textPrepend]="'Prepend'"
          [validator]="true"
          [message]="'This is required!'"
        >
        </fui-text-field-complex>
      </div>
    </div>
  </form>
</div>
