<h1>Empty prompts</h1>
<p>
  The best empty state lets users know what is happening, why it is happening,
  and what to do about it. Here are four types of frequently used empty prompts.
</p>
<div class="container">
  <div>
    <header>Empty Prompt</header>
    <ul class="main-ul">
      <li class="flex">
        <fui-empty-prompt
          [title]="'Empty Prompt Title'"
          [buttonText]="'Button'"
          [secondaryButtonText]="'Secondary action'"
          [shadow]="true"
          [secondaryButtonColor]="'primary'"
        >
          You can remove parts of the prompt to simplify it. You can also
          override the title and button size. The component should have a
          max-width of 456px.
        </fui-empty-prompt>
        <fui-empty-prompt
          [title]="'Empty Prompt Title'"
          [buttonText]="'Button'"
          [secondaryButtonText]="'Secondary action'"
          [shadow]="true"
          [secondaryButtonColor]="'primary'"
          [image]="
            'https://preyash2047.github.io/assets/img/no-preview-available.png?h=824917b166935ea4772542bec6e8f636'
          "
          [direction]="'horizontal'"
        >
          You can remove parts of the prompt to simplify it. You can also
          override the title and button size. The component should have a
          max-width of 805px.
        </fui-empty-prompt>
      </li>
    </ul>
    <ul class="main-ul">
      <li class="flex">
        <fui-empty-prompt
          [title]="'Empty Prompt Title'"
          [buttonText]="'Button'"
          [secondaryButtonText]="'Secondary action'"
          [shadow]="false"
          [secondaryButtonColor]="'primary'"
          [icon]="'faceHappy'"
          [iconSize]="'sizel'"
        >
          You can remove parts of the prompt to simplify it. You can also
          override the title and button size. The component should have a
          max-width of 456px.
        </fui-empty-prompt>
        <fui-empty-prompt
          [title]="'Empty Prompt Title'"
          [buttonText]="'Button'"
          [secondaryButtonText]="'Secondary action'"
          [shadow]="false"
          [secondaryButtonColor]="'primary'"
          [image]="
            'https://preyash2047.github.io/assets/img/no-preview-available.png?h=824917b166935ea4772542bec6e8f636'
          "
          [direction]="'horizontal'"
        >
          You can remove parts of the prompt to simplify it. You can also
          override the title and button size. The component should have a
          max-width of 805px.
        </fui-empty-prompt>
      </li>
    </ul>
    <ul class="main-ul">
      <li class="flex">
        <fui-empty-prompt
          [title]="'Empty Prompt Title'"
          [buttonText]="'Button'"
          [secondaryButtonText]="'Secondary action'"
          [shadow]="false"
          [color]="'primary'"
          [icon]="'faceHappy'"
          [iconSize]="'sizel'"
        >
          You can remove parts of the prompt to simplify it. You can also
          override the title and button size. The component should have a
          max-width of 456px.
        </fui-empty-prompt>
        <fui-empty-prompt
          [title]="'Empty Prompt Title'"
          [buttonText]="'Button'"
          [secondaryButtonText]="'Secondary action'"
          [shadow]="false"
          [color]="'primary'"
          [image]="
            'https://preyash2047.github.io/assets/img/no-preview-available.png?h=824917b166935ea4772542bec6e8f636'
          "
          [direction]="'horizontal'"
        >
          You can remove parts of the prompt to simplify it. You can also
          override the title and button size. The component should have a
          max-width of 805px.
        </fui-empty-prompt>
      </li>
    </ul>
    <ul class="main-ul">
      <li class="flex">
        <fui-empty-prompt
          [title]="'Empty Prompt Title'"
          [buttonText]="'Button'"
          [secondaryButtonText]="'Secondary action'"
          [shadow]="false"
          [color]="'success'"
          [secondaryButtonColor]="'primary'"
        >
          You can remove parts of the prompt to simplify it. You can also
          override the title and button size. The component should have a
          max-width of 456px.
        </fui-empty-prompt>
        <fui-empty-prompt
          [title]="'Empty Prompt Title'"
          [buttonText]="'Button'"
          [secondaryButtonText]="'Secondary action'"
          [shadow]="false"
          [color]="'success'"
          [secondaryButtonColor]="'primary'"
          [image]="
            'https://preyash2047.github.io/assets/img/no-preview-available.png?h=824917b166935ea4772542bec6e8f636'
          "
          [direction]="'horizontal'"
        >
          You can remove parts of the prompt to simplify it. You can also
          override the title and button size. The component should have a
          max-width of 805px.
        </fui-empty-prompt>
      </li>
    </ul>
    <ul class="main-ul">
      <li class="flex">
        <fui-empty-prompt
          [title]="'Empty Prompt Title'"
          [buttonText]="'Button'"
          [secondaryButtonText]="'Secondary action'"
          [shadow]="false"
          [color]="'warning'"
          [secondaryButtonColor]="'primary'"
        >
          You can remove parts of the prompt to simplify it. You can also
          override the title and button size. The component should have a
          max-width of 456px.
        </fui-empty-prompt>
        <fui-empty-prompt
          [title]="'Empty Prompt Title'"
          [buttonText]="'Button'"
          [secondaryButtonText]="'Secondary action'"
          [shadow]="false"
          [color]="'warning'"
          [secondaryButtonColor]="'primary'"
          [image]="
            'https://preyash2047.github.io/assets/img/no-preview-available.png?h=824917b166935ea4772542bec6e8f636'
          "
          [direction]="'horizontal'"
        >
          You can remove parts of the prompt to simplify it. You can also
          override the title and button size. The component should have a
          max-width of 805px.
        </fui-empty-prompt>
      </li>
    </ul>
    <ul class="main-ul">
      <li class="flex">
        <fui-empty-prompt
          [title]="'Empty Prompt Title'"
          [buttonText]="'Button'"
          [secondaryButtonText]="'Secondary action'"
          [shadow]="false"
          [color]="'danger'"
          [secondaryButtonColor]="'primary'"
        >
          You can remove parts of the prompt to simplify it. You can also
          override the title and button size. The component should have a
          max-width of 456px.
        </fui-empty-prompt>
        <fui-empty-prompt
          [title]="'Empty Prompt Title'"
          [buttonText]="'Button'"
          [secondaryButtonText]="'Secondary action'"
          [shadow]="false"
          [color]="'danger'"
          [secondaryButtonColor]="'primary'"
          [image]="
            'https://preyash2047.github.io/assets/img/no-preview-available.png?h=824917b166935ea4772542bec6e8f636'
          "
          [direction]="'horizontal'"
        >
          You can remove parts of the prompt to simplify it. You can also
          override the title and button size. The component should have a
          max-width of 805px.
        </fui-empty-prompt>
      </li>
    </ul>
    <ul class="main-ul">
      <li class="flex">
        <fui-empty-prompt
          [title]="'Empty Prompt Title'"
          [buttonText]="'Button'"
          [secondaryButtonText]="'Secondary action'"
          [shadow]="false"
          [color]="'text'"
        >
          You can remove parts of the prompt to simplify it. You can also
          override the title and button size. The component should have a
          max-width of 456px.
        </fui-empty-prompt>
        <fui-empty-prompt
          [title]="'Empty Prompt Title'"
          [buttonText]="'Button'"
          [secondaryButtonText]="'Secondary action'"
          [shadow]="false"
          [color]="'text'"
          [image]="
            'https://preyash2047.github.io/assets/img/no-preview-available.png?h=824917b166935ea4772542bec6e8f636'
          "
          [direction]="'horizontal'"
        >
          You can remove parts of the prompt to simplify it. You can also
          override the title and button size. The component should have a
          max-width of 805px.
        </fui-empty-prompt>
      </li>
    </ul>
    <ul class="main-ul">
      <li class="flex">
        <fui-empty-prompt
          [title]="'Empty Prompt Title'"
          [buttonText]="'Button'"
          [secondaryButtonText]="'Secondary action'"
          [shadow]="false"
          [color]="'accent'"
          [secondaryButtonColor]="'primary'"
        >
          You can remove parts of the prompt to simplify it. You can also
          override the title and button size. The component should have a
          max-width of 456px.
        </fui-empty-prompt>
        <fui-empty-prompt
          [title]="'Empty Prompt Title'"
          [buttonText]="'Button'"
          [secondaryButtonText]="'Secondary action'"
          [shadow]="false"
          [color]="'accent'"
          [secondaryButtonColor]="'primary'"
          [image]="
            'https://preyash2047.github.io/assets/img/no-preview-available.png?h=824917b166935ea4772542bec6e8f636'
          "
          [direction]="'horizontal'"
        >
          You can remove parts of the prompt to simplify it. You can also
          override the title and button size. The component should have a
          max-width of 805px.
        </fui-empty-prompt>
      </li>
    </ul>
    <ul class="main-ul">
      <li class="flex">
        <fui-empty-prompt
          [title]="'Empty Prompt Title'"
          [buttonText]="'Button'"
          [secondaryButtonText]="'Secondary action'"
          [shadow]="false"
          [color]="'disabled'"
          [secondaryButtonColor]="'primary'"
        >
          You can remove parts of the prompt to simplify it. You can also
          override the title and button size. The component should have a
          max-width of 456px.
        </fui-empty-prompt>
        <fui-empty-prompt
          [title]="'Empty Prompt Title'"
          [buttonText]="'Button'"
          [secondaryButtonText]="'Secondary action'"
          [shadow]="false"
          [color]="'disabled'"
          [secondaryButtonColor]="'primary'"
          [image]="
            'https://preyash2047.github.io/assets/img/no-preview-available.png?h=824917b166935ea4772542bec6e8f636'
          "
          [direction]="'horizontal'"
        >
          You can remove parts of the prompt to simplify it. You can also
          override the title and button size. The component should have a
          max-width of 805px.
        </fui-empty-prompt>
      </li>
    </ul>
  </div>
</div>
