<h1>Resizable container</h1>
<p>
  This component is handy for various resizable containers.
  FuiResizableContainer uses the Angular Render Props technique to provide
  FuiResizablePanel and FuiResizableButton components for layout, and actions
  for custom handling collapse and resize functionality in your app. Wrap parts
  of your content with the FuiResizablePanel component and put the
  FuiResizableButton component between.
</p>
<h1 class="title">Horizontal resizing</h1>
<div class="container flex">
  <fui-resizable-container [direction]="'horizontal'">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum,
      reiciendis. Odio iusto aliquid ipsam temporibus saepe unde vero,
      reprehenderit harum eius veritatis recusandae in voluptatibus non minima
      error id numquam?
    </p>
  </fui-resizable-container>
  <fui-resizable-container [direction]="'horizontal'">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum,
      reiciendis. Odio iusto aliquid ipsam temporibus saepe unde vero,
      reprehenderit harum eius veritatis recusandae in voluptatibus non minima
      error id numquam?
    </p>
  </fui-resizable-container>
  <fui-resizable-container [direction]="'horizontal'">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum,
      reiciendis. Odio iusto aliquid ipsam temporibus saepe unde vero,
      reprehenderit harum eius veritatis recusandae in voluptatibus non minima
      error id numquam?
    </p>
  </fui-resizable-container>
  <fui-resizable-container [direction]="'horizontal'">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum,
      reiciendis. Odio iusto aliquid ipsam temporibus saepe unde vero,
      reprehenderit harum eius veritatis recusandae in voluptatibus non minima
      error id numquam?
    </p>
  </fui-resizable-container>
</div>

<h1 class="title">Vertical resizing</h1>
<div class="container">
  <fui-resizable-container [direction]="'vertical'">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum,
      reiciendis. Odio iusto aliquid ipsam temporibus saepe unde vero,
      reprehenderit harum eius veritatis recusandae in voluptatibus non minima
      error id numquam?
    </p>
  </fui-resizable-container>
  <fui-resizable-container [direction]="'vertical'">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum,
      reiciendis. Odio iusto aliquid ipsam temporibus saepe unde vero,
      reprehenderit harum eius veritatis recusandae in voluptatibus non minima
      error id numquam?
    </p>
  </fui-resizable-container>
  <fui-resizable-container [direction]="'vertical'">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum,
      reiciendis. Odio iusto aliquid ipsam temporibus saepe unde vero,
      reprehenderit harum eius veritatis recusandae in voluptatibus non minima
      error id numquam?
    </p>
  </fui-resizable-container>
  <fui-resizable-container [direction]="'vertical'">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum,
      reiciendis. Odio iusto aliquid ipsam temporibus saepe unde vero,
      reprehenderit harum eius veritatis recusandae in voluptatibus non minima
      error id numquam?
    </p>
  </fui-resizable-container>
</div>
