<h1>Tooltip</h1>
<p>
  FuiToast allows for small notes that appear in the bottom right of the screen.
  They should be used for ephemeral, live actions (think save complete or
  something just finished right now). They should not be used for historical
  actions (your report built 30 minutes ago). This means that a user should
  never be greeted with toasts when starting a session. Toasts should be brief
  and avoid long paragraphs of text or titling.
</p>

<div class="container">
  <div class="tooltips">
    <fui-tooltip
      [position]="'top'"
      [title]="'Title (Optional)'"
      [content]="'A description goes here.'"
      >Tooltip Top</fui-tooltip
    >
    <fui-tooltip
      [position]="'bottom'"
      [title]="'Title (Optional)'"
      [content]="'A description goes here.'"
      >Tooltip Bottom</fui-tooltip
    >
    <fui-tooltip
      [position]="'right'"
      [title]="'Title (Optional)'"
      [content]="'A description goes here.'"
      >Tooltip Right</fui-tooltip
    >
    <fui-tooltip
      [position]="'left'"
      [title]="'Title (Optional)'"
      [content]="'A description goes here.'"
      >Tooltip left</fui-tooltip
    >
    <fui-tooltip
      [position]="'top'"
      [title]="'Icon Tooltip'"
      [content]="'A description goes here.'"
    >
      <fui-icons [icon]="'alert'"></fui-icons>
    </fui-tooltip>
    <fui-tooltip
      [position]="'right'"
      [title]="'Icon Tooltip'"
      [content]="'A description goes here.'"
    >
      <fui-icons [icon]="'alert'"></fui-icons>
    </fui-tooltip>
  </div>
  <div class="tooltips">
    <fui-tooltip [position]="'top'" [content]="'A description goes here.'"
      >Tooltip Top</fui-tooltip
    >
    <fui-tooltip [position]="'bottom'" [content]="'A description goes here.'"
      >Tooltip Bottom</fui-tooltip
    >
    <fui-tooltip [position]="'right'" [content]="'A description goes here.'"
      >Tooltip Right</fui-tooltip
    >
    <fui-tooltip [position]="'left'" [content]="'A description goes here.'"
      >Tooltip left</fui-tooltip
    >
    <fui-tooltip [position]="'top'" [content]="'A description goes here.'">
      <fui-icons [icon]="'alert'"></fui-icons>
    </fui-tooltip>
    <fui-tooltip [position]="'left'" [content]="'A description goes here.'">
      <fui-icons [icon]="'alert'"></fui-icons>
    </fui-tooltip>
  </div>

  <div class="tooltips">
    <fui-tooltip
      [position]="'top'"
      [align]="'start'"
      [title]="'Title (Optional)'"
      [content]="'A description goes here.'"
      >Tooltip Top Start</fui-tooltip
    >
    <fui-tooltip
      [position]="'top'"
      [align]="'center'"
      [title]="'Title (Optional)'"
      [content]="'A description goes here.'"
      >Tooltip Top Center</fui-tooltip
    >
    <fui-tooltip
      [position]="'top'"
      [align]="'end'"
      [title]="'Title (Optional)'"
      [content]="'A description goes here.'"
      >Tooltip Top End</fui-tooltip
    >
  </div>

  <div class="tooltips">
    <fui-tooltip
      [position]="'bottom'"
      [align]="'start'"
      [title]="'Title (Optional)'"
      [content]="'A description goes here.'"
      >Tooltip Bottom Start</fui-tooltip
    >
    <fui-tooltip
      [position]="'bottom'"
      [align]="'center'"
      [title]="'Title (Optional)'"
      [content]="'A description goes here.'"
      >Tooltip Bottom Center</fui-tooltip
    >
    <fui-tooltip
      [position]="'bottom'"
      [align]="'end'"
      [title]="'Title (Optional)'"
      [content]="'A description goes here.'"
      >Tooltip Bottom End</fui-tooltip
    >
  </div>

  <div class="tooltips">
    <fui-tooltip
      [position]="'left'"
      [align]="'start'"
      [title]="'Title (Optional)'"
      [content]="'A description goes here.'"
      >Tooltip Left Start</fui-tooltip
    >
    <fui-tooltip
      [position]="'left'"
      [align]="'center'"
      [title]="'Title (Optional)'"
      [content]="'A description goes here.'"
      >Tooltip Left Center</fui-tooltip
    >
    <fui-tooltip
      [position]="'left'"
      [align]="'end'"
      [title]="'Title (Optional)'"
      [content]="'A description goes here.'"
      >Tooltip Left End</fui-tooltip
    >
  </div>

  <div class="tooltips">
    <fui-tooltip
      [position]="'right'"
      [align]="'start'"
      [title]="'Title (Optional)'"
      [content]="'A description goes here.'"
      >Tooltip Right Start</fui-tooltip
    >
    <fui-tooltip
      [position]="'right'"
      [align]="'center'"
      [title]="'Title (Optional)'"
      [content]="'A description goes here.'"
      >Tooltip Right Center</fui-tooltip
    >
    <fui-tooltip
      [position]="'right'"
      [align]="'end'"
      [title]="'Title (Optional)'"
      [content]="'A description goes here.'"
      >Tooltip Right End</fui-tooltip
    >
  </div>
</div>

<fui-tooltip
  [position]="'top'"
  [align]="'start'"
  [title]="''"
  [content]="'A description goes here. A description goes here.A description goes here.A description goes here. A description goes here.'"
  >Tooltip Right End</fui-tooltip
>
