<h1>Aspect ratio</h1>
<p>
  FuiAspectRatio provides a way to responsively resize a single block level
  child element to a specificied ratio. This is useful for things like YouTube
  iframes or other embeds that initially have a fixed size. If you need
  something similar for images, take a look at CSS's object-fit property.
</p>
<div class="container">
  <h3>16 x 9 Aspect</h3>
  <fui-aspect-ratio [width]="16" [height]="9">
    <iframe
      src="https://www.youtube.com/embed/yJarWSLRM24"
      frameborder="0"
    ></iframe>
  </fui-aspect-ratio>
</div>
<div class="container">
  <h3>4 x 3 Aspect</h3>
  <fui-aspect-ratio [width]="4" [height]="3">
    <iframe
      src="https://www.youtube.com/embed/yJarWSLRM24"
      frameborder="0"
    ></iframe>
  </fui-aspect-ratio>
</div>
<div class="container">
  <h3>1 x 1 Aspect</h3>
  <fui-aspect-ratio [width]="1" [height]="1" [maxWidth]="200">
    <iframe
      src="https://www.youtube.com/embed/yJarWSLRM24"
      frameborder="0"
    ></iframe>
  </fui-aspect-ratio>
</div>
<div class="container">
  <h3>220 x 150 with a maxWidth set to 500</h3>
  <fui-aspect-ratio [width]="220" [height]="150" [maxWidth]="500">
    <iframe
      src="https://www.youtube.com/embed/yJarWSLRM24"
      frameborder="0"
    ></iframe>
  </fui-aspect-ratio>
</div>
