<h1>Accordion</h1>
<p>
  Simple and unstyled FuiAccordion has been purposely designed with minimal
  styles, allowing you to visually enhance it as needed (see the accordion form
  example). The only styling enforced by FUI is the caret icon, which indicates
  to users that the item can be opened. A buttonContent prop defines the content
  of the clickable area. On click it will expose the children and animate based
  on the height of those children. For styling needs, classes can be
  individually applied with className (for the entire accordion), and
  buttonClassName (for the clickable area).
</p>
<div class="container">
  <fui-accordion [title]="'Title Accordion'">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, consequatur.
  </fui-accordion>
  <fui-accordion [title]="'Title Accordion Primary'" [titleColor]="'primary'">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, consequatur.
  </fui-accordion>
</div>
