.container {
  margin: 50px;
}
h1 {
  text-align: center;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mx-5 {
  margin: 5px;
}
.result {
  margin-top: 20px;
}


p {
  margin: 0px;
}

.list {
  margin: 10px 0px 10px 0px;
}
