<div class="container">
  <h1>Selectable Component</h1>
  <div class="flex">
    <fui-button-icon
      (onClick)="switchModeSS()"
      class="mx-5"
      [type]="'button'"
      [style]="'secondary'"
      [option]="'text'"
      [text]="'Single Selection : ' + singleSelection"
    />
    <fui-button-icon
      (onClick)="switchModeAE()"
      class="mx-5"
      [color]="'success'"
      [type]="'button'"
      [style]="'secondary'"
      [option]="'text'"
      [text]="'Allow Exclusions : ' + allowExclusions"
    />
    <fui-button-icon
      (onClick)="switchModeFO()"
      class="mx-5"
      [color]="'danger'"
      [type]="'button'"
      [style]="'secondary'"
      [option]="'text'"
      [text]="'Filter Options : ' + filterOptions"
    />
  </div>
  <div class="container">
    <!-- Filter Option -->
    <fui-form-control-layout *ngIf="filterOptions">
      <fui-input-field
        [formControlField]="searchForm"
        [type]="'text'"
        [size]="'m'"
        [placeholder]="'Filter Options'"
        [invalid]="false"
      >
        <fui-icons
          left-icon
          [label]="'left'"
          [icon]="'search'"
          [size]="'sizem'"
          [color]="'text'"
        />
      </fui-input-field>
    </fui-form-control-layout>
    <!-- Selectable -->
    <fui-selectable
      [totalData]="totalItems"
      [options]="options"
      [singleSelection]="singleSelection"
      [allowExclusions]="allowExclusions"
      (selectClick)="clickHandle($event)"
      (showMoreClick)="showMore()"
    />
    <!-- Result -->
    <div class="result">
      <h1>Result</h1>
      {{ dataSelected | json }}
    </div>
  </div>
</div>
