<h1>Inline Edit</h1>
<p>
  The FuiInlineEdit components are useful for updating single lines of text
  outside a form. The component has two states: readMode shows editable text
  inside of a button and editMode displays a form control to update the text.
</p>
<h1>Inline Edit Standard</h1>
<fui-inline-edit
  [textFieldControl]="textFieldControl"
  (onSave)="funcSave()"
  (onCancel)="funcCancel()"
>
  <h1>{{ textFieldControl.value }}</h1>
</fui-inline-edit>

<h1>Inline Edit With Validation</h1>
<fui-inline-edit
  [size]="'l'"
  [disabled]="this.textFieldControl2.invalid"
  [validator]="this.textFieldControl2.invalid"
  [message]="'This is must be number!'"
  [textFieldControl]="textFieldControl2"
  (onSave)="funcSave2()"
  (onCancel)="funcCancel2()"
>
  <h1>{{ textFieldControl2.value }}</h1>
</fui-inline-edit>
