<div class="container">
  <div class="cards">
    <fui-card
      [layout]="'vertical'"
      [cardContentAlign]="'start'"
      [title]="'Card Title'"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta odio
      expedita facilis facere labore reprehenderit officia inventore doloremque
      perferendis porro!</fui-card
    >
    <fui-card
      [layout]="'vertical'"
      [cardContentAlign]="'center'"
      [title]="'Card Title'"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta odio
      expedita facilis facere labore reprehenderit officia inventore doloremque
      perferendis porro!</fui-card
    >
    <fui-card
      [layout]="'vertical'"
      [cardContentAlign]="'end'"
      [title]="'Card Title'"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta odio
      expedita facilis facere labore reprehenderit officia inventore doloremque
      perferendis porro</fui-card
    >
    <fui-card [layout]="'vertical'">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta odio
      expedita facilis facere labore reprehenderit officia inventore doloremque
      perferendis porro!</fui-card
    >
  </div>

  <div class="cards">
    <fui-card [layout]="'vertical'" [icon]="'package'" [title]="'Card Title'">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta odio
      expedita facilis facere labore reprehenderit officia inventore doloremque
      perferendis porro!</fui-card
    >
    <fui-card
      [layout]="'vertical'"
      [cardContentAlign]="'start'"
      [icon]="'package'"
      [title]="'Card Title'"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta odio
      expedita facilis facere labore reprehenderit officia inventore doloremque
      perferendis porro!</fui-card
    >
    <fui-card
      [layout]="'vertical'"
      [cardContentAlign]="'center'"
      [icon]="'package'"
      [title]="'Card Title'"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta odio
      expedita facilis facere labore reprehenderit officia inventore doloremque
      perferendis porro!</fui-card
    >
    <fui-card
      [layout]="'vertical'"
      [cardContentAlign]="'end'"
      [icon]="'package'"
      [title]="'Card Title'"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta odio
      expedita facilis facere labore reprehenderit officia inventore doloremque
      perferendis porro!</fui-card
    >
  </div>

  <div class="cards">
    <fui-card
      [layout]="'vertical'"
      [iconType]="'image'"
      [iconImage]="iconImage"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta odio
      expedita facilis facere labore reprehenderit officia inventore doloremque
      perferendis porro!</fui-card
    >
    <fui-card
      [layout]="'vertical'"
      [cardContentAlign]="'start'"
      [iconType]="'image'"
      [iconImage]="iconImage"
      [title]="'Card Title'"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta odio
      expedita facilis facere labore reprehenderit officia inventore doloremque
      perferendis porro!</fui-card
    >
    <fui-card
      [layout]="'vertical'"
      [cardContentAlign]="'center'"
      [iconType]="'image'"
      [iconImage]="iconImage"
      [title]="'Card Title'"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta odio
      expedita facilis facere labore reprehenderit officia inventore doloremque
      perferendis porro!</fui-card
    >
    <fui-card
      [layout]="'vertical'"
      [cardContentAlign]="'end'"
      [iconType]="'image'"
      [iconImage]="iconImage"
      [title]="'Card Title'"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta odio
      expedita facilis facere labore reprehenderit officia inventore doloremque
      perferendis porro!</fui-card
    >
  </div>

  <div class="cards">
    <fui-card [layout]="'horizontal'" [icon]="'package'" [title]="'Card Title'">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta odio
      expedita facilis facere labore reprehenderit officia inventore doloremque
      perferendis porro!</fui-card
    >
    <fui-card
      [layout]="'horizontal'"
      [cardContentAlign]="'start'"
      [icon]="'package'"
      [title]="'Card Title'"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta odio
      expedita facilis facere labore reprehenderit officia inventore doloremque
      perferendis porro!</fui-card
    >
    <fui-card
      [layout]="'horizontal'"
      [cardContentAlign]="'center'"
      [icon]="'package'"
      [title]="'Card Title'"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta odio
      expedita facilis facere labore reprehenderit officia inventore doloremque
      perferendis porro!</fui-card
    >
    <fui-card
      [layout]="'horizontal'"
      [cardContentAlign]="'end'"
      [icon]="'package'"
      [title]="'Card Title'"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta odio
      expedita facilis facere labore reprehenderit officia inventore doloremque
      perferendis porro!</fui-card
    >
  </div>

  <div class="cards">
    <fui-card
      [layout]="'vertical'"
      [showButtonFooter]="true"
      [buttonFooterText]="'Select'"
      [buttonFooterWidth]="'full'"
      [icon]="'package'"
      [title]="'Card Title'"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta odio
      expedita facilis facere labore reprehenderit officia inventore doloremque
      perferendis porro!</fui-card
    >
    <fui-card
      [layout]="'vertical'"
      [showButtonFooter]="true"
      [buttonFooterText]="'Select'"
      [buttonFooterWidth]="'full'"
      [cardContentAlign]="'start'"
      [icon]="'package'"
      [title]="'Card Title'"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta odio
      expedita facilis facere labore reprehenderit officia inventore doloremque
      perferendis porro!</fui-card
    >
    <fui-card
      [layout]="'vertical'"
      [showButtonFooter]="true"
      [buttonFooterText]="'Select'"
      [buttonFooterWidth]="'full'"
      [cardContentAlign]="'center'"
      [icon]="'package'"
      [title]="'Card Title'"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta odio
      expedita facilis facere labore reprehenderit officia inventore doloremque
      perferendis porro!</fui-card
    >
    <fui-card
      [layout]="'vertical'"
      [showButtonFooter]="true"
      [buttonFooterText]="'Select'"
      [buttonFooterWidth]="'full'"
      [cardContentAlign]="'end'"
      [icon]="'package'"
      [title]="'Card Title'"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta odio
      expedita facilis facere labore reprehenderit officia inventore doloremque
      perferendis porro!</fui-card
    >
  </div>

  <div class="cards">
    <fui-card
      [layout]="'vertical'"
      [showButtonFooter]="true"
      [buttonFooterText]="'Select'"
      [buttonFooterWidth]="'auto'"
      [icon]="'package'"
      [title]="'Card Title'"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta odio
      expedita facilis facere labore reprehenderit officia inventore doloremque
      perferendis porro!</fui-card
    >
    <fui-card
      [layout]="'vertical'"
      [showButtonFooter]="true"
      [buttonFooterText]="'Select'"
      [buttonFooterWidth]="'auto'"
      [buttonFooterAlign]="'start'"
      [cardContentAlign]="'start'"
      [icon]="'package'"
      [title]="'Card Title'"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta odio
      expedita facilis facere labore reprehenderit officia inventore doloremque
      perferendis porro!</fui-card
    >
    <fui-card
      [layout]="'vertical'"
      [showButtonFooter]="true"
      [buttonFooterText]="'Select'"
      [buttonFooterWidth]="'auto'"
      [buttonFooterAlign]="'center'"
      [cardContentAlign]="'center'"
      [icon]="'package'"
      [title]="'Card Title'"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta odio
      expedita facilis facere labore reprehenderit officia inventore doloremque
      perferendis porro!</fui-card
    >
    <fui-card
      [layout]="'vertical'"
      [showButtonFooter]="true"
      [buttonFooterText]="'Select'"
      [buttonFooterWidth]="'auto'"
      [buttonFooterAlign]="'end'"
      [cardContentAlign]="'end'"
      [icon]="'package'"
      [title]="'Card Title'"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta odio
      expedita facilis facere labore reprehenderit officia inventore doloremque
      perferendis porro!</fui-card
    >
  </div>

  <div class="cards">
    <fui-card
      [layout]="'vertical'"
      [cardImage]="cardImage"
      [title]="'Card Title'"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta odio
      expedita facilis facere labore reprehenderit officia inventore doloremque
      perferendis porro!</fui-card
    >
    <fui-card
      [layout]="'vertical'"
      [cardImage]="cardImage"
      [cardContentAlign]="'start'"
      [icon]="'package'"
      [title]="'Card Title'"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta odio
      expedita facilis facere labore reprehenderit officia inventore doloremque
      perferendis porro!</fui-card
    >
    <fui-card
      [layout]="'vertical'"
      [cardImage]="cardImage"
      [cardContentAlign]="'center'"
      [icon]="'package'"
      [title]="'Card Title'"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta odio
      expedita facilis facere labore reprehenderit officia inventore doloremque
      perferendis porro!</fui-card
    >
    <fui-card
      [layout]="'vertical'"
      [cardImage]="cardImage"
      [cardContentAlign]="'end'"
      [icon]="'package'"
      [title]="'Card Title'"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta odio
      expedita facilis facere labore reprehenderit officia inventore doloremque
      perferendis porro!</fui-card
    >
  </div>

  <div class="cards" style="margin-top: 1rem">
    <fui-card
      [layout]="'vertical'"
      [title]="'Card Title'"
      [icon]="'package'"
      [cardBadgeText]="'BETA'"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta odio
      expedita facilis facere labore reprehenderit officia inventore doloremque
      perferendis porro!</fui-card
    >
    <fui-card
      [layout]="'vertical'"
      [cardContentAlign]="'start'"
      [icon]="'package'"
      [title]="'Card Title'"
      [cardBadgeText]="'BETA'"
      [cardBadgeBackground]="'accent'"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta odio
      expedita facilis facere labore reprehenderit officia inventore doloremque
      perferendis porro!</fui-card
    >
    <fui-card
      [layout]="'vertical'"
      [cardImage]="cardImage"
      [cardContentAlign]="'center'"
      [icon]="'package'"
      [title]="'Card Title'"
      [cardBadgeText]="'BETA'"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta odio
      expedita facilis facere labore reprehenderit officia inventore doloremque
      perferendis porro!</fui-card
    >
    <fui-card
      [layout]="'vertical'"
      [cardImage]="cardImage"
      [cardContentAlign]="'start'"
      [icon]="'package'"
      [title]="'Card Title'"
      [cardBadgeText]="'BETA'"
      [cardBadgeBackground]="'primary'"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta odio
      expedita facilis facere labore reprehenderit officia inventore doloremque
      perferendis porro!</fui-card
    >
  </div>

  <div class="cards">
    <fui-card
      [layout]="'vertical'"
      [showButtonFooter]="true"
      [buttonFooterText]="'Select'"
      [buttonFooterWidth]="'full'"
      [icon]="'package'"
      [title]="'Card Title'"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta odio
      expedita facilis facere labore reprehenderit officia inventore doloremque
      perferendis porro!
      <div addition-footer>
        <div style="padding-top: 1rem">
          With an second
          <a href="/google.com" target="_blank" style="color: blue">action</a>
        </div>
      </div>
    </fui-card>
    <fui-card
      [layout]="'vertical'"
      [showButtonFooter]="true"
      [buttonFooterText]="'Select'"
      [buttonFooterWidth]="'full'"
      [cardContentAlign]="'start'"
      [icon]="'package'"
      [title]="'Card Title'"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta odio
      expedita facilis facere labore reprehenderit officia inventore doloremque
      perferendis porro!
      <div addition-footer>
        <div style="padding-top: 1rem">
          With an second
          <a href="/google.com" target="_blank" style="color: blue">action</a>
        </div>
      </div>
    </fui-card>
    <fui-card
      [layout]="'vertical'"
      [showButtonFooter]="true"
      [buttonFooterText]="'Select'"
      [buttonFooterWidth]="'full'"
      [cardContentAlign]="'center'"
      [icon]="'package'"
      [title]="'Card Title'"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta odio
      expedita facilis facere labore reprehenderit officia inventore doloremque
      perferendis porro!
      <div addition-footer>
        <div style="padding-top: 1rem">
          With an second
          <a href="/google.com" target="_blank" style="color: blue">action</a>
        </div>
      </div>
    </fui-card>
    <fui-card
      [layout]="'vertical'"
      [showButtonFooter]="true"
      [buttonFooterText]="'Select'"
      [buttonFooterWidth]="'full'"
      [cardContentAlign]="'end'"
      [icon]="'package'"
      [title]="'Card Title'"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta odio
      expedita facilis facere labore reprehenderit officia inventore doloremque
      perferendis porro!
      <div addition-footer>
        <div style="padding-top: 1rem">
          With an second
          <a href="/google.com" target="_blank" style="color: blue">action</a>
        </div>
      </div>
    </fui-card>
  </div>

  <div class="cards">
    <fui-card [layout]="'vertical'" [icon]="'package'" [title]="'Card Title'">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta odio
      expedita facilis facere labore reprehenderit officia inventore doloremque
      perferendis porro!</fui-card
    >
    <fui-card
      [layout]="'vertical'"
      [cardColor]="'primary'"
      [icon]="'package'"
      [title]="'Card Title'"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta odio
      expedita facilis facere labore reprehenderit officia inventore doloremque
      perferendis porro!</fui-card
    >
    <fui-card
      [layout]="'vertical'"
      [cardColor]="'accent'"
      [icon]="'package'"
      [title]="'Card Title'"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta odio
      expedita facilis facere labore reprehenderit officia inventore doloremque
      perferendis porro!</fui-card
    >
    <fui-card
      [layout]="'vertical'"
      [cardColor]="'disabled'"
      [icon]="'package'"
      [iconColor]="'disabled'"
      [title]="'Card Title'"
      [titleColor]="'disabled'"
    >
      <fui-text [color]="'disabled'">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta odio
        expedita facilis facere labore reprehenderit officia inventore
        doloremque perferendis porro
      </fui-text>
    </fui-card>
  </div>
</div>
