@use "../variables/color_variable";
@use "../variables/font_weight_variable";
@use "../variables/size_variable";
@use "../variables/form_variable";
@use "../variables/typography_variable";
@use "../variables/animation_variable";
@use "../variables/state_variable";

@use "./typography_mixin";
@use "./size_mixin";
@use "./state_mixin";
@use "./icon_mixin";

@use "../functions/color_function";

// Labels
@mixin fuiFormLabel {
  @include typography_mixin.fuiFontSizeXS;
  @include typography_mixin.fuiTextBreakWord;
  color: color_variable.$fuiTitleColor;
  font-weight: font_weight_variable.$fuiFontWeightSemiBold;
}

@mixin fuiFormControlLayoutPadding($numOfIcons, $side: 'right', $compressed: false) {
  $iconSize: size_variable.$fuiSize;
  $iconPadding: form_variable.$fuiFormControlPadding;
  $marginBetweenIcons: form_variable.$fuiFormControlPadding / 2;

  @if ($compressed) {
    $iconPadding: form_variable.$fuiFormControlCompressedPadding;
  }

  @if variable-exists(numOfIcons) == false {
    @error '$numOfIcons:integer (1-3) must be provided to @mixin fuiFormControlLayoutPadding().';
  } @else if $numOfIcons == 1 {
    padding-#{$side}: $iconPadding + $iconSize + $iconPadding;
  } @else if $numOfIcons == 2 {
    padding-#{$side}: $iconPadding + $iconSize + $marginBetweenIcons + $iconSize + $iconPadding;
  } @else if $numOfIcons == 3 {
    padding-#{$side}: $iconPadding + $iconSize + $marginBetweenIcons + $iconSize + $marginBetweenIcons + $iconSize + $iconPadding;
  }
}

@mixin fuiFormControlLayoutClearIcon($iconClass, $size: 'm') {
  $clearSize: size_variable.$fuiSize;
  $clearIconStroke: 2px;

  @if ($size == 's') {
    $clearSize: size_variable.$fuiSizeM;
    $clearIconStroke: size_variable.$fuiSizeXS;
  }

  @include size_mixin.size($clearSize);
  pointer-events: all;
  background-color: color_function.lightOrDarkTheme(color_variable.$fuiColorMediumShade, color_variable.$fuiColorDarkShade);
  border-radius: $clearSize;
  line-height: 0; // ensures the icon stays vertically centered

  &:focus {
    @include state_mixin.fuiFocusRing;
  }

  #{$iconClass} {
    @include size_mixin.size($clearSize / 2);
    fill: color_variable.$fuiColorEmptyShade;
    // increase thickness of icon at such a small size
    stroke: color_variable.$fuiColorEmptyShade;
    stroke-width: $clearIconStroke;
  }
}

@mixin fuiPlaceholderPerBrowser {
  // stylelint-disable selector-no-vendor-prefix
  // Each prefix must be its own content block
  &::-webkit-input-placeholder { @content; opacity: 1; }
  &::-moz-placeholder { @content; opacity: 1; }
  &:-ms-input-placeholder { @content; opacity: 1; }
  &:-moz-placeholder { @content; opacity: 1; }
  &::placeholder { @content; opacity: 1; }
}

@function fuiFormControlGradient($color: color_variable.$fuiColorPrimary) {
  @return linear-gradient(to top,
    $color,
    $color 2px,
    transparent 2px,
    transparent 100%
  );
}

@mixin fuiFormControlText {
  @include typography_mixin.fuiFont;
  font-size: typography_variable.$fuiFontSizeS;
  color: color_variable.$fuiTextColor;

  @include fuiPlaceholderPerBrowser {
    color: form_variable.$fuiFormControlPlaceholderText;
  }
}

@mixin fuiFormControlSize(
  $height: form_variable.$fuiFormControlHeight,
  $includeAlternates: false
) {
  // Default
  max-width: form_variable.$fuiFormMaxWidth;
  width: 100%;
  height: $height;

  @if ($includeAlternates) {
    &--fullWidth {
      max-width: 100%;
    }

    &--compressed {
      height: form_variable.$fuiFormControlCompressedHeight;
    }

    &--inGroup {
      height: 100%;
    }
  }
}

@mixin fuiFormControlWithIcon($isIconOptional: false, $side: 'left', $compressed: false) {
  @if ($isIconOptional) {
    @at-root {
      #{&}--withIcon {
        @include fuiFormControlLayoutPadding(1, $side, $compressed);
      }
    }
  } @else {
    @include fuiFormControlLayoutPadding(1, $side, $compressed);
  }
}

@mixin fuiFormControlIsLoading($isNextToIcon: false) {
  @at-root {
    #{&}-isLoading {
      @if ($isNextToIcon) {
        @include fuiFormControlLayoutPadding(2);
      } @else {
        @include fuiFormControlLayoutPadding(1);
      }
    }

    #{&}-isLoading#{&}--compressed {
      @if ($isNextToIcon) {
        @include fuiFormControlLayoutPadding(2, $compressed: true);
      } @else {
        @include fuiFormControlLayoutPadding(1, $compressed: true);
      }
    }
  }
}

// 1. Must supply both values to background-size or some browsers apply the single value to both directions

@mixin fuiFormControlDefaultShadow($borderOnly: false) {
  background-color: form_variable.$fuiFormBackgroundColor;
  background-repeat: no-repeat;
  background-size: 0 100%; // 1

  @if ($borderOnly) {
    box-shadow: inset 0 0 0 1px form_variable.$fuiFormBorderColor;
  } @else {
    box-shadow:
      #{form_variable.$fuiFormControlBoxShadow},
      inset 0 0 0 1px form_variable.$fuiFormBorderColor;
  }

  transition:
    box-shadow animation_variable.$fuiAnimSpeedFast ease-in,
    background-image animation_variable.$fuiAnimSpeedFast ease-in,
    background-size animation_variable.$fuiAnimSpeedFast ease-in,
    background-color animation_variable.$fuiAnimSpeedFast ease-in;

  // Fixes bug in Firefox where adding a transition to the background-color
  // caused a flash of differently styled dropdown.
  @supports (-moz-appearance: none) {
    // List *must* be in the same order as the above.
    transition-property: box-shadow, background-image, background-size;
  }
}

@mixin fuiFormControlFocusStyle($borderOnly: false) {
  background-color: color_function.tintOrShade(color_variable.$fuiColorEmptyShade, 0%, 40%);
  background-image: fuiFormControlGradient();
  background-size: 100% 100%; // 1
  outline: none; // Blanket remove all outlines relying on our own bottom border

  @if ($borderOnly) {
    box-shadow: inset 0 0 0 1px form_variable.$fuiFormBorderColor;
  } @else {
    box-shadow: inset 0 0 0 1px form_variable.$fuiFormBorderColor;
  }
}

@mixin fuiFormControlInvalidStyle {
  background-image: fuiFormControlGradient(color_variable.$fuiColorDanger);
  background-size: 100%;
}

@mixin fuiFormControlDisabledTextStyle {
  color: form_variable.$fuiFormControlDisabledColor;
  -webkit-text-fill-color: form_variable.$fuiFormControlDisabledColor; // Required for Safari
}

@mixin fuiFormControlDisabledStyle {
  @include fuiFormControlDisabledTextStyle;
  cursor: not-allowed;
  background: form_variable.$fuiFormBackgroundDisabledColor;
  box-shadow: inset 0 0 0 1px form_variable.$fuiFormBorderDisabledColor;

  @include fuiPlaceholderPerBrowser {
    color: form_variable.$fuiFormControlDisabledColor;
  }
}

@mixin fuiFormControlReadOnlyStyle {
  cursor: default;
  color: color_variable.$fuiTextColor;
  -webkit-text-fill-color: color_variable.$fuiTextColor; // Required for Safari
  // Use transparency since there is no border and in case form is on a non-white background
  background: form_variable.$fuiFormBackgroundReadOnlyColor;
  border-color: transparent;
  box-shadow: inset 0 0 0 1px form_variable.$fuiFormBorderDisabledColor;
}

// 2. Override invalid state with focus state.

@mixin fuiFormControlStyle($borderOnly: false, $includeStates: true, $includeSizes: true) {
  @include fuiFormControlSize($includeAlternates: $includeSizes);
  @include fuiFormControlDefaultShadow;
  @include fuiFormControlText;

  border: none;
  border-radius: form_variable.$fuiFormControlBorderRadius;
  padding: form_variable.$fuiFormControlPadding;

  @if ($includeStates) {
    &:invalid { // 2
      @include fuiFormControlInvalidStyle;
    }

    &:focus { // 2
      @include fuiFormControlFocusStyle;
    }

    &:disabled {
      @include fuiFormControlDisabledStyle;
    }

    &[readOnly] {
      @include fuiFormControlReadOnlyStyle;
    }

    // Needs to be set for autofill
    &:-webkit-autofill {
      -webkit-text-fill-color: color_function.lightOrDarkTheme(color_variable.$fuiColorDarkestShade, color_variable.$fuiColorLightShade);

      ~ .fuiFormControlLayoutIcons {
        color: color_function.lightOrDarkTheme(color_variable.$fuiColorDarkestShade, color_variable.$fuiColorLightShade);
      }
    }
  }

  @if ($includeSizes) {
    &--compressed {
      @include fuiFormControlStyleCompressed($borderOnly, $includeStates);
    }

    &--inGroup {
      // stylelint-disable-next-line declaration-no-important
      box-shadow: none !important;
      border-radius: 0;
    }
  }
}

@mixin fuiFormControlStyleCompressed($borderOnly: false, $includeStates: true) {
  @include fuiFormControlDefaultShadow($borderOnly: true);
  padding: form_variable.$fuiFormControlCompressedPadding;
  border-radius: form_variable.$fuiFormControlCompressedBorderRadius;

  @if ($includeStates) {
    &:invalid { // 2
      @include fuiFormControlInvalidStyle;
    }

    &:focus { // 2
      @include fuiFormControlFocusStyle($borderOnly: true);
    }

    &:disabled {
      @include fuiFormControlDisabledStyle;
    }

    &[readOnly] {
      @include fuiFormControlReadOnlyStyle;
    }
  }
}

// Custom styles and states for checkboxes and radios

@mixin fuiCustomControl($type: null, $size: size_variable.$fuiSize) {
  @if $size {
    $size: $size - 2px; // subtract 2px from size to account for border size
    padding: $size / 2;
  }

  border: 1px solid form_variable.$fuiFormCustomControlBorderColor;
  background: color_variable.$fuiColorEmptyShade no-repeat center;

  @if $type == 'round' {
    border-radius: $size;
  } @else if $type == 'square' {
    border-radius: form_variable.$fuiCheckboxBorderRadius;
  }

  transition: background-color animation_variable.$fuiAnimSpeedFast ease-in,
  border-color animation_variable.$fuiAnimSpeedFast ease-in; // stylelint-disable-line indentation
}

@mixin fuiCustomControlSelected($type: null) {
  border-color: color_variable.$fuiColorPrimary;
  background-color: color_variable.$fuiColorPrimary;

  @if $type != null {
    @include icon_mixin.fuiIconBackground($type, color_variable.$fuiColorEmptyShade);
  }
}

@mixin fuiCustomControlDisabled($type: null) {
  border-color: color_variable.$fuiColorLightShade;
  background-color: color_variable.$fuiColorLightShade;
  box-shadow: none;
  @if $type != null {
    @include icon_mixin.fuiIconBackground($type, form_variable.$fuiFormCustomControlDisabledIconColor);
  }
}

@mixin fuiCustomControlFocused($amsterdamSelector: null) {
  // Requires a selector to work with the Amsterdam outline styles
  @if ($amsterdamSelector) {
    + #{$amsterdamSelector} {
      outline: state_variable.$fuiFocusRingSize solid state_variable.$fuiFocusRingColor;
      outline-offset: 2px;
    }

    // Chrome
    &:focus-visible + #{$amsterdamSelector} {
      outline: state_variable.$fuiFocusRingSize solid state_variable.$fuiFocusRingColor;
      outline-offset: 2px;
    }

    &:not(:focus-visible) + #{$amsterdamSelector} {
      outline: none;
    }
  } @else {
    // Default theme
    @include state_mixin.fuiFocusRing('small', 'outer');
    border-color: color_variable.$fuiColorPrimary;
  }
}

@mixin fuiHiddenSelectableInput {
  position: absolute;
  // stylelint-disable-next-line declaration-no-important
  opacity: 0 !important; // Make sure it's still hidden when :disabled
  width: 100%;
  height: 100%;
  cursor: pointer;
}

// Adjusts form controls border radius
@mixin fuiFormControlSideBorderRadius($borderRadius, $side, $internal: false) {
  @if $internal == true {
    $borderRadius: $borderRadius - 1;
  }
  @if $side == 'left' {
    border-radius: $borderRadius 0 0 $borderRadius;
  } @else if $side == 'right' {
    border-radius: 0 $borderRadius $borderRadius 0;
  }
}
