@use "../variables/form" as form;
@use "../variables/shadows" as shadows;
@use "../variables/states" as states;
@use "../variables/colors" as colors;

@mixin fuiRangeTrackSize($compressed: false) {
  height: form.$fuiRangeTrackHeight;
  width: form.$fuiRangeTrackWidth;

  @if ($compressed) {
    height: form.$fuiRangeTrackCompressedHeight;
  }
}

@mixin fuiRangeTrackPerBrowser {
  &::-webkit-slider-runnable-track { @content; }
  &::-moz-range-track { @content; }
  &::-ms-fill-lower { @content; }
  &::-ms-fill-upper { @content; }
}

@mixin fuiRangeThumbBorder {
  border: 2px solid form.$fuiRangeThumbBorderColor;
}

@mixin fuiRangeThumbBoxShadow {
  box-shadow:
    0 0 0 1px form.$fuiRangeThumbBorderColor,
    0 2px 2px -1px rgba(shadows.$fuiShadowColor, .2),
    0 1px 5px -2px rgba(shadows.$fuiShadowColor, .2);
}

@mixin fuiRangeThumbFocusBoxShadow {
  box-shadow: 0 0 0 2px states.$fuiFocusRingColor;
}

@mixin fuiRangeThumbStyle {
  @include fuiRangeThumbBoxShadow;
  @include fuiRangeThumbBorder;
  cursor: pointer;
  background-color: form.$fuiRangeThumbBackgroundColor;
  padding: 0;
  height: form.$fuiRangeThumbHeight;
  width: form.$fuiRangeThumbWidth;
  box-sizing: border-box;  // required for firefox or the border makes the width and height to increase
}

@mixin fuiRangeThumbPerBrowser {
  &::-webkit-slider-thumb { @content; }
  &::-moz-range-thumb { @content; }
  &::-ms-thumb { @content; }
}

@mixin fuiRangeThumbFocus {
  @include fuiRangeThumbBorder;
  @include fuiRangeThumbFocusBoxShadow;
  background-color: colors.$fuiColorPrimary;
}
