.mx-5 {
  margin: 5px;
}
.center {
  text-align: center;
}

.title-action {
  display: flex;
  .title-icon {
    margin-right: 10px;
  }
  .title {
    font-size: large;
  }
}

.wrap-grid {
  margin: 50px 0px 50px 0px;
}
