<div class="container">
  <h2>Elastic</h2>
  <div class="loading-container">
    <fui-loading [type]="'elastic'" [size]="'sizedefault'" />
    <fui-loading [type]="'elastic'" [size]="'sizexs'" />
    <fui-loading [type]="'elastic'" [size]="'sizes'" />
    <fui-loading [type]="'elastic'" [size]="'sizem'" />
    <fui-loading [type]="'elastic'" [size]="'sizel'" />
    <fui-loading [type]="'elastic'" [size]="'sizexl'" />
    <fui-loading [type]="'elastic'" [size]="'sizexxl'" />
  </div>

  <h2>Logo</h2>
  <div class="loading-container">
    <fui-loading
      [type]="'logo'"
      [logoImage]="'./../../../assets/images/logo.svg'"
      [logoImageAlt]="'logo'"
      [size]="'sizedefault'"
    />
    <fui-loading
      [type]="'logo'"
      [logoImage]="'./../../../assets/images/logo.svg'"
      [logoImageAlt]="'logo'"
      [size]="'sizexs'"
    />
    <fui-loading
      [type]="'logo'"
      [logoImage]="'./../../../assets/images/logo.svg'"
      [logoImageAlt]="'logo'"
      [size]="'sizes'"
    />
    <fui-loading
      [type]="'logo'"
      [logoImage]="'./../../../assets/images/logo.svg'"
      [logoImageAlt]="'logo'"
      [size]="'sizem'"
    />
    <fui-loading
      [type]="'logo'"
      [logoImage]="'./../../../assets/images/logo1.svg'"
      [logoImageAlt]="'logo1'"
      [size]="'sizel'"
    />
    <fui-loading
      [type]="'logo'"
      [logoImage]="'./../../../assets/images/logo1.svg'"
      [logoImageAlt]="'logo1'"
      [size]="'sizexl'"
    />
    <fui-loading
      [type]="'logo'"
      [logoImage]="'./../../../assets/images/logo1.svg'"
      [logoImageAlt]="'logo1'"
      [size]="'sizexxl'"
    />
  </div>

  <h2>Chart</h2>
  <div class="loading-container">
    <fui-loading [type]="'chart'" [size]="'sizedefault'" />
    <fui-loading [type]="'chart'" [size]="'sizexs'" />
    <fui-loading [type]="'chart'" [size]="'sizes'" />
    <fui-loading [type]="'chart'" [size]="'sizem'" />
    <fui-loading [type]="'chart'" [size]="'sizel'" />
    <fui-loading [type]="'chart'" [size]="'sizexl'" />
    <fui-loading [type]="'chart'" [size]="'sizexxl'" />
  </div>

  <h2>Spinner</h2>
  <div class="loading-container">
    <fui-loading [type]="'spinner'" [size]="'sizedefault'" />
    <fui-loading [type]="'spinner'" [size]="'sizexs'" />
    <fui-loading [type]="'spinner'" [size]="'sizes'" />
    <fui-loading [type]="'spinner'" [size]="'sizem'" />
    <fui-loading [type]="'spinner'" [size]="'sizel'" />
    <fui-loading [type]="'spinner'" [size]="'sizexl'" />
    <fui-loading [type]="'spinner'" [size]="'sizexxl'" />
  </div>
</div>
