<div class="container">
  <h2>Elastic</h2>
  <div class="loading-container">
    <fui-loading [isLoading]="true" [type]="'elastic'" [size]="'sizedefault'" />
    <fui-loading [isLoading]="true" [type]="'elastic'" [size]="'sizexs'" />
    <fui-loading [isLoading]="true" [type]="'elastic'" [size]="'sizes'" />
    <fui-loading [isLoading]="true" [type]="'elastic'" [size]="'sizem'" />
    <fui-loading [isLoading]="true" [type]="'elastic'" [size]="'sizel'" />
    <fui-loading [isLoading]="true" [type]="'elastic'" [size]="'sizexl'" />
    <fui-loading [isLoading]="true" [type]="'elastic'" [size]="'sizexxl'" />
  </div>

  <h2>Logo</h2>
  <div class="loading-container">
    <fui-loading
      [isLoading]="true"
      [type]="'logo'"
      [logoImage]="'./../../../assets/images/logo.svg'"
      [logoImageAlt]="'logo'"
      [size]="'sizedefault'"
    />
    <fui-loading
      [isLoading]="true"
      [type]="'logo'"
      [logoImage]="'./../../../assets/images/logo.svg'"
      [logoImageAlt]="'logo'"
      [size]="'sizexs'"
    />
    <fui-loading
      [isLoading]="true"
      [type]="'logo'"
      [logoImage]="'./../../../assets/images/logo.svg'"
      [logoImageAlt]="'logo'"
      [size]="'sizes'"
    />
    <fui-loading
      [isLoading]="true"
      [type]="'logo'"
      [logoImage]="'./../../../assets/images/logo.svg'"
      [logoImageAlt]="'logo'"
      [size]="'sizem'"
    />
    <fui-loading
      [isLoading]="true"
      [type]="'logo'"
      [logoImage]="'./../../../assets/images/logo1.svg'"
      [logoImageAlt]="'logo1'"
      [size]="'sizel'"
    />
    <fui-loading
      [isLoading]="true"
      [type]="'logo'"
      [logoImage]="'./../../../assets/images/logo1.svg'"
      [logoImageAlt]="'logo1'"
      [size]="'sizexl'"
    />
    <fui-loading
      [isLoading]="true"
      [type]="'logo'"
      [logoImage]="'./../../../assets/images/logo1.svg'"
      [logoImageAlt]="'logo1'"
      [size]="'sizexxl'"
    />
  </div>

  <h2>Chart</h2>
  <div class="loading-container">
    <fui-loading [isLoading]="true" [type]="'chart'" [size]="'sizedefault'" />
    <fui-loading [isLoading]="true" [type]="'chart'" [size]="'sizexs'" />
    <fui-loading [isLoading]="true" [type]="'chart'" [size]="'sizes'" />
    <fui-loading [isLoading]="true" [type]="'chart'" [size]="'sizem'" />
    <fui-loading [isLoading]="true" [type]="'chart'" [size]="'sizel'" />
    <fui-loading [isLoading]="true" [type]="'chart'" [size]="'sizexl'" />
    <fui-loading [isLoading]="true" [type]="'chart'" [size]="'sizexxl'" />
  </div>

  <h2>Spinner</h2>
  <div class="loading-container">
    <fui-loading [isLoading]="true" [type]="'spinner'" [size]="'sizedefault'" />
    <fui-loading [isLoading]="true" [type]="'spinner'" [size]="'sizexs'" />
    <fui-loading [isLoading]="true" [type]="'spinner'" [size]="'sizes'" />
    <fui-loading [isLoading]="true" [type]="'spinner'" [size]="'sizem'" />
    <fui-loading [isLoading]="true" [type]="'spinner'" [size]="'sizel'" />
    <fui-loading [isLoading]="true" [type]="'spinner'" [size]="'sizexl'" />
    <fui-loading [isLoading]="true" [type]="'spinner'" [size]="'sizexxl'" />
  </div>
</div>

<div class="container">
  <fui-button (click)="showLoadingSpinner()"
    >Show Loading With Overlay</fui-button
  >
  <fui-loading
    [isLoading]="isLoadingSpinner"
    [withOverlay]="true"
    [type]="'spinner'"
    [size]="'sizexxl'"
  ></fui-loading>
</div>
