@import "../../../styles.scss";

.card {
  width: 100%;
  margin-top: 20px;
  text-align: center;
  border-width: 1px;
  border-color: var(--fuiColorLightShade, $fuiColorLightShade);
  border-style: solid;
  border-radius: 10px;
}
.p-30 {
  display: flex;
  justify-content: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 30px;
  background-color: var(--fuiColorLightestShade, $fuiColorLightestShade);
}

.bg-white {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.label {
  font-size: small;
  font-weight: 700;
}

.mt-20 {
  margin-top: 20px;
}

.flex {
  display: flex;
  gap: 5px;
  align-items: center;
}

.mt-5 {
  margin-top: 5px;
}

.mt-40 {
  margin-top: 40px;
}
