<h1>Getting Started</h1>
<h3>Technology Stack</h3>
<p>
  Fundamentum UI adalah Design System yang digunakan sebagai panduan dalam
  pengembangan produk di project Quantum. Implementasinya sendiri menggunakan
  Angular Framework . Untuk menjadi contributor di project ini ada beberapa
  tools yang disyaratkan untuk diinstall terlebih dahulu, yaitu:
</p>
<ul>
  <li>Node.js ^20.9.0, Node.js — Download (nodejs.org)</li>
  <li>{{ "Angular CLI npm install -g @angular/cli" }}</li>
  <li>Git Git - Downloads (git-scm.com)</li>
  <li>Visual Studio Code Visual Studio Code - Code Editing. Redefined</li>
</ul>
<p>
  Untuk tambahan bisa juga ditambahkan Visual Studio Code extension seperti:
</p>
<ul>
  <li>
    Angular Language Service Angular Language Service - Visual Studio
    Marketplace
  </li>
  <li>
    Prettier - Code formatter Prettier - Code formatter - Visual Studio
    Marketplace
  </li>
  <li>
    Angular Snippets Angular Snippets (Version 16) - Visual Studio Marketplace
  </li>
  <li>ESLint ESLint - Visual Studio Marketplace</li>
</ul>

<p>Project Repository</p>
<ul>
  <li>
    <a href="https://quantum-dev.ahp.id/ahp/fundamentum-ui"
      >Fundamentum UI code ahp/fundamentum-ui - fundamentum-ui - Gitea: Git with
      a cup of tea</a
    >
  </li>
  <li>
    <a
      href="https://www.figma.com/file/YchFTPo5JsHmR8RaHUZ4Hw/Fundamentum-UI?type=design&node-id=0-1&mode=design&t=ZmxWskFu5i4GhCut-0"
      >Fundamentum UI figma Fundamentum UI – Figma</a
    >
  </li>
</ul>
