<div class="container">
  <div class="popovers">
    <fui-popover [position]="'top'"
      >Popover Top
      <div popover-body>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui delectus,
        ut alias debitis nulla architecto doloremque dolor tempora. Ipsum, nemo.
      </div>
    </fui-popover>
    <fui-popover [position]="'bottom'"
      >Popover Bottom
      <div popover-body>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui delectus,
        ut alias debitis nulla architecto doloremque dolor tempora. Ipsum, nemo.
      </div>
    </fui-popover>
    <fui-popover [position]="'right'"
      >Popover Right
      <div popover-body>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui delectus,
        ut alias debitis nulla architecto doloremque dolor tempora. Ipsum, nemo.
      </div>
    </fui-popover>
    <fui-popover [position]="'left'"
      >Popover left
      <div popover-body>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui delectus,
        ut alias debitis nulla architecto doloremque dolor tempora. Ipsum, nemo.
      </div>
    </fui-popover>
    <fui-popover [position]="'top'">
      <fui-icons [icon]="'alert'"></fui-icons>

      <div popover-body>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui delectus,
        ut alias debitis nulla architecto doloremque dolor tempora. Ipsum, nemo.
      </div>
    </fui-popover>
    <fui-popover [position]="'right'">
      <fui-icons [icon]="'alert'"></fui-icons>

      <div popover-body>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui delectus,
        ut alias debitis nulla architecto doloremque dolor tempora. Ipsum, nemo.
      </div>
    </fui-popover>
  </div>

  <div class="popovers">
    <fui-popover [position]="'top'" [align]="'start'"
      >Popover Top Start
      <div popover-body>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui delectus,
        ut alias debitis nulla architecto doloremque dolor tempora. Ipsum, nemo.
      </div>
    </fui-popover>
    <fui-popover [position]="'top'" [align]="'center'"
      >Popover Top Center
      <div popover-body>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui delectus,
        ut alias debitis nulla architecto doloremque dolor tempora. Ipsum, nemo.
      </div>
    </fui-popover>
    <fui-popover [position]="'top'" [align]="'end'"
      >Popover Top End
      <div popover-body>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui delectus,
        ut alias debitis nulla architecto doloremque dolor tempora. Ipsum, nemo.
      </div>
    </fui-popover>
  </div>

  <div class="popovers">
    <fui-popover [position]="'bottom'" [align]="'start'"
      >Popover Bottom Start
      <div popover-body>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui delectus,
        ut alias debitis nulla architecto doloremque dolor tempora. Ipsum, nemo.
      </div>
    </fui-popover>
    <fui-popover [position]="'bottom'" [align]="'center'"
      >Popover Bottom Center
      <div popover-body>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui delectus,
        ut alias debitis nulla architecto doloremque dolor tempora. Ipsum, nemo.
      </div>
    </fui-popover>
    <fui-popover [position]="'bottom'" [align]="'end'"
      >Popover Bottom End
      <div popover-body>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui delectus,
        ut alias debitis nulla architecto doloremque dolor tempora. Ipsum, nemo.
      </div>
    </fui-popover>
  </div>

  <div class="popovers">
    <fui-popover [position]="'left'" [align]="'start'"
      >Popover Left Start
      <div popover-body>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui delectus,
        ut alias debitis nulla architecto doloremque dolor tempora. Ipsum, nemo.
      </div>
    </fui-popover>
    <fui-popover [position]="'left'" [align]="'center'"
      >Popover Left Center
      <div popover-body>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui delectus,
        ut alias debitis nulla architecto doloremque dolor tempora. Ipsum, nemo.
      </div>
    </fui-popover>
    <fui-popover [position]="'left'" [align]="'end'"
      >Popover Left End
      <div popover-body>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui delectus,
        ut alias debitis nulla architecto doloremque dolor tempora. Ipsum, nemo.
      </div>
    </fui-popover>
  </div>

  <div class="popovers">
    <fui-popover [position]="'right'" [align]="'start'"
      >Popover Right Start
      <div popover-body>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui delectus,
        ut alias debitis nulla architecto doloremque dolor tempora. Ipsum, nemo.
      </div>
    </fui-popover>
    <fui-popover [position]="'right'" [align]="'center'"
      >Popover Right Center
      <div popover-body>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui delectus,
        ut alias debitis nulla architecto doloremque dolor tempora. Ipsum, nemo.
      </div>
    </fui-popover>
    <fui-popover [position]="'right'" [align]="'end'"
      >Popover Right End
      <div popover-body>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui delectus,
        ut alias debitis nulla architecto doloremque dolor tempora. Ipsum, nemo.
      </div>
    </fui-popover>
  </div>

  <div class="popovers">
    <fui-popover
      [displayHeader]="true"
      [headerTitle]="'Popover Header'"
      [displayFooter]="true"
      [footerType]="'text'"
      [footerText]="'Popover Footer'"
      [position]="'top'"
      >Popover Top Header Footer Text
      <div popover-body>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui delectus,
        ut alias debitis nulla architecto doloremque dolor tempora. Ipsum, nemo.
      </div>
    </fui-popover>
    <fui-popover
      [displayHeader]="true"
      [headerTitle]="'Popover Header'"
      [displayFooter]="true"
      [footerType]="'text'"
      [footerText]="'Popover Footer'"
      [position]="'bottom'"
      >Popover Bottom Header Footer Text
      <div popover-body>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui delectus,
        ut alias debitis nulla architecto doloremque dolor tempora. Ipsum, nemo.
      </div>
    </fui-popover>
  </div>

  <div class="popovers">
    <fui-popover
      [displayHeader]="true"
      [headerTitle]="'Popover Header'"
      [displayFooter]="true"
      [footerType]="'text'"
      [footerText]="'Popover Footer'"
      [position]="'right'"
      >Popover Right Header Footer Text
      <div popover-body>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui delectus,
        ut alias debitis nulla architecto doloremque dolor tempora. Ipsum, nemo.
      </div>
    </fui-popover>
    <fui-popover
      [displayHeader]="true"
      [headerTitle]="'Popover Header'"
      [displayFooter]="true"
      [footerType]="'text'"
      [footerText]="'Popover Footer'"
      [position]="'left'"
      >Popover left Header Footer Text
      <div popover-body>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui delectus,
        ut alias debitis nulla architecto doloremque dolor tempora. Ipsum, nemo.
      </div>
    </fui-popover>
  </div>

  <div class="popovers">
    <fui-popover
      [displayHeader]="true"
      [headerTitle]="'Popover Header'"
      [displayFooter]="true"
      [footerType]="'button'"
      [footerButtonText]="'Popover Footer'"
      [position]="'top'"
      >Popover Top Header Footer Button
      <div popover-body>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui delectus,
        ut alias debitis nulla architecto doloremque dolor tempora. Ipsum, nemo.
      </div>
    </fui-popover>
    <fui-popover
      [displayHeader]="true"
      [headerTitle]="'Popover Header'"
      [displayFooter]="true"
      [footerType]="'button'"
      [footerButtonText]="'Popover Footer'"
      [position]="'bottom'"
      >Popover Bottom Header Footer Button
      <div popover-body>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui delectus,
        ut alias debitis nulla architecto doloremque dolor tempora. Ipsum, nemo.
      </div>
    </fui-popover>
  </div>

  <div class="popovers">
    <fui-popover
      [displayHeader]="true"
      [headerTitle]="'Popover Header'"
      [displayFooter]="true"
      [footerType]="'button'"
      [footerButtonText]="'Popover Footer'"
      [position]="'right'"
      >Popover Right Header Footer Button
      <div popover-body>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui delectus,
        ut alias debitis nulla architecto doloremque dolor tempora. Ipsum, nemo.
      </div>
    </fui-popover>
    <fui-popover
      [displayHeader]="true"
      [headerTitle]="'Popover Header'"
      [displayFooter]="true"
      [footerType]="'button'"
      [footerButtonText]="'Popover Footer'"
      [position]="'left'"
      [displayPopover]="isDisplayPopover"
      (isPopoverDisplay)="getValueIsPopoverDisplay($event)"
      (onClickFooterPopover)="handleClickFooterClosePopover()"
      >Popover left Header Footer Button
      <div popover-body>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui delectus,
        ut alias debitis nulla architecto doloremque dolor tempora. Ipsum, nemo.
      </div>
    </fui-popover>
  </div>
</div>
